{% extends "/layout/master.html" %}
{% set title = "All Inventory" %}
{% set typeFrontEnd = "Inventory" %}
{% set section_type = "All Inventory" %}
{% block content %}
<div class="row">
  <div class="col-4-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Tambah Barang Masuk</h3>
          </div>
          <!-- <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i
                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div> -->
        </div>
        <form class="new-added-form">
          <div class="row">
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Tanggal</label>
              <input type="date" name="dateInvIn" id="dateInvIn" class="form-control" required>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Nama Barang</label>
              <select class="select2" id="nama_produk" style="width: 100%;">
                <option value="">Silahkan pilih</option>
                {% for i in data_barang %}
                <option value="{{i.id_inventory}}">{{i.nama_produk}}</option>
                {% endfor %}
              </select>
            </div>
            <input type="text" name="id_inventory" id="id_inventory" hidden>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Kode Barang</label>
              <select class="select2" id="kode" style="width: 100%;" name="kode">
                <option value="">Silahkan pilih</option>
                {% for i in data_barang %}
                <option value="{{i.id_inventory}}">{{i.kode_produk}}</option>
                {% endfor %}
              </select>
              <!-- <input type="text" name="kode" placeholder="" class="form-control" id="kode" readonly> -->
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Jumlah </label>
              <input type="number" name="jumlah" id="jumlah" class="form-control">
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Keterangan </label>
              <input type="text" name="ket" id="ket" class="form-control">
            </div>
            <div class="col-12 form-group mg-t-8">
              <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
                id="add_inv_in">Simpan</button>
              <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow" id="reset">Mengatur
                Ulang</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Expanse Table Area Start Here -->
  <div class="col-8-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Data Barang Masuk</h3>
          </div>
          <!-- <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
  
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
            <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
          </div>
        </div> -->

        </div>

        <div class="table-responsive">
          <table class="table text-nowrap" id="allinvin">
            <thead class="text-center">
              <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Jumlah</th>
                <th>ket</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="show_inventory_in">

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Expanse Table Area End Here -->
</div>



<!-- Modal -->
<!-- MODAL DELETE -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog success-modal-content" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="success-message">
          <input type="hidden" name="kode" id="textkode" value="" hidden>
          <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="footer-btn bg-linkedin" id="btn_hapus">Ok</button>
        <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL UPDATE -->
<div class="modal fade" id="detail-inv-in" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detail Barang Masuk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card ui-tab-card">
        <div class="card-body">
          <div class="single-info-details">
            <div class="item-content">
              <div class="header-inline item-header">
                <!-- <h3 class="text-dark-medium font-medium" name="first_name"></h3> -->

              </div>
              <div>
                <form>
                  <input type="text" name="id_inv_inEdit" id="id_inv_inEdit" hidden>
                  <div class="form-group">
                    <label>Tanggal</label>
                    <input type="date" name="dateInvInEdit" id="dateInvInEdit" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label>Nama Barang</label>
                    <select class="select2" id="nama_produkEdit" style="width: 100%;">
                      <option value="">Silahkan pilih</option>
                      {% for i in data_barang %}
                      <option value="{{i.id_inventory}}">{{i.nama_produk}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <input type="text" name="id_inventoryEdit" id="id_inventoryEdit" hidden>
                  <div class="form-group">
                    <label>Kode Barang</label>
                    <select class="select2" id="kodeEdit" style="width: 100%;" name="kodeEdit">
                      <option value="">Silahkan pilih</option>
                      {% for i in data_barang %}
                      <option value="{{i.id_inventory}}">{{i.kode_produk}}</option>
                      {% endfor %}
                    </select>
                    <!-- <input type="text" name="kode" placeholder="" class="form-control" id="kode" readonly> -->
                  </div>
                  <div class="form-group">
                    <label>Jumlah </label>
                    <input type="number" name="jumlahEdit" id="jumlahEdit" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Keterangan </label>
                    <input type="text" name="ketEdit" id="ketEdit" class="form-control">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="footer-btn bg-linkedin" id="btn_update_inv_in_edit">Simpan</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    var kode_produk = $('#kode')
    var id_inventory = $('#id_inventory')
    var nama = $('#nama_produk')
    $("#nama_produk").on('change', function () {
      // console.log(nama.val() != kode_produk.val())
      if (nama.val() != kode_produk.val()) {
        $("#kode").val(nama.val()).change();
        $('#id_inventory').val(nama.val());
        $("#kode").attr('readonly', true)
        $("#kode").attr('disabled', true)
      }
    });
    
    inventory = function () {
      table = $('#allinvin').on('preXhr.dt', function (e, settings, data) {
        console.log('loading ....')
      }).on('draw.dt', function (e, settings, data) {
        console.log('dapat data .....')
      }).DataTable({
        responsive: {
          details: {
            type: 'column'
          }
        },
        "columnDefs": [
          { "targets": 0, className: "text-center", "orderable": false },
          { "targets": 1, className: "text-start", "orderable": false },
          { "targets": 2, className: "text-center", "orderable": false },
          { "targets": 3, className: "text-start", "orderable": false },
          { "targets": 4, className: "text-start", "orderable": false },
          { "targets": 5, className: "text-start", "orderable": false },
          { "targets": 6, className: "text-start", "orderable": false },
        ],
        'pageLength': 10,
        'responsive': true,
        'processing': true,
        'serverSide': true,
        'ajax': {
          'url': "/api/allinvin",
          'dataType:': 'json',
          'type': 'get',

        },
        'columns': [
          { 'data': 'no' },
          { 'data': 'tgl' },
          { 'data': 'kode' },
          { 'data': 'nama' },
          { 'data': 'jumlah' },
          { 'data': 'ket' },
          { 'data': 'aksi' },
        ]
      })
    }
    inventory();

    //GET HAPUS
    $('#show_inventory').on('click', '.item_hapus', function () {
      var id = $(this).attr('data');
      $('#confirmation-modal').modal('show');
      $('[name="kode"]').val(id);
    });
    //Hapus Data
    $('#btn_hapus').on('click', function () {
      var kode = $('#textkode').val();
      $.ajax({
        type: "POST",
        url: "/api/delete-inventory",
        dataType: "JSON",
        data: { kode: kode },
        success: function (data) {
          if (data) {
            $('#confirmation-modal').modal('hide');
            let timerInterval
            Swal.fire({
              title: 'Memuat Data...',
              html: 'Tunggu  <b></b>  Detik.',
              timer: 300,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = Swal.getTimerLeft()
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }

            }).then((result) => {
              table.draw(false)
              pengeluaran.draw(false)
              Swal.fire(
                {
                  icon: 'success',
                  title: 'Berhasil',
                  text: 'Data telah dihapus.',
                }

              )
            })


          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Ada yang eror!',
              //footer: '<a href="">Why do I have this issue?</a>'
            })
          }



        }
      });
      return false;
    });

    //Show_Inventory In
    $('#show_inventory').on('click', '.inventory_detail', function () {
      var id = $(this).attr('data');
      $.ajax({
        type: "GET",
        url: "/" + "api" + "/" + id + "/inventory-detail",
        dataType: "JSON",
        data: { id: id },
        success: function (data) {

          // $.each(data, function (key, val) {
          console.log(data);
          $('#detail-inventory').on('shown.bs.modal', function (e) {
            $('#jumlah').focus();
          }).modal('show');
          $('[name="id_inventory"]').val(data.id_inventory);
          $('[name="kode"]').val(data.kode_produk);
          $('[name="nama"]').val(data.nama_produk);
          $('[name="kondisi"]').val(data.kondisi).change();
          $('[name="jumlah"]').val(data.jumlah);
          $('[name="ket"]').val(data.jumlah);
          // });
        }
      });
      return false;
    });
    //Update Inventory In
    $('#btn_update_inventory_edit').click(function (e) {
      var id_inventory = $('#id_inventory').val();
      var kode = $('#kode').val();
      var nama = $('#nama').val();
      var kondisi = $('#kondisi').val();
      var jumlah = $('#jumlah').val();
      $.ajax({
        type: "POST",
        url: "/api/update-inventory-detail",
        dataType: "JSON",
        data: { id: id_inventory, nama_produk: nama, kode_produk: kode, kondisi: kondisi, jumlah: jumlah },
        success: function (data) {
          if (data) {
            $('#detail-inventory').modal('hide');
            let timerInterval
            Swal.fire({
              title: 'Memuat Data...',
              html: 'Tunggu  <b></b>  Detik.',
              timer: 300,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = Swal.getTimerLeft()
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              table.draw(false)
              Swal.fire(
                {
                  icon: 'success',
                  title: 'Berhasil',
                  text: 'Data telah diubah.',
                  //footer: '<a href="">Why do I have this issue?</a>'
                }

              )
            })
            transTable.draw(false)
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Ada yang eror!',
              //footer: '<a href="">Why do I have this issue?</a>'
            })
          }
        }
      });
      return false;
    });
    //ADD INV IN 
    $('#add_inv_in').on('click', function () {
      var id_inventory = $('#id_inventory').val();
      var jumlah = $('#jumlah').val();
      var ket = $('#ket').val();
      var date = $('#dateInvIn').val();
      if (id_inventory == ""
        || jumlah == ""
        || ket == ""
        || date == ""
      ) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: 'Data harus diisi semua!'
        })
      } else {
        $.ajax({
          type: "POST",
          url: "/api" + "/addinvin",
          dataType: "JSON",
          data: { id_inventory: id_inventory, jumlah: jumlah, ket: ket, date: date },
          success: function (data) {
            if (data) {
              let timerInterval
              Swal.fire({
                title: 'Memuat Data...',
                html: 'Tunggu  <b></b>  Detik.',
                timer: 300,
                timerProgressBar: true,
                didOpen: () => {
                  Swal.showLoading()
                  const b = Swal.getHtmlContainer().querySelector('b')
                  timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                  }, 100)
                },
                willClose: () => {
                  clearInterval(timerInterval)
                }
              }).then((result) => {
                $('#kode_produk').val('').change();
                $('#nama_produk').val('').change();
                $('#id_inventory').val('');
                $('#jumlah').val('')
                $('#ket').val('');
                Swal.fire(
                  {
                    icon: 'success',
                    title: 'Berhasil',
                    text: 'Data telah ditambahkan.',
                    //footer: '<a href="">Why do I have this issue?</a>'
                  }

                )
                $('#addModal').modal('hide');
              });

              table.draw(false)
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Ada yang eror!'
              })
            }

          }
        });
        return false;
      }
    });

    // RESET BUTTON
    $('#reset').click(function (e) {
      e.preventDefault();
      // console.log('reset')
      $('#dateInvIn')[0].value = 0;
      $('#nama_produk').val('').change();
      $('#kode').val('').change();
      $('#jumlah').val('');
      $('#ket').val('');

    });
    // DELETE INV IN
    // GET
    $('#show_inventory_in').on('click', '.item_hapus', function () {
      var id = $(this).attr('data');
      $('#confirmation-modal').modal('show');
      $('[name="kode"]').val(id);
      // console.log(id);
    });

    // DELETE
    $('#btn_hapus').on('click', function () {
      var kode = $('#textkode').val();

      $.ajax({
        type: "POST",
        url: "/api" + "/deleteinvin",
        dataType: "JSON",
        data: { kode: kode },
        success: function (data) {
          if (data) {
            $('#confirmation-modal').modal('hide');
            let timerInterval
            Swal.fire({
              title: 'Memuat Data...',
              html: 'Tunggu  <b></b>  Detik.',
              timer: 300,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = Swal.getTimerLeft()
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              Swal.fire(
                {
                  icon: 'success',
                  title: 'Berhasil',
                  text: 'Data telah dihapus.',
                }
              )
            });
            table.draw(false);
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Ada yang eror!',
            })
          }
        }
      });
      return false;
    });

    //UPDATE
    $('#show_inventory_in').on('click', '.inv_in_detail', function () {
      var id = $(this).attr('data');
      // $('#detail_subject').modal('show');
      $.ajax({
        type: "GET",
        url: "/api/" + id + "/detailinvin",
        dataType: "JSON",
        data: { id: id },
        success: function (data) {
          $('#detail-inv-in').on('shown.bs.modal', function () {
            $('#ketEdit').focus();
          }).modal('show');
          // $('#detail_subject').modal('show');
          $('[name="id_inv_inEdit"]').val(data.id_inv_in);
          $('[name="dateInvInEdit"]').val(data.tanggal);
          $('#nama_produkEdit').val(data.id_inventory).change();
          $('[name="kodeEdit"]').val(data.id_inventory).change();
          $('[name="jumlahEdit"]').val(data.jumlah);
          $('[name="ketEdit"]').val(data.ket);
        }
      });
      return false;
      console.log(id);
    });
    $("#nama_produkEdit").on('change', function () {
      // console.log(nama.val() != kode_produk.val())
      var kode_produkEdit = $('#kodeEdit')
      // var id_inventory = $('#id_inventoryEdit')
      var namaEdit = $('#nama_produkEdit')
      if (namaEdit.val() != kode_produkEdit.val()) {
        $("#kodeEdit").val(namaEdit.val()).change();
        $('#id_inventoryEdit').val(namaEdit.val());
        $("#kodeEdit").attr('readonly', true)
        $("#kodeEdit").attr('disabled', true)
      }
    });
    $('#btn_update_inv_in_edit').click(function (e) {
      var id_inv_in = $('#id_inv_inEdit').val();
      var date = $('#dateInvInEdit').val();
      var id_inventory = $('#id_inventoryEdit').val();
      var jumlah = $('#jumlahEdit').val();
      var ket = $('#ketEdit').val();
      

      $.ajax({
        type: "POST",
        url: "/api" + "/updateinvin",
        dataType: "JSON",
        data: { 
          id : id_inv_in,
          date : date,
          id_inventory : id_inventory,
          jumlah : jumlah,
          ket : ket
        },
        success: function (data) {
          if (data) {
            $('#detail-inv-in').modal('hide');
            let timerInterval
            Swal.fire({
              title: 'Memuat Data...',
              html: 'Tunggu  <b></b>  Detik.',
              timer: 300,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = Swal.getTimerLeft()
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              Swal.fire(
                {
                  icon: 'success',
                  title: 'Berhasil',
                  text: 'Data telah diubah.',
                  //footer: '<a href="">Why do I have this issue?</a>'
                }
              )
            });
            table.draw(false);
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Ada yang eror!',
            })
          }
        }
      });
      return false;
    });

  })
</script>
<!-- {% include "acconunt/ajax.html" %}
  {% block ajax %}
  {% endblock ajax %} -->
{% endblock content %}