{% block ajax %}
<script type="text/javascript">

    $(document).ready(function () {
        payment = function () {

            table = $("#allfees").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function (e, settings, data) {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-start", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-start", "orderable": false },
                    { "targets": 4, className: "text-start", "orderable": false },
                    { "targets": 5, className: "text-start", "orderable": false },
                    { "targets": 6, className: "text-start", "orderable": false },
                    { "targets": 7, className: "text-right", "orderable": false },
                    { "targets": 8, className: "text-start", "orderable": false },
                    { "targets": 9, className: "text-center", "orderable": false },
                    { "targets": 10, className: "text-start", "orderable": false },
                    { "targets": 11, className: "text-start", "orderable": false },
                    { "targets": 12, className: "text-start", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api/allfees",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nisn' },
                    { 'data': 'foto' },
                    { 'data': 'nama' },
                    { 'data': 'gender' },
                    { 'data': 'kelas' },
                    { 'data': 'pembayaran' },
                    { 'data': 'biaya' },
                    { 'data': 'status_pembayaran' },
                    { 'data': 'date' },
                    { 'data': 'email' },
                    { 'data': 'telepon' },
                    { 'data': 'aksi' }

                ]


            });

        }
        payment();

        //GET HAPUS
        $('#show_payment').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $('#confirmation-modal').modal('show');
            $('[name="kode"]').val(id);
        });

        //Hapus Data
        $('#btn_hapus').on('click', function () {
            var kode = $('#textkode').val();
            $.ajax({
                type: "POST",
                url: "/api/delete-fees",
                dataType: "JSON",
                data: { kode: kode },
                success: function (data) {
                    if (data) {
                        $('#confirmation-modal').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }

                        }).then((result) => {
                            table.draw(false)
                            pengeluaran.draw(false)
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah dihapus.',
                                }

                            )
                        })


                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }



                }
            });
            return false;
        });

        //Show_payment
        $('#show_payment').on('click', '.payment_detail', function () {
            var id = $(this).attr('data');
            $.ajax({
                type: "GET",
                url: "/" + "api" + "/" + id + "/payment-detail",
                dataType: "JSON",
                data: { id: id },
                success: function (data) {

                    // $.each(data, function (key, val) {
                    console.log(data);
                    //$('#detail-payment').modal('show');
                    $('#detail-payment').on('shown.bs.modal', function (e) {
                        $('#amount_payment').focus();
                    }).modal('show');
                    $('[name="id_finance"]').val(data.id_finance);
                    $('[name="NISN"]').val(data.NISN);
                    $('[name="nama"]').val(data.first_name + ' ' + data.last_name);
                    $('[name="class"]').val(data.class + ' ' + data.section);
                    $('[name="payment_type_name"]').val(data.id_payment_type).change();
                    $('[name="amount_payment"]').val(data.amount_payment);
                    $('[name="status_pembayaran"]').val(data.status_pembayaran).change();
                    $('[name="date_payment"]').val(data.date_payment);
                    $('[name="tipe_finance"]').val(data.tipe_finance).change();

                    // });
                }
            });
            return false;
        });

        //Update Payment
        $('#btn_update_payment_edit').click(function (e) {
            var id_finance = $('#id_finance').val();
            var payment_type_name = $('#payment_type_name').val();
            var amount_payment = $('#amount_payment').val();
            var status_pembayaran = $('#status_pembayaran').val();
            var date_payment = $('#date_payment').val();
            var tipe_finance = $('#tipe_finance').val();
            $.ajax({
                type: "POST",
                url: "/api/update-payment-detail",
                dataType: "JSON",
                data: { id_finance: id_finance, payment_type_name: payment_type_name, amount_payment: amount_payment, status_pembayaran: status_pembayaran, date_payment: date_payment, tipe_finance: tipe_finance },
                success: function (data) {
                    if (data) {
                        $('#detail-payment').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            table.draw(false)
                            pengeluaran.draw(false)
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah diubah.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                        })

                        transTable.draw(false)
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }
                }
            });
            return false;
        });


        pengeluaran = function () {

            pengeluaran = $("#allexpense").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data pembayaran ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-start", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-right", "orderable": false },
                    { "targets": 4, className: "text-start", "orderable": false },
                    { "targets": 5, className: "text-start", "orderable": false },
                    { "targets": 6, className: "text-center", "orderable": false },
                    { "targets": 7, className: "text-end", "orderable": false },
                    { "targets": 8, className: "text-end", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api/allexpense",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nama' },
                    { 'data': 'tipe' },
                    { 'data': 'biaya' },
                    { 'data': 'status' },
                    { 'data': 'date' },
                    { 'data': 'telepon' },
                    { 'data': 'email' },
                    { 'data': 'aksi' },

                ]


            });

        }
        pengeluaran();

        //GET HAPUS
        $('#show_expense').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $('#confirmation-modal').modal('show');
            $('[name="kode"]').val(id);
        });
        //Show_pengeleuaran
        $('#show_expense').on('click', '.payment_detail', function () {
            var id = $(this).attr('data');
            $.ajax({
                type: "GET",
                url: "/" + "api" + "/" + id + "/payment-detail",
                dataType: "JSON",
                data: { id: id },
                success: function (data) {

                    // $.each(data, function (key, val) {
                    console.log(data);
                    $('#detail-payment').on('shown.bs.modal', function (e) {
                        $('#amount_payment').focus();
                    }).modal('show');
                    $('[name="id_finance"]').val(data.id_finance);
                    $('[name="NISN"]').val(data.NISN);
                    $('[name="nama"]').val(data.first_name + ' ' + data.last_name);
                    $('[name="payment_type_name"]').val(data.id_payment_type).change();
                    $('[name="amount_payment"]').val(data.amount_payment);
                    $('[name="status_pembayaran"]').val(data.status_pembayaran).change();
                    $('[name="date_payment"]').val(data.date_payment);
                    $('[name="tipe_finance"]').val(data.tipe_finance).change();

                    // });
                }
            });
            return false;
        });


        var id = $('#id_parent').attr('data-id');
        Tabel1Show = function () {

            table1 = $("#data_v2").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log(id);

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 3, className: "text-right", "orderable": false },
                    { "width": "10%", "targets": 4, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 5, className: "text-end", "orderable": false },
                    { "width": "15%", "targets": 6, className: "text-center", "orderable": false },
                    { "width": "15%", "targets": 7, className: "text-center", "orderable": false }

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api" + "/" + id + "/select",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'NISN' },
                    { 'data': 'Nama' },
                    { 'data': 'payment_type_name' },
                    { 'data': 'amount_payment' },
                    { 'data': 'status_pembayaran' },
                    { 'data': 'email' },
                    { 'data': 'date_payment' },
                    { 'data': 'aksi' }

                ]


            });

        }

        Tabel1Show();
    });









</script>



{% endblock ajax %}