{% block ajax %}
<script type="text/javascript">
    
    $('#ScoreExamInput').keyup(function (e) {
        e.preventDefault();
        var nilai = $('#ScoreExamInput').val();
        if (nilai < 60) {
            $('#gradeExam').val(9).change()
        }
        else if (nilai < 65) {
            $('#gradeExam').val(8).change()
        }
        else if (nilai < 70) {
            $('#gradeExam').val(7).change()
        }
        else if (nilai < 75) {
            $('#gradeExam').val(6).change()
        }
        else if (nilai < 80) {
            $('#gradeExam').val(5).change()
        }
        else if (nilai < 85) {
            $('#gradeExam').val(4).change()
        }
        else if (nilai < 90) {
            $('#gradeExam').val(3).change()
        } else if (nilai < 95) {
            $('#gradeExam').val(2).change()
        } else if (nilai <= 100) {
            $('#gradeExam').val(1).change()
        }
    })
    $('#mScoreExamInput').keyup(function (e) {
        e.preventDefault();
        var nilai = $('#mScoreExamInput').val();
        if (nilai < 60) {
            $('#mgradeExam').val(9).change()
        }
        else if (nilai < 65) {
            $('#mgradeExam').val(8).change()
        }
        else if (nilai < 70) {
            $('#mgradeExam').val(7).change()
        }
        else if (nilai < 75) {
            $('#mgradeExam').val(6).change()
        }
        else if (nilai < 80) {
            $('#mgradeExam').val(5).change()
        }
        else if (nilai < 85) {
            $('#mgradeExam').val(4).change()
        }
        else if (nilai < 90) {
            $('#mgradeExam').val(3).change()
        } else if (nilai < 95) {
            $('#mgradeExam').val(2).change()
        } else if (nilai <= 100) {
            $('#mgradeExam').val(1).change()
        }
    })




    $(document).ready(function () {
        function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                // Just this once, load all data from the server...
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function (e, settings) {
                    // Call the original action function
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                        $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                        $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-print') >= 0) {
                        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                    }
                    dt.one('preXhr', function (e, s, data) {
                        // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                        // Set the property to what it was before exporting.
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                    setTimeout(dt.ajax.reload, 0);
                    // Prevent rendering of the full data to the DOM
                    return false;
                });
            });
            // Requery the server with the new one-time export settings
            dt.ajax.reload();
        }
        var id = $('#idd').attr('data-result');
        Tabel2Show = function () {

            table2 = $("#Result").on('preXhr.dt', function (e, settings, data) {


            }).on('draw.dt', function () {

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-start", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-start", "orderable": false },
                    { "targets": 4, className: "text-center", "orderable": false },
                    { "targets": 5, className: "text-center", "orderable": false },
                    { "targets": 6, className: "text-end", "orderable": false },
                    { "targets": 7, className: "text-end", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                'ajax': {
                    'url': "/api" + "/" + id + "/result",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'nisn' },
                    { 'data': 'nama' },
                    { 'data': 'ujian' },
                    { 'data': 'mapel' },
                    { 'data': 'kelas' },
                    { 'data': 'session' },
                    { 'data': 'nilai' },
                    { 'data': 'grade' },
                    { 'data': 'tanggal' }
                ]


            });


        }

        Tabel2Show(false)

        Result = function () {

            Result = $("#all-result").on('preXhr.dt', function (e, settings, data) {


            }).on('draw.dt', function () {

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-start", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-start", "orderable": false },
                    { "targets": 4, className: "text-center", "orderable": false },
                    { "targets": 5, className: "text-end", "orderable": false },
                    { "targets": 6, className: "text-end", "orderable": false },
                    { "targets": 7, className: "text-end", "orderable": false },
                    { "targets": 8, className: "text-end", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                'ajax': {
                    'url': "/api/all-result",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'nisn' },
                    { 'data': 'nama' },
                    { 'data': 'ujian' },
                    { 'data': 'mapel' },
                    { 'data': 'kelas' },
                    { 'data': 'session' },
                    { 'data': 'nilai' },
                    { 'data': 'grade' },
                    { 'data': 'tanggal' },
                    { 'data': 'aksi' },
                ]


            });



        }

        ResultS = function () {

            Result1 = $("#all-resultS").on('preXhr.dt', function (e, settings, data) {


            }).on('draw.dt', function () {

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-start", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-start", "orderable": false },
                    { "targets": 4, className: "text-center", "orderable": false },
                    { "targets": 5, className: "text-end", "orderable": false },
                    { "targets": 6, className: "text-end", "orderable": false },
                    { "targets": 7, className: "text-end", "orderable": false },
                    // { "targets": 8, className: "text-end", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                'ajax': {
                    'url': "/api/all-resultS",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'nisn' },
                    { 'data': 'nama' },
                    { 'data': 'ujian' },
                    { 'data': 'mapel' },
                    { 'data': 'kelas' },
                    { 'data': 'nilai' },
                    { 'data': 'grade' },
                    { 'data': 'tanggal' },
                    // { 'data': 'aksi' },
                ]


            });



        }
        Result(false)
        ResultS(false)

        //GET HAPUS
        $('#show_result').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            $('#hapus-modal').modal('show');
            $('[name="kode"]').val(id);
        });


        //Hapus Data
        $('#btn_hapus_result').on('click', function () {
            var kode = $('#textkode').val();
            $.ajax({
                type: "POST",
                url: "/api/delete-result",
                dataType: "JSON",
                data: { kode: kode },
                success: function (data) {
                    if (data) {
                        $('#hapus-modal').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }

                        }).then((result) => {
                            Result.draw(false)

                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah dihapus.',
                                }

                            )
                        })


                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }



                }
            });
            return false;
        });

        // RESET BUTTON
        $('#reset').click(function (e) {
            e.preventDefault();
            $('#get-siswa').val(0).change();
            $('#exam_type').val(0).change();
            $('#ScoreExamInput').val('');
            $('#gradeExam').val(0).change()

        });

        //tambah Data Exam Result
        $('#get-siswa').on('change', function(){
            //console.log($('#get-siswa').val());
            var id_siswa = $('#get-siswa').val();
            $.ajax({
                type: "GET",
                url: "/getExamBasedOnStudent",
                data: {
                    id: id_siswa
                },
                dataType: "JSON",
                success: function (response) {
                  //console.log(response)
                  for(var i = 0; i < response.examData.length; i++){
                    $('#exam_type').append('<option value="'+response.examData[i].id_exam+'">'+response.examData[i].exam_type+' '+response.examData[i].subject_name+' '+response.examData[i].semester+'</option>')
                  }
                }
              });
        })
        $('#btn_add_exam_result').on('click', function () {
            var id_siswa = $('#get-siswa').val();
            var id_exam = $('#exam_type').val();
            var score = $('#ScoreExamInput').val();
            var id_grade = $('#gradeExam').val();
            console.log(exam_type)
            if (id_siswa == ""
                || id_exam == ""
                || score == ""
                || id_grade == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Data harus diisi semua!'
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/api/exam/add-exam-result",
                    dataType: "JSON",
                    data: { id_siswa: id_siswa, id_exam: id_exam, score: score, id_grade: id_grade },
                    success: function (data) {
                        if (data) {
                            console.log(data)
                            let timerInterval
                            Swal.fire({
                                title: 'Memuat Data...',
                                html: 'Tunggu  <b></b>  Detik.',
                                timer: 300,
                                timerProgressBar: true,
                                didOpen: () => {
                                    Swal.showLoading()
                                    const b = Swal.getHtmlContainer().querySelector('b')
                                    timerInterval = setInterval(() => {
                                        b.textContent = Swal.getTimerLeft()
                                    }, 100)
                                },
                                willClose: () => {
                                    clearInterval(timerInterval)
                                }
                            }).then((result) => {

                                Result.draw(false)

                                $('#get-siswa').val(0).change();
                                $('#exam_type').val(0).change();
                                $('#ScoreExamInput').val('');
                                $('#gradeExam').val(0).change()




                                Swal.fire(
                                    {
                                        icon: 'success',
                                        title: 'Berhasil',
                                        text: 'Data telah ditambahkan.',
                                        //footer: '<a href="">Why do I have this issue?</a>'
                                    }

                                )

                            })

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Ada yang eror!',
                                //footer: '<a href="">Why do I have this issue?</a>'
                            })
                        }

                    }
                });
            }

            return false;
        });






        //Show_Nilai_Ujian
        $('#show_result').on('click', '.result_detail', function () {
            var id = $(this).attr('data');
            $.ajax({
                type: "GET",
                url: "/" + "api" + "/" + id + "/result-detail",
                dataType: "JSON",
                data: { id: id },
                success: function (data) {
                    // $.each(data, function (key, val) {
                    console.log(data);
                    $('#detail-result').on('shown.bs.modal', function (e) {
                        $('#mScoreExamInput').focus();
                    }).modal('show');
                    
                    $('[name="id_result"]').val(data.id_result);
                    $('[name="id_user"]').val(data.id_user).change();
                    $.ajax({
                        type: "GET",
                        url: "/getExamBasedOnStudent",
                        data: {
                            id: data.id_user
                        },
                        dataType: "JSON",
                        success: function (response) {
                            //console.log(response)
                            for(var i = 0; i < response.examData.length; i++){
                            $('[name="id_exam"]').append('<option value="'+response.examData[i].id_exam+'">'+response.examData[i].exam_type+' '+response.examData[i].subject_name+' '+response.examData[i].semester+'</option>')
                            }
                            $('[name="id_exam"]').val(data.id_exam).change();
                        }
                    });
                    $('[name="id_grade"]').val(data.id_exam_grade).change();
                    $('[name="mScore"]').val(data.score);

                    // });
                }
            });
            return false;
        });

        //Update Result
        $('#btn_update_result_edit').click(function (e) {
            var id_result = $('#id_result').val();
            var id_user = $('#id_user').val();
            var id_exam = $('#mexam_type').val();
            var score = $('#mScoreExamInput').val();
            var id_exam_grade = $('#mgradeExam').val();
            $.ajax({
                type: "POST",
                url: "/api/update-result-detail",
                dataType: "JSON",
                data: { id_user: id_user, id_result: id_result, id_exam: id_exam, score: score, id_exam_grade: id_exam_grade },
                success: function (data) {
                    if (data) {
                        $('#detail-result').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            Result.draw(false)
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah diubah.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                        })

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }
                }
            });
            return false;
        });
        


    });

</script>



{% endblock ajax %}