{% extends "/layout/master.html" %}
{% set title = "Exam Grade" %}
{% set typeFrontEnd = "Exam" %}
{% set section_type = "Exam Grade" %}
{% block content %}
    
<div class="row">
    <!-- Exam Grade List Area Start Here -->
    <div class="col-10-xxxl col-10">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Exam Grade Lists</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table display text-nowrap" id="data_grade">
                        <thead class="text-center">
                            <tr>
                                <th>No</th>
                                <th>Grade Nilai</th>
                                <th>Nilai</th>
                                <th>Keterangan</th>
                                <th>Point</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="show_grade">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Exam Grade List Area End Here -->
</div>

<!-- MODAL UPDATE -->
<div class="modal fade" id="detail-grade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Grade Nilai</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card ui-tab-card">
          <div class="card-body">
            <div class="single-info-details">
              <div class="item-content">
                <div class="header-inline item-header">
  
                </div>
                <div>
                  <form>
  
                    <input type="text" name="id_exam_grade" id="id_exam_grade" hidden>
                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Grade Nilai</label>
                        <input type="text" placeholder="" class="form-control" id="egrade_name" name="grade_name">
                    </div>

                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Point</label>
                        <input type="text" placeholder="" class="form-control" id="egrade_point" name="grade_point">
                    </div>
                 

                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Batas Nilai Bawah</label>
                        <input type="text" placeholder="" class="form-control" id="egrade_from" name="form">
                    </div>

                    <div class="col-12-xxxl col-lg-6 col-12 form-group">
                        <label>Batas Nilai Atas</label>
                        <input type="text" placeholder="" class="form-control" id="egrade_upto" name="upto">
                    </div>

                    <div class="col-12 form-group">
                        <label>Keterangan</label>
                        <input type="text" placeholder="" class="form-control" id="egrade_desc" name="grade_desc">
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="footer-btn bg-linkedin" id="btn_update_grade">Simpan</button>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
<!-- All Subjects Area End Here -->
{% endblock content %}