{% extends "/layout/master.html" %}
{% set title = "Exam Grade" %}
{% set typeFrontEnd = "Exam" %}
{% set section_type = "Exam Grade" %}
{% block content %}
    
<div class="row">
    <!-- Exam Grade Add Area Start Here -->
    {# if admin start here #}
    {#{% if type == "Admin" %}#}
    <!-- <div class="col-4-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Add New Grade</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i 
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Grade Name</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Grade Point</label>
                            <select class="select2">
                                <option value="">Please Select</option>
                                <option value="1">4.00</option>
                                <option value="2">3.65</option>
                                <option value="3">3.50</option>
                                <option value="3">3.00</option>
                                <option value="3">2.50</option>
                            </select>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Percentage From</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Percentage Upto</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-12 form-group">
                            <label>Comments</label>
                            <textarea class="textarea form-control" name="message" id="form-message"
                                cols="10" rows="4"></textarea>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    
    {#{% endif %}#}
    {# if end here #}
    <!-- Exam Grade Add Area End Here -->
    <!-- Exam Grade List Area Start Here -->
    <div class="col-8-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Exam Grade Lists</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table display text-nowrap" id="data_grade">
                        <thead class="text-center">
                            <tr>
                                <th>No</th>
                                <th>Grade Name</th>
                                <th>Percent From</th>
                                <th>Percent Upto</th>
                                <th>Comment</th>
                                <th>Grade Point</th>
                                <!-- <th></th> -->
                            </tr>
                        </thead>
                        <tbody id="show_grade">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Exam Grade List Area End Here -->
</div>
<!-- All Subjects Area End Here -->
{% endblock content %}