{% extends "/layout/master.html" %}
{% set title = "Final Score" %}
{% set typeFrontEnd = "Exam" %}
{% set section_type = "Final Score" %}
{% block content %}
<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* th on hover */
    .checkAllAttend:hover {
        background-color: darkgrey;
        opacity: 75%;
    }
</style>
<div class="row">
    <!-- Student Attendence Search Area Start Here -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Nilai akhir</h3>
                    </div>
                    <!-- <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div> -->
                </div>
                <form class="new-added-form" id="finalScoreSheetForm">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Kelas</label>
                            <select class="select2" id="classFinalScore" required>
                                <option value="">Pilih Kelas</option>
                                {% for class in class %}
                                {% if class.id_class == 0 %}
                                {% else %}
                                <option value="{{class.id_class}}">{{class.class}} {{class.section}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Mata Pelajaran</label>
                            <select class="select2" id="subjectFinalScore" required>
                                <option value="">Pilih Mata Pelajaran</option>
                                {% for subject in subject %}
                                    {% if subject.id_subject == 0 %}
                                    {% else %}
                                    <option value="{{subject.id_subject}}">{{subject.subject_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Tahun Ajaran</label>
                            <select class="select2" id="sessionFinalScore" required>
                                <option value="">Pilih Tahun Ajaran</option>
                                {% for sessionAttend in sessionAttend %}
                                <option value="{{sessionAttend}}">{{sessionAttend}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Sistem Penilaian</label>
                            <select class="select2" id="FinalScoreSystem" required>
                                <option value="">Pilih Sistem Penilaian</option>
                                <option value="SPK">SPK ([60%]Sikap, [20%]Pengetahuan, [20%]Keterampilan)</option>
                                <option value="U1">Universal 1 ([30%]Nilai UAS, [30%]Nilai UTS, [30%]Nilai Tugas, [10%]Nilai Kehadiran)</option>
                                <option value="U2">Universal 2 ([40%]Nilai UAS, [40%]Nilai UTS, [15%]Nilai Tugas, [5%]Nilai Kehadiran)</option>
                            </select>
                        </div>
                    </div>
                    {# <div class="row">
                        <div class="col-xl-8 col-lg-6 col-12 form-group">
                            <label>Task Name</label>
                            <input type="text" name="taskName" id="taskName" class="form-control mb-3" required>
                        </div>
                    </div> #}
                    <div class="row">
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" id="viewFinalScoreSheetButton"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">View</button>
                            <button type="reset" id="resetFinalScoreSheetButton" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Student Attendence Search Area End Here -->
    <!-- Student Attendence Area Start Here -->
    <div class="col-12" id="finalScoreView">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3 id="titleFinalScoreSheet">Task Sheet Of Class One: Section A, April 2019</h3>
                    </div>
                    <!-- <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div> -->
                    
                </div>
                <div class="table-box-wrap">

                    <div class="table-responsive">
                      
          
                      <table class="table" id="FinalScore">
                        <thead class="text-center">
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Kehadiran</th>
                            <th id="N1"></th>
                            <th id="N2"></th>
                            <th id="N3"></th>
                            <th>Nilai Akhir</th>
                          </tr>
                        </thead>
                        <tbody>
          
                        </tbody>
                      </table>
                    </div>
                  </div>
                {# <input type="checkbox" name="" id=""> #}
                <div class="table-responsive">
                    <form method="post" id="finalScoreInputForm">
                        <table class="table bs-table table-striped table-bordered text-nowrap">
                            <thead>
                                <tr id="HeaderFinalScore">
                                    
                                </tr>
                            </thead>
                            <tbody id="finalScoreTable">
                            </tbody>
                        </table>
                        {# <button type="submit"
                            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark my-4">Send Value</button> #}
                        {# <button id="createNewTaskBtn"
                        class="btn-fill-lg btn-fill-lg bg-blue-dark btn-hover-yellow my-4">Create New Task</button> #}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Attendence Area End Here -->
<!-- Some Jquery Start Here -->
<script>
    var classTaskType,subjectTaskType,sessionTaskType,finalScoreSystem;
    $(document).ready(function () {
        
        FinalScoree = function () {
            
            var classTaskType = $('#classFinalScore').val(),
            subjectTaskType = $('#subjectFinalScore').val(),
            sessionTaskType = $('#sessionFinalScore').val(),
            finalScoreSystem = $('#FinalScoreSystem').val();
            console.log(classTaskType);

            FinalScore = $("#FinalScore").on('preXhr.dt', function (e, settings, data) {


            }).on('draw.dt', function () {
                //console.log(classTaskType)
                switch(finalScoreSystem){
                    case 'SPK':{
                        $('#FinalScore #N1').html('Sikap')
                        $('#FinalScore #N2').html('Pengetahuan')
                        $('#FinalScore #N3').html('Keterampilan')
                    }break;
                    case 'U1':{
                        $('#FinalScore #N1').html('Nilai Tugas')
                        $('#FinalScore #N2').html('Nilai UTS')
                        $('#FinalScore #N3').html('Nilai UAS')
                    }break
                    case 'U2':{
                        $('#FinalScore #N1').html('Nilai Tugas')
                        $('#FinalScore #N2').html('Nilai UTS')
                        $('#FinalScore #N3').html('Nilai UAS')
                    }break
                    default: break;
                }
            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    { "targets": 1, className: "text-center", "orderable": false },
                    { "targets": 2, className: "text-center", "orderable": false },
                    { "targets": 3, className: "text-center", "orderable": false },
                    { "targets": 4, className: "text-center", "orderable": false },
                    { "targets": 5, className: "text-center", "orderable": false },
                    { "targets": 6, className: "text-center", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/finalscore",
                    'dataType:': 'json',
                    'type': 'get',
                    'data': {
                        'class': classTaskType,
                        'subject': subjectTaskType,
                        'session': sessionTaskType,
                        'finalScoreSystem' : finalScoreSystem
                    },                   
                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nama' },
                    { 'data': 'kehadiran' },
                    { 'data': 'tugas' },
                    { 'data': 'uts' },
                    { 'data': 'uas' },
                    { 'data': 'akhir' },
                ]


            });


        }



        $('#classFinalScore').on('change',function(e){
            console.log($('#classFinalScore').val())
            classTaskType = $('#classFinalScore').val();
        })
        $('#subjectFinalScore').on('change',function(e){
            subjectTaskType = $('#subjectFinalScore').val();
        })
        $('#sessionFinalScore').on('change',function(e){
            sessionTaskType = $('#sessionFinalScore').val();
        })
        $('#FinalScoreSystem').on('change',function(e){
            finalScoreSystem= $('#FinalScoreSystem').val();
        })
        //const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        //var dateMonthRaw;
        $('#finalScoreView').hide();
        //setvaluedefault
        //$('#classAttendType').val();
        //$('#sessionAttendType').val();
        //$('#subjectAttendType').val();
        $('#finalScoreSheetForm').submit(function (e) {
            e.preventDefault();
            $('#FinalScore').DataTable().clear().destroy();           
            FinalScoree();
            
            $('#finalScoreView').show(function(){
                switch($('#FinalScoreSystem').val()){
                    case 'SPK':{
                        $('#NA1').attr('readonly',false);
                    }break;
                    case 'U1':{
                        $('#NA1').attr('readonly',true);
                    }break;
                    case 'U2':{
                        $('#NA1').attr('readonly',true);
                        
                    }break;
                    default: break;
                }
            });
        });
        $('#resetFinalScoreSheetButton').click(function(e){
            e.preventDefault();
            $('#classFinalScore').val('').change();
            $('#subjectFinalScore').val('').change();
            $('#sessionFinalScore').val('').change();
            $('#FinalScoreSystem').val('').change();
           
            FinalScore.destroy();

        })
        $('#resetFinalScoreSheetButton').click(function(e){
            e.preventDefault();
            $('#FinalScoreSystem').val('').change();
            $('#sessionFinalScore').val('').change();
            $('#subjectFinalScore').val('').change();
            $('#classFinalScore').val('').change();
            $('#viewFinalScoreSheetButton').attr('disabled', false)
            $('#finalScoreView').hide();
            //$('#FinalScore').DataTable().clear().destroy();
            //$('#FinalScore').DataTable().clear().destroy();
        })
        
    })
    function maxLengthCheck(object) {
        if (object.value.length > object.max.length)
          object.value = object.value.slice(0, object.max.length)
      }
        
      function isNumeric (evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode (key);
        var regex = /[0-9]|\./;
        if ( !regex.test(key) ) {
          theEvent.returnValue = false;
          if(theEvent.preventDefault) theEvent.preventDefault();
        }
      }
      function rateFinalScore(e){
        console.log(e);
            switch($('#FinalScoreSystem').val()){
                case 'SPK':{
                    var n1 = 0.6,
                    n2 = 0.2,
                    n3 = 0.2;
                    n1Val = $('#NA1[data-idUser="'+e+'"]').val()
                    n2Val = $('#NA2[data-idUser="'+e+'"]').val()
                    n3Val = $('#NA3[data-idUser="'+e+'"]').val()
                    nAbsenVal = $('#NAbs[data-idUser="'+e+'"]').html()
                    nFinal = (n1Val * n1) + (n2Val * n2) + (n3Val * n3)
                    $('#NA[data-idUser="'+e+'"]').html(nFinal);
                    $.ajax({
                        type: "POST",
                        url: "/update-final-score",
                        data: {
                            n1: n1Val,
                            n2: n2Val,
                            n3: n3Val,
                            nAbs: nAbsenVal,
                            nFinal: nFinal,
                            id_final_score: e, 
                        }
                        ,
                        dataType: "JSON",
                        success: function (response) {
                            
                        }
                    });
                }break;
                case 'U1':{
                    var n1 = 0.3,
                    n2 = 0.3,
                    n3 = 0.3,
                    nAbs = 0.1,
                    n1Val = $('#NA1[data-idUser="'+e+'"]').html()
                    n2Val = $('#NA2[data-idUser="'+e+'"]').html()
                    n3Val = $('#NA3[data-idUser="'+e+'"]').html()
                    nAbsenVal = $('#NAbs[data-idUser="'+e+'"]').html()
                    nFinal = (n1Val * n1) + (n2Val * n2) + (n3Val * n3) + (nAbsenVal * nAbs)
                    $('#NA[data-idUser="'+e+'"]').html(nFinal);
                    $.ajax({
                        type: "POST",
                        url: "/update-final-score",
                        data: {
                            n1: n1Val,
                            n2: n2Val,
                            n3: n3Val,
                            nAbs: nAbsenVal,
                            nFinal: nFinal,
                            id_final_score: e, 
                        }
                        ,
                        dataType: "JSON",
                        success: function (response) {
                            
                        }
                    });
                }break;
                case 'U2':{
                    var n1 = 0.4,
                    n2 = 0.4,
                    n3 = 0.15,
                    nAbs = 0.05,
                    n1Val = $('#NA1[data-idUser="'+e+'"]').html()
                    n2Val = $('#NA2[data-idUser="'+e+'"]').html()
                    n3Val = $('#NA3[data-idUser="'+e+'"]').html()
                    nAbsenVal = $('#NAbs[data-idUser="'+e+'"]').html()
                    nFinal = (n1Val * n1) + (n2Val * n2) + (n3Val * n3) + (nAbsenVal * nAbs)
                    $('#NA[data-idUser="'+e+'"]').html(nFinal);
                    $.ajax({
                        type: "POST",
                        url: "/update-final-score",
                        data: {
                            n1: n1Val,
                            n2: n2Val,
                            n3: n3Val,
                            nAbs: nAbsenVal,
                            nFinal: nFinal,
                            id_final_score: e, 
                        }
                        ,
                        dataType: "JSON",
                        success: function (response) {
                            
                        }
                    });
                    
                }break;
                default: break;
      }
    }
    $(document).ready(function(){
        
    })
</script>
<!-- Some Jquery End Here -->


{% endblock content %}