{% block modal %}

<!-- Confirmation Hapus Modal -->
<div class="modal fade" id="confirmation-exam-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog success-modal-content" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="success-message">
                    <input type="hidden" name="kode" id="textkode" value="" hidden>
                    <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="footer-btn bg-linkedin" id="btn_remove_exam">Ok</button>
                <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Large Modal -->
<div class="modal fade" id="detail-exam" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail exam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card ui-tab-card">
                <div class="card-body">
                    <div class="single-info-details">
                        <div class="item-content">
                            <div class="header-inline item-header">
                                <!-- <h3 class="text-dark-medium font-medium" name="first_name"></h3> -->

                            </div>
                            <div class="info-table table-responsive">
                                <input type="text" name="id_exam" id="id_exam" value="{{ data.id_exam }}" hidden>
                                <div class="form-group">
                                    <label>Nama Ujian</label>
                                    <input type="text" placeholder="" class="form-control" id="eexam_name_edit"
                                        name="eexam_name_edit" />
                                </div>

                                <div class="form-group">
                                    <label>Mata Pelajaran *</label>
                                    <select class="select2" name="esubject" id="esubject_edit">
                                        <option value="">Pilih Mata Pelajaran *</option>
                                        {% for i in subject %}
                                        <option value="{{i.id_subject}}">{{ i.subject_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Kelas *</label>
                                    <select class="select2" name="eclass" id="eclass_edit">
                                        <option value="">Pilih Kelas *</option>
                                        {% for i in class %}
                                        <option value="{{i.id_class}}">{{ i.class }} {{ i.section }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Tanggal Ujian</label>
                                    <input type="date" placeholder="dd/mm/yyyy" class="form-control" name="eexam_date"
                                        id="eexam_date_send" />
                                </div>

                                <div class="form-group">
                                    <label>Jam Mulai</label>
                                    <input type="time" placeholder="" class="form-control" name="eexam_start"
                                        id="eexam_start_send" />
                                </div>

                                <div class="form-group">
                                    <label>Jam Selesai</label>
                                    <input type="time" placeholder="" class="form-control" name="eexam_end"
                                        id="eexam_end_send" />
                                </div>

                                <div class="modal-footer">
                                    <button class="footer-btn btn-warning" id="btn_update_exam">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock modal %}