{% block ajaxparent %}
<script type="text/javascript">

    $(document).ready(function () {
        Tabel1Show = function () {

            table = $("#parent").on('preXhr.dt', function (e, settings, data) {
                
                console.log('loading ....');
                
            }).on('draw.dt', function () {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 4, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 5, className: "text-start", "orderable": false },
                    { "width": "15%", "targets": 6, className: "text-start", "orderable": false },
                    { "width": "15%", "targets": 7, className: "text-start", "orderable": false },
                    { "width": "15%", "targets": 8, className: "text-end", "orderable": false }

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api/allparents",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'foto' },
                    { 'data': 'nama' },
                    { 'data': 'gender' },
                    { 'data': 'pekerjaan' },
                    { 'data': 'alamat' },
                    { 'data': 'telepon' },
                    { 'data': 'email' },
                    { 'data': 'aksi' }

                ]
                
        
            });

        }
        Tabel1Show();
        

    });

    

    </script>
    
  

{% endblock ajaxparent %}