{% extends "/layout/master.html" %}
{% set title = "All Parents" %}
{% set typeFrontEnd = "Parents" %}
{% set section_type = "All Parents" %}
{% block content %}
<!-- Teacher Table Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Data Seluruh Orang Tua</h3>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
        </div>
      </div>
    </div>
    <div class="table-box-wrap ">
      <div class="table-responsive expenses-table-box">
        <table class="table text-nowrap" id="parent">
          <thead class="text-center">
            <tr>
              <th>NO</th>
              <th>Foto</th>
              <th>Nama</th>
              <th>Jenis Kelamin</th>
              <th>Pekerjaan</th>
              <th>Telepon</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="show_data">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Teacher Table Area End Here -->
{% include "parents/modal.html" %}
{% block modal %}

{% endblock modal %}
{% include "parents/ajax.html" %}
{% block ajax %}

{% endblock ajax %}
{% endblock content %}