{% extends "/layout/master.html" %}
{% set title = "Student Admit Form" %}
{% set baseRoute = ".." %}
{% block content %}

{% if berhasil == true %}
<script>

  let timerInterval
  Swal.fire({
    title: 'Memuat Data...',
    html: 'Tunggu  <b></b>  Detik.',
    timer: 400,
    timerProgressBar: true,
    didOpen: () => {
      Swal.showLoading()
      const b = Swal.getHtmlContainer().querySelector('b')
      timerInterval = setInterval(() => {
        b.textContent = Swal.getTimerLeft()
      }, 300)
    },
    willClose: () => {
      clearInterval(timerInterval)
    }
  }).then((result) => {
    /* Read more about handling dismissals below */
    if (result.dismiss === Swal.DismissReason.timer) {
      Swal.fire(
        {
          icon: 'success',
          title: 'Berhasil',
          text: 'Data telah ditambahkan.',
        }

      )
    }
  })
</script>

{% endif %}
<!-- Admit Form Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Tambah Data Siswa </h3>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
        </div>
      </div>
    </div>
    <form class="new-added-form" action="/api/add-student" enctype="multipart/form-data" method="post">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Nama Depan *</label>
          <input type="text" placeholder="Masukan Nama Depan" class="form-control" name="first_name" />
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Nama Belakang *</label>
          <input type="text" placeholder="Masukan Nama Belakang" class="form-control" name="last_name" />
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>NISN *</label>
          <input type="text" placeholder="Masukan Nama Belakang" class="form-control" name="nisn" />
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Jenis Kelamin *</label>
          <select class="select2" name="gender">
            <option value="">Pilih Jenis Kelamin *</option>
            <option value="Laki-laki">Laki-laki</option>
            <option value="Perempuan">Perempuan</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Kelas *</label>
          <select class="select2" name="id_class">
            <option>Pilih Kelas *</option>
            {% for data in class %}
            <option value="{{data.id_class}}">{{data.class}} {{data.section}}</option>
            {% endfor %}

          </select>
        </div>
        {# <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Bagian *</label>
          <select class="select2" name="id_section">
            <option>Pilih Bagian *</option>
            {% for data in section %}
            <option value="{{data.id_section}}">{{data.section}}</option>
            {% endfor %}

          </select>
        </div> #}
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Orang tua *</label>
          <select class="select2" name="id_parent">
            <option>Pilih Orang tua *</option>
            {% for data in parent %}
            <option value="{{data.id_user}}">{{data.first_name}} {{data.last_name}}</option>
            {% endfor %}

          </select>
        </div>
        {# <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Admission ID</label>
          <input type="text" placeholder="" class="form-control" />
        </div> #}



        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Golongan Darah *</label>
          <select class="select2" name="blood_group">
            <option value="">Pilih golongan darah *</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="AB">AB</option>
            <option value="O">O</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Agama *</label>
          <select class="select2" name="religion">
            <option value="">Pilih Agama *</option>
            <option value="Islam">Islam</option>
            <option value="Hindu">Hindu</option>
            <option value="Christian">Christian</option>
            <option value="Buddish">Buddish</option>
            <option value="Others">Others</option>
          </select>
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>E-Mail</label>
          <input type="email" placeholder="" class="form-control" name="email" />
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Alamat</label>
          <input type="text" placeholder="" class="form-control" name="address_user" />
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Tanggal lahir</label>
          <input type="date" name="date_of_birth" class="form-control" name="date_of_birth">
        </div>
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Phone</label>
          <input type="text" placeholder="" class="form-control" name="phone_user" />
        </div>
        <div class="col-lg-6 col-12 form-group">
          <label>Short BIO</label>
          <textarea class="textarea form-control" cols="10" rows="9" name="data_short_bio"></textarea>
        </div>
        <div class="col-lg-6 col-12 form-group mg-t-30">
          <label class="text-dark-medium">Upload Foto Orang Tua (150px X 150px)</label>
          <input type="file" class="form-control-file" name="imageUpload" />
          <input type="text" class="form-control-file" name="imageDefault" value="default.png" hidden />
        </div>
        <div class="col-12 form-group mg-t-8">
          <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark ">
            Save
          </button>
          <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Admit Form Area End Here -->

{% endblock content %}