{% extends "/layout/master.html" %}
{% set title = "Student Promotion" %}
{% set typeFrontEnd = "Student" %}
{% set section_type = "Student Promotion" %}
{% block content %}
    <!-- Student Promotion Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
          <h3> Siswa Promotion</h3>
          <h4>Nama : {{data.first_name}} {{data.last_name}}</h4>
        </div>
        <div class="dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
            >...</a
          >
  
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"
              ><i class="fas fa-times text-orange-red"></i>Close</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a
            >
          </div>
        </div>
      </div>
      <form action="/api/add-promotion" method="post" class="new-added-form" enctype="multipart/form-data">
        <div class="row">
          <input type="text"  class="form-control" value="{{ data.id_user }}" name="id_user" hidden/>

          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label>Current Session *</label>
            <input type="text"  class="form-control" value="{{ data.session }}" readonly/>
           
          </div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label>Promote Session *</label>
            <select name="session" class="form-control select2" id="dropdownYear">
              <option>Pilih Session *</option>

            </select>

          </div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label>Promotion From Class *</label>
            {# {{ data|json_encode()}} #}
            <input type="text" placeholder="X" class="form-control" value="{{ data.class }}-{{ data.section }}" readonly/>

          </div>
          <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label>Promotion To Class *</label>
            <select class="select2" name="id_class">
              <option>Pilih Kelas *</option>
              {% for data in class %}
              <option value="{{data.id_class}}">{{data.class}} {{data.section}}</option>
              {% endfor %}
  
            </select>
          </div>
          {# <div class="col-xl-3 col-lg-6 col-12 form-group">
            <label>Bagian *</label>
            <select class="select2" name="id_section">
              <option>Pilih Bagian *</option>
              {% for data in section %}
              <option value="{{data.id_section}}">{{data.section}}</option>
              {% endfor %}
  
            </select>
          </div> #}
          <div class="col-12 form-group mg-t-8">
            <button
              type="submit"
              class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark"
            >
              Save
            </button>
            <button
              type="reset"
              class="btn-fill-lg bg-blue-dark btn-hover-yellow"
            >
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Student Promotion Area End Here -->


  <script>
    $('#dropdownYear').each(function() {

      var year = (new Date()).getFullYear();
      var current = year;
      year += 1;
      for (var i = 0; i < 1; i++) {
        if ((year+i) == current)
          $(this).append('<option value="' + (year + i) + '-' + (year + i + 1) + '">' + (year + i) + '-' + (year + i + 1) + '</option>');
        else
          $(this).append('<option value="' + (year + i) + '-' + (year + i + 1) + '">' + (year + i) + '-' + (year + i + 1) + '</option>');
        
        $('#dropdownYear').val((year + i) + '-' + (year + i + 1)).change();
      }
    
    })
  </script>
  
{% endblock content %}