{% block ajax %}
<script type="text/javascript">

    $(document).ready(function () {
        function newexportaction(e, dt, button, config) {
            var self = this;
            var oldStart = dt.settings()[0]._iDisplayStart;
            dt.one('preXhr', function (e, s, data) {
                // Just this once, load all data from the server...
                data.start = 0;
                data.length = 2147483647;
                dt.one('preDraw', function (e, settings) {
                    // Call the original action function
                    if (button[0].className.indexOf('buttons-copy') >= 0) {
                        $.fn.dataTable.ext.buttons.copyHtml5.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                        $.fn.dataTable.ext.buttons.excelHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                        $.fn.dataTable.ext.buttons.csvHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.csvFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.available(dt, config) ?
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(self, e, dt, button, config) :
                            $.fn.dataTable.ext.buttons.pdfFlash.action.call(self, e, dt, button, config);
                    } else if (button[0].className.indexOf('buttons-print') >= 0) {
                        $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
                    }
                    dt.one('preXhr', function (e, s, data) {
                        // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                        // Set the property to what it was before exporting.
                        settings._iDisplayStart = oldStart;
                        data.start = oldStart;
                    });
                    // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                    setTimeout(dt.ajax.reload, 0);
                    // Prevent rendering of the full data to the DOM
                    return false;
                });
            });
            // Requery the server with the new one-time export settings
            dt.ajax.reload();
        }
        teacher = function () {

            table = $("#teacher").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    {  "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    {  "targets": 1, className: "text-start", "orderable": false },
                    {  "targets": 2, className: "text-start", "orderable": false },
                    {  "targets": 3, className: "text-start", "orderable": false },
                    {  "targets": 4, className: "text-center", "orderable": false },
                    {  "width": "10%", "targets": 5, className: "text-start", "orderable": false },
                    {  "targets": 6, className: "text-center", "orderable": false },
                   
                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                'ajax': {
                    'url': "/api/allteachers",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nisn' },
                    { 'data': 'foto' },
                    { 'data': 'nama' },
                    { 'data': 'gender' },
                    { 'data': 'mapel' },
                    { 'data': 'aksi' }

                ]


            });

        }
        teacher();

        //GET HAPUS
        $('#show_data').on('click', '.item_hapus', function () {
            var id = $(this).attr('data');
            console.log($(this).attr('data'))
            $('#confirmation-modal').modal('show');
            $('[name="kode"]').val(id);
        });

        //Hapus Data
        $('#btn_hapus').on('click', function () {
            // console.log($('#textkodeT').html())
            var kode = $('#textkodeT').val();
            $.ajax({
                type: "POST",
                url: "/api/delete-teacher",
                dataType: "JSON",
                data: { kode: kode },
                success: function (data) {
                    if (data) {
                        $('#confirmation-modal').modal('hide');
                        let timerInterval
                        Swal.fire({
                            title: 'Memuat Data...',
                            html: 'Tunggu  <b></b>  Detik.',
                            timer: 300,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading()
                                const b = Swal.getHtmlContainer().querySelector('b')
                                timerInterval = setInterval(() => {
                                    b.textContent = Swal.getTimerLeft()
                                }, 100)
                            },
                            willClose: () => {
                                clearInterval(timerInterval)
                            }
                        }).then((result) => {
                            Swal.fire(
                                {
                                    icon: 'success',
                                    title: 'Berhasil',
                                    text: 'Data telah dihapus.',
                                    //footer: '<a href="">Why do I have this issue?</a>'
                                }

                            )
                        })
                        table.draw(false)

                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Ada yang eror!',
                            //footer: '<a href="">Why do I have this issue?</a>'
                        })
                    }



                    //tampil_data_barang();
                }
            });
            return false;
        });

        payment = function () {

            table = $("#payment").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    {  "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    {  "targets": 1, className: "text-start", "orderable": false },
                    {  "targets": 2, className: "text-start", "orderable": false },
                    {  "targets": 3, className: "text-start", "orderable": false },
                    {  "targets": 4, className: "text-start", "orderable": false },
                    {  "targets": 5, className: "text-center", "orderable": false },
                    {  "targets": 6, className: "text-center", "orderable": false },
                    {  "targets": 7, className: "text-right", "orderable": false },
                    {  "targets": 8, className: "text-right", "orderable": false },
                    {  "targets": 9, className: "text-start", "orderable": false },
                   
                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                
                'ajax': {
                    'url': "/api/allpayment",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nisn' },
                    { 'data': 'foto' },
                    { 'data': 'nama' },
                    { 'data': 'gender' },
                    { 'data': 'subject' },
                    { 'data': 'gaji' },
                    { 'data': 'status' },
                    { 'data': 'telepon' },
                    { 'data': 'email' },

                ]


            });

        }
        payment();
        payment_teacher = function () {

            table = $("#payment_teacher").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    {  "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    {  "targets": 1, className: "text-start", "orderable": false },
                    {  "targets": 2, className: "text-start", "orderable": false },
                    {  "targets": 3, className: "text-start", "orderable": false },
                    {  "targets": 4, className: "text-center", "orderable": false },
                    {  "targets": 5, className: "text-start", "orderable": false },
                    {  "targets": 6, className: "text-center", "orderable": false },
                    {  "targets": 7, className: "text-center", "orderable": false },
                    {  "targets": 8, className: "text-center", "orderable": false },
                    {  "targets": 9, className: "text-start", "orderable": false },
                   
                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'dom': 'Bfrltip',
                'buttons': [
                    // 'copy', 'csv', 'excel', 'pdf', 'print'
                    {
                        "extend": 'excel',
                        "text": '<button class="btn"><i class="fa fa-table" style="color: green;"></i>  Excel</button>',
                        "titleAttr": 'Excel',
                        "action": newexportaction
                    },
                    {
                        "extend": 'pdf',
                        "text": '<button class="btn"><i class="fa fa-file-pdf-o" style="color: red;"></i>  PDF</button>',
                        "titleAttr": 'PDF',
                        "action": newexportaction
                    },
                    {
                        "extend": 'print',
                        "text": '<button class="btn"><i class="fa fa-print" style="color: green;"></i>  PRINT</button>',
                        "titleAttr": 'PRINT',
                        "action": newexportaction
                    },
                ],
                'ajax': {
                    'url': "/api/allpayment-teacher",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nisn' },
                    { 'data': 'foto' },
                    { 'data': 'nama' },
                    { 'data': 'gender' },
                    { 'data': 'subject' },
                    { 'data': 'gaji' },
                    { 'data': 'status' },
                    { 'data': 'telepon' },
                    { 'data': 'email' },

                ]


            });

        }
        payment_teacher();
    });




   


</script>



{% endblock ajax %}