{% extends "/layout/master.html" %}
{% set title = "All Teacher" %}
{% set typeFrontEnd = "Teacher" %}
{% set section_type = "All Teacher" %}
{% block content %}
    <!-- Teacher Table Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
      <div class="heading-layout1">
        <div class="item-title">
          <h3>Data Semua Guru</h3>
        </div>
        <div class="dropdown">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
            >...</a
          >
  
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#"
              ><i class="fas fa-times text-orange-red"></i>Close</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a
            >
            <a class="dropdown-item" href="#"
              ><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a
            >
          </div>
        </div>
      </div>
      
      <div class="table-responsive">
        <table class="table display  text-nowrap" id="teacher">
          <thead>
            <tr>
            <th>No</th>
            <th>NIP</th>
            <th>Foto</th>
            <th>Nama Guru</th>
            <th>Jenis Kelamin</th>
            <th>Mata Pelajaran</th>
            <th></th>
            </tr>
          </thead>
          <tbody id="show_data">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Teacher Table Area End Here -->

  <!-- Confirmation Hapus Modal -->
<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog success-modal-content" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="success-message">
                  <input type="hidden" name="kode" id="textkode" value="" hidden>
                  <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="footer-btn bg-linkedin" id="btn_hapus">Ok</button>
              <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
          </div>
      </div>
  </div>
</div>
  {% include "teacher/ajax.html" %}
{% block ajax %}
{% endblock ajax %}
{% endblock content %}