{% extends "/layout/master.html" %}
{% set title = "Teacher Details" %}
{% set typeFrontEnd = "Teacher" %}
{% set section_type = "Teacher Details" %}
{% block content %}
<!-- Student Table Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Tentang Saya</h3>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Tutup</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Ubah</a>
          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
        </div>
      </div>
    </div>
    <div class="single-info-details">
      <div class="item-img" >
        <img src="/uploads/Profile/{{photo}}"  alt="teacher" style="max-width: 280px !important;" />
      </div>
      <div class="item-content">
        <div class="header-inline item-header">
          <h3 class="text-dark-medium font-medium">{{namaDepanGuru}} {{namaBelakangGuru}}</h3>
          <div class="header-elements">
            <ul>
              <li>
                <a href="#"><i class="far fa-edit"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-print"></i></a>
              </li>
              <li>
                <a href="#"><i class="fas fa-download"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <p>
          {{shortbioGuru}}
        </p>
        <div class="info-table table-responsive">
          <table class="table text-nowrap">
            <tbody>
              <tr>
                <td>Nama :</td>
                <td class="font-medium text-dark-medium">{{namaDepanGuru}} {{namaBelakangGuru}}</td>
              </tr>
              <tr>
                <td>Jenis Kelamin :</td>
                <td class="font-medium text-dark-medium">{{jenisKelamin}}</td>
              </tr>
              <tr>
                <td>Agama :</td>
                <td class="font-medium text-dark-medium">{{agama}}</td>
              </tr>
              <tr>
                <td>Tanggal Bergabung :</td>
                <td class="font-medium text-dark-medium"> {{admissionDate}}  </td>
              </tr>
              <tr>
                <td>E-mail :</td>
                <td class="font-medium text-dark-medium">{{email}}
                </td>
              </tr>
              <tr>
                <td>Mata Pelajaran :</td>
                <td class="font-medium text-dark-medium">{{teacherSubject.subject}}</td>
              </tr>

              <tr>
                <td>Kelas :</td>
                <td class="font-medium text-dark-medium">{{teacherSubject.kelas}} {{teacherSubject.section}}</td>
              </tr>

              <tr>
                <td>NIP :</td>
                <td class="font-medium text-dark-medium">{{NIP}}</td>
              </tr>
              <tr>
                <td>Alamat :</td>
                <td class="font-medium text-dark-medium">{{addressUser}}</td>
              </tr>
              <tr>
                <td>No. Handpone :</td>
                <td class="font-medium text-dark-medium">{{phoneUser}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Student Table Area End Here -->


<script>
      function dateFormatter(iso, useDay) {
          if (typeof useDay === typeof undefined) {
            useDay = true;
          }

          if (iso == "0000-00-00 00:00:00") {
            return '-';
          }

          var dt = new Date(iso.replace(/-/g, "/"));
          var dId = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
          var mId = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
          var d = dt.getDate(); if (d < 10) { d = "0" + d; }
          var dstr = dId[dt.getDay()];
          var m = mId[dt.getMonth()];
          var y = dt.getFullYear();

          var str = d + " " + m + " " + y;
          return useDay ? dstr + ", " + str : str;
        }
</script>

{% endblock content %}