{% extends "/layout/master.html" %}
{% set title = "Teacher Detail" %}
{% set typeFrontEnd = "Teacher" %}
{% set section_type = "Teacher Details" %}
{% block content %}
{% if berhasil == true %}
<script>

  let timerInterval
  Swal.fire({
    title: 'Memuat Data...',
    html: 'Tunggu  <b></b>  Detik.',
    timer: 400,
    timerProgressBar: true,
    didOpen: () => {
      Swal.showLoading()
      const b = Swal.getHtmlContainer().querySelector('b')
      timerInterval = setInterval(() => {
        b.textContent = Swal.getTimerLeft()
      }, 300)
    },
    willClose: () => {
      clearInterval(timerInterval)
    }
  }).then((result) => {
    /* Read more about handling dismissals below */
    if (result.dismiss === Swal.DismissReason.timer) {
      Swal.fire(
        {
          icon: 'success',
          title: 'Berhasil',
          text: 'Data telah ditambahkan.',
        }

      )
    }
  })
</script>

{% endif %}
<div class="basic-tab bg-light">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab" aria-selected="true">Detail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#tab2" role="tab" aria-selected="false">Edit</a>
    </li>

  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" class="card height-auto"
      id="showDataDetailAccountSetting">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Detil Data Guru </h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <div class="single-info-details">
          <div class="item-img">
            {# <p>{{data.photo_user}}</p> #}
            <img src="/uploads/Profile/{{data.photo_user}}" style="width: 280px;" alt="student" />
          </div>
          <div class="item-content">
            <div class="header-inline item-header">
              <h3 class="text-dark-medium font-medium">{% if data.first_name == '' %}
                {{ data.username }}
                {% else %}
                {{ data.first_name ~" "~ data.last_name }}
                {% endif %}</h3>
              <div class="header-elements">
                <ul>

                  {# <li>
                    <a href="#"><i class="fas fa-print"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fas fa-download"></i></a>
                  </li> #}
                </ul>
              </div>
            </div>
            <p> Bio : <br>
              {{ data.short_bio }}

            </p>
            <div class="info-table table-responsive">
              <table class="table text-nowrap">
                <tbody>
                  <tr>
                    <td>Nama:</td>
                    <td class="font-medium text-dark-medium">{{ data.first_name ~' '~ data.last_name }}
                    </td>
                  </tr>
                  <tr>
                    <td>NIP:</td>
                    <td class="font-medium text-dark-medium">{{ data.NISN }}
                    </td>
                  </tr>
                  <tr>
                    <td>Jenis Kelamin:</td>
                    <td class="font-medium text-dark-medium">{{data.gender}}</td>
                  </tr>

                  <tr>
                    <td>Tanggal Lahir:</td>
                    <td class="font-medium text-dark-medium">{{tanggal}}</td>
                  </tr>
                  <tr>
                    <td>Agama:</td>
                    <td class="font-medium text-dark-medium">{{data.religion}}</td>
                  </tr>
                  <tr>
                    <td>Username:</td>
                    <td class="font-medium text-dark-medium">{{data.username}}</td>
                  </tr>
                  <tr>
                    <td>E-mail:</td>
                    <td class="font-medium text-dark-medium">
                      {{data.email}}
                    </td>
                  </tr>
                  <tr>
                    <td>Golongan Darah:</td>
                    <td class="font-medium text-dark-medium">{{ data.blood_group }}</td>
                  </tr>
                  {# <tr>
                    <td>Wali Kelas:</td>
                    <td class="font-medium text-dark-medium">{{data.class}} {{data.section}}</td>
                  </tr> #}
                  <tr>
                    <td>Mata Pelajaran:</td>
                    <td class="font-medium text-dark-medium">{{data.subject_name}} ({{data.subject_type}})</td>
                  </tr>


                  <tr>
                    <td>Alamat:</td>
                    <td class="font-medium text-dark-medium">
                      {{data.address_user}}
                    </td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td class="font-medium text-dark-medium">{{data.phone_user}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Settings Area End Here -->
    <!-- Profile Settings Edit Area Start Here -->
    <div class="tab-pane fade" id="tab2" role="tabpanel" class="card height-auto" id="editDataDetailAccountSetting">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Edit Profil Kamu</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <div class="single-info-details">
          <form action="/api/update-teacher-detail" method="post" class="new-added-form" enctype="multipart/form-data">
            <div class="item-img">
              {# <img src="img/figure/student1.jpg" alt="student" /> #}
              <input type="text" value="{{data.photo_user}}" name="imageDefault" hidden>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type='file' name="profileImage" id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview"
                    style="background-image: url(/uploads/Profile/{{data.photo_user|replace({' ' : '%20'})}});">
                  </div>
                </div>
              </div>
              <script>
                function readURL(input) {
                  if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                      $('#imagePreview').hide();
                      $('#imagePreview').fadeIn(650);
                    }
                    reader.readAsDataURL(input.files[0]);

                  }
                }
                $("#imageUpload").change(function () {
                  readURL(this);
                });
              </script>
            </div>
            <div class="item-content">
              <div class="header-inline item-header">
                <h3 class="text-dark-medium font-medium">{% if data.first_name == '' %}
                  {{ data.username }}
                  {% else %}
                  {{ data.first_name ~" "~ data.last_name }}
                  {% endif %}</h3>
                <div class="header-elements">
                  <ul>

                    {# <li>
                      <a href="#"><i class="fas fa-print"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fas fa-download"></i></a>
                    </li> #}
                  </ul>
                </div>
              </div>
              <div class="row form-grup col-12 my-3 ">

                <p>Bio : <br>
                  <textarea name="data_short_bio" cols="120" rows="5"
                    class="form-control">{{ data.short_bio }}</textarea>

                </p>
              </div>

              <div class="row form-group">

                <input type="text" name="id_user" value="{{ data.id_user }}" hidden>
                <div class="col-6 my-3">

                  <label for="first_name">Nama Depan:</label>
                  <input type="text" placeholder="Masukan nama depan" name="first_name" class="form-control"
                    value="{{ data.first_name }}">
                </div>
                <div class="col-6 my-3">

                  <label for="last_name">Nama Belakang:</label>
                  <input type="text" placeholder="Masukan nama belakang" name="last_name" class="form-control"
                    value="{{ data.last_name }}">
                </div>
                <div class="col-6 my-3">

                  <label for="last_name">NIP:</label>
                  <input type="text" placeholder="Masukan nama belakang" name="NISN" class="form-control"
                    value="{{ data.NISN }}">
                </div>
                <div class="col-6 my-3">

                  <label for="gender">Jenis Kelamin:</label>
                  <select name="gender" id="selectGenderEditProfile" class="form-control">
                    <option value="">Pilih gender</option>
                    <option value="Laki-laki">Laki-Laki</option>
                    <option value="Perempuan">Perempuan</option>
                  </select>

                </div>


                <div class="col-6 my-3">

                  <label>Tanggal Lahir:</label>
                  <input type="date" name="date_of_birth" class="form-control" value="{{data.date_of_birth}}">
                </div>
                <div class="col-6 my-3">
                  <label>Agama:</label>
                  <input type="text" placeholder="Masukan Agamamu" name="religion" class="form-control"
                    value="{{ data.religion }}">
                </div>
                <div class="col-6 my-3">
                  <label>Username:</label>
                  <input type="text" placeholder="username" name="username" class="form-control"
                    value="{{ data.username }}" readonly>
                </div>
                <div class="col-6 my-3">
                  <label>E-mail:</label>
                  <input type="email" name="email" class="form-control" value="{{ data.email }}" readonly>
                </div>
                <div class="col-6 my-3">

                  <label>Golongan Darah:</label>
                  <select id="selectBloodGroupEditProfile" name="blood_group" class="form-control">
                    <option value="">Pilih Golongan darah</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                  </select>
                </div>

                <div class="col-6 my-3">
                  <label>Mata Pelajaran:</label>
                  <select name="id_subject" class="form-control" id="subject">
                    <option>Pilih Mapel</option>
                    {% for data in subject %}
                    <option value="{{data.id_subject}}">{{data.subject_name}} ({{data.subject_type}})</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-6 my-3">
                  <label>Alamat:</label>
                  <input type="text" name="address_user" placeholder="Masukan Alamat" class="form-control"
                    value="{{ data.address_user }}">
                </div>
                <div class="col-6 my-3">
                  <label>No Telepon:</label>
                  <input type="text" name="phone_user" placeholder="Masukan No Telepon (62-888-8888-8888)"
                    class="form-control" value="{{ data.phone_user }}">
                </div>
              </div>

                <input type="submit" value="Edit Data" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</div>

<!-- Profile Settings Edit Area End Here -->

<!-- Script for jquery Edit Form -->
<script>
  $(document).ready(function () {



    var gend = "{{ data.gender }}";
    var BlGroup = "{{ data.blood_group }}";
    var subject = "{{ data.id_subject}}";
    var kelas = "{{ data.id_class }}";

    $('#selectGenderEditProfile').val(gend).change();
    $('#selectBloodGroupEditProfile').val(BlGroup).change();
    $('#subject').val(subject).change();
    $('#kelas').val(kelas).change();
  });
</script>
{% endblock content %}