{% extends "/layout/master.html" %}
{% set title = "Add Class" %}
{% block content %}
<!-- Add Class Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>Tambah Jadwal Kelas Baru</h3>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Turup</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Ubah</a>
          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
        </div>
      </div>
    </div>
    <form class="new-added-form">

      <div class="row">
        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Nama Guru *</label>
          <select id="namaGuru" class="select2">
            <option value="">Mohon Dipilih</option>
            {% for i in dataguru %}
            <option value="{{i.id_user}}">{{i.first_name}} {{i.last_name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>NIP *</label>
          <select id="nip" class="select2" disabled>
            <option value="">Pilih Guru Dahulu</option>
            {% for i in dataguru %}
            <option value="{{i.id_user}}">{{i.NISN}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Jenis Kelamin *</label>
          <select id="jenisKelamin" class="select2" disabled>
            <option value="">Pilih Guru Dahulu</option>
            {% for i in dataguru %}
            <option value="{{i.id_user}}">{{i.gender}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Kelas</label>
          <select class="select2">
            <option value="">Mohon Dipilih</option>
            {% for a in dataKelasSection %}
            <option value="{{a.id_class}}">{{a.class}} - {{a.section}} </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Mata Pelajaran *</label>
          <select class="select2">
            <option value="">Mohon Dipilih</option>
            {% for i in dataSubject %}
            <option value="{{i.id_subject}}">{{i.subject_name}} </option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Waktu Mulai *</label>
          <input type="time" placeholder="" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Waktu Selesai *</label>
          <input type="time" placeholder="" class="form-control" />
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Hari *</label>
          <select id="day" class="select2">
            <option value="">Mohon Dipilih</option>
            <option value="Senin">Senin</option>
            <option value="Selasa">Selasa</option>
            <option value="Rabu">Rabu</option>
            <option value="Kamis">Kamis</option>
            <option value="Jumat">Jumat</option>
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>No Handphone *</label>
          <select id="nohp" class="select2" disabled>
            <option value="">Pilih Guru Dahulu</option>
            {% for i in dataguru %}
            <option value="{{i.id_user}}">{{i.phone_user}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xl-3 col-lg-6 col-12 form-group">
          <label>Email *</label>
          <select id="email" class="select2" disabled>
            <option value="">Pilih Guru Dahulu</option>
            {% for i in dataguru %}
            <option value="{{i.id_user}}">{{i.email}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-12 form-group mg-t-8">
          <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
            Save
          </button>
          <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">
            Reset
          </button>
        </div>

      </div>
    </form>
  </div>
</div>


<script>

  namaGuru = $("#namaGuru");
  nip = $("#nip");
  jenisKelamin = $("#jenisKelamin");
  nohp = $("#nohp");
  email = $("#email");

  $("#namaGuru").change(function () {
    if (namaGuru.val() != nip.val()) {
      $("#nip").val(namaGuru.val()).change();
      $("#jenisKelamin").val(namaGuru.val()).change();
      $("#nip").val(namaGuru.val()).change();
      $("#nohp").val(namaGuru.val()).change();
      $("#email").val(namaGuru.val()).change();
    }
  });

</script>

<!-- Add Class Area End Here -->
{% endblock content %}