{% extends "/layout/master.html" %}
{% set title = "All Class" %}
{% block content %}
<!-- Class Table Area Start Here -->
<div class="card height-auto">
  <div class="card-body">
    <div class="heading-layout1">
      <div class="item-title">
        <h3>All Class Schedules</h3>
      </div>
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
          <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
          <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
        </div>
      </div>
    </div>
    <form class="mg-b-20">
      <div class="row gutters-8">
        <div class="col-3-xxxl col-xl-3 col-lg-3 col-12 form-group">
          <input type="text" placeholder="Search by ID ..." class="form-control" />
        </div>
        <div class="col-4-xxxl col-xl-4 col-lg-3 col-12 form-group">
          <input type="text" placeholder="Search by Name ..." class="form-control" />
        </div>
        <div class="col-4-xxxl col-xl-3 col-lg-3 col-12 form-group">
          <input type="text" placeholder="Search by Class ..." class="form-control" />
        </div>
        <div class="col-1-xxxl col-xl-2 col-lg-3 col-12 form-group">
          <button type="submit" class="fw-btn-fill btn-gradient-yellow">
            SEARCH
          </button>
        </div>
      </div>
    </form>
    <div class="table">
      <table id="allClass" class="display">
        <thead>
          <tr>
            <th>No .</th>
            <th>Nip</th>
            <th>Wali Kelas</th>
            <th>Jenis Kelamin</th>
            <th>Kelas</th>
            <th>Bagian</th>
            <th>No Telp.</th>
            <th>E-Mail</th>
            <th>ubah</th>
            <th>hapus</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  initTable = function () {

    table = $("#allClass").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data');

    }).DataTable({
      "columnDefs": [
      { "targets": 0, className: "text-center", "orderable": false },
        { "targets": 1, className: "text-start", "orderable": false },
        { "targets": 2, className: "text-start", "orderable": false },
        { "targets": 3, className: "text-start", "orderable": false },
        { "targets": 4, className: "text-start", "orderable": false },
        { "targets": 5, className: "text-center", "orderable": false },
        { "targets": 6, className: "text-center", "orderable": false },
        { "targets": 7, className: "text-start", "orderable": false },
        { "targets": 8, className: "text-center", "orderable": false },
        { "targets": 9, className: "text-center", "orderable": false }
      ], 
      'pageLength': 10,
      'processing': true,
      'serverSide': true,
      'select': true,
      'responsive': true,
      'ajax': {
        url: '/api/admin/kelola-barang',
        type: 'GET',
      },
      'columns': [
      { 'data' : 'no'},
            { 'data' : 'Nip'},
            { 'data' : 'WaliKelas'},
            { 'data' : 'gender'}, 
            { 'data' : 'kelas'},
            { 'data' : 'bagian'},
            { 'data' : 'phone_user'},
            { 'data' : 'email'},
            { 'data' : 'ubah'},
            { 'data' : 'hapus'}
      ],
    });

  }

  // initTable();




  exam1 = function () {
    examTable = $("#allClass").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data ....');

    }).DataTable({
      responsive: {
        details: {
          type: 'column'
        }
      },
      "columnDefs": [
        { "targets": 0, className: "text-center", "orderable": false },
        { "targets": 1, className: "text-start", "orderable": false },
        { "targets": 2, className: "text-start", "orderable": false },
        { "targets": 3, className: "text-start", "orderable": false },
        { "targets": 4, className: "text-start", "orderable": false },
        { "targets": 5, className: "text-center", "orderable": false },
        { "targets": 6, className: "text-center", "orderable": false },
        { "targets": 7, className: "text-start", "orderable": false },
        { "targets": 8, className: "text-center", "orderable": false },
        { "targets": 9, className: "text-center", "orderable": false }
      ],
      'pageLength': 10,
      'responsive': true,
      'processing': true,
      'serverSide': true,
      'ajax': {
        'url': "/api/kelas/getallclassdt",
        'dataType:': 'json',
        'type': 'get',
      },

      'columns': [
            { 'data' : 'no'},
            { 'data' : 'Nip'},
            { 'data' : 'WaliKelas'},
            { 'data' : 'gender'}, 
            { 'data' : 'kelas'},
            { 'data' : 'bagian'},
            { 'data' : 'phone_user'},
            { 'data' : 'email'},
            { 'data' : 'ubah'},
            { 'data' : 'hapus'}
      ]


    });

  }
  exam1();



</script>

<!-- Class Table Area End Here -->




{% endblock content %}