{% block modal %}

<!-- Confirmation Hapus Modal -->
<div class="modal fade" id="confirmation-hostel-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog success-modal-content" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="success-message">
                    <input type="hidden" name="kode" id="textkode" value="" hidden>
                    <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="footer-btn bg-linkedin" id="btn_remove_hostel">Ok</button>
                <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Large Modal -->
<div class="modal fade" id="detail-hostel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail hostel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card ui-tab-card">
                <div class="card-body">
                    <div class="single-info-details">
                        <div class="item-content">
                            <div class="header-inline item-header">
                                <!-- <h3 class="text-dark-medium font-medium" name="first_name"></h3> -->

                            </div>
                            <div class="info-table table-responsive">
                                <table class="table text-nowrap">
                                    <tbody>
                                        <input type="text" name="id_hostel" id="id_hostel" value="{{ data.id_hostel }}"
                                            hidden>
                                        <tr class="form-group">
                                            <label>Nama Asrama</label>
                                            <input type="text" placeholder="" class="form-control" id="ehostel_name_edit" name="ehostel_name">
                                        </tr>

                                        <tr class="form-group">
                                            <label>No Kamar</label>
                                            <input type="text" placeholder="" class="form-control" id="eroom_number_edit" name="eroom_number">
                                        </tr>

                                        <tr class="form-group">
                                            <label>Tipe Kamar</label>
                                            <select class="select2" id="eroom_type_edit" name="eroom_type">
                                                <option value="">Silahkan Pilih</option>
                                                <option value="1">Besar</option>
                                                <option value="2">Sedang</option>
                                                <option value="3">Kecil</option>
                                            </select>
                                        </tr>

                                        <tr class="form-group">
                                            <label>Nomer Kasur</label>
                                            <input type="text" placeholder="" class="form-control" id="enumber_of_bed_edit" name="enumber_of_bed">
                                        </tr>

                                        <tr class="form-group">
                                            <label>Harga Per Kasur</label>
                                            <input type="text" placeholder="" class="form-control" id="ecost_per_bed_edit" name="ecost_per_bed">
                                        </tr>
                                    </tbody>
                                </table>
                                <button class="btn btn-warning" id="btn_update_hostel">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock modal %}