{% block ajaxparent %}
{# {{Tabel}} #}
<script type="text/javascript">

    $(document).ready(function () {
        var id = $('#id').attr('data-id');
        Tabel1Show = function () {

            table1 = $("#data_v2").on('preXhr.dt', function (e, settings, data) {
                
                console.log('loading ....');
                
            }).on('draw.dt', function () {
                console.log(id);
                
            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 4, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 5, className: "text-end", "orderable": false },
                    { "width": "15%", "targets": 6, className: "text-end", "orderable": false }

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api"+"/"+ id + "/select",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'NISN' },
                    { 'data': 'Nama' },
                    { 'data': 'payment_type_name' },
                    { 'data': 'amount_payment' },
                    { 'data': 'status_pembayaran' },
                    { 'data': 'email' },
                    { 'data': 'date_payment' }

                ]
                
        
            });

        }


        var id = $('#idd').attr('data-result');
        Tabel2Show = function () {
            
            table2 = $("#Result").on('preXhr.dt', function (e, settings, data) {
                
                
            }).on('draw.dt', function () {
                
            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "targets": 0, className: "text-center", "orderable": false },
                    {  "targets": 1, className: "text-start", "orderable": false },
                    {  "targets": 2, className: "text-start", "orderable": false },
                    {  "targets": 3, className: "text-start", "orderable": false },
                    {  "targets": 4, className: "text-center", "orderable": false },
                    {  "targets": 5, className: "text-end", "orderable": false },
                    {  "targets": 6, className: "text-end", "orderable": false },
                
                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api"+"/"+ id + "/result",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'nisn' },
                    { 'data': 'nama' },
                    { 'data': 'ujian' },
                    { 'data': 'mapel' },
                    { 'data': 'kelas' },
                    { 'data': 'nilai' },
                    { 'data': 'grade' },
                    { 'data': 'tanggal' }
                ]
                
        
            });
        }

        
        function TabelShow () {
            Tabel1Show(false);
            Tabel2Show(false);
           
          }
        
        TabelShow (false)
        

    });

    $(document).ready(function () {
        var data = [];

        function difference2Parts(milliseconds) {
            const secs = Math.floor(Math.abs(milliseconds) / 1000);
            const mins = Math.floor(secs / 60);
            const hours = Math.floor(mins / 60);
            const days = Math.floor(hours / 24);
            const millisecs = Math.floor(Math.abs(milliseconds)) % 1000;
            const multiple = (term, n) => n !== 1 ? `${n} ${term}s` : `1 ${term}`;

            return {
                days: days,
                hours: hours % 24,
                hoursTotal: hours,
                minutesTotal: mins,
                minutes: mins % 60,
                seconds: secs % 60,
                secondsTotal: secs,
                milliSeconds: millisecs,
                get diffStr() {
                    return `${multiple(`day`, this.days)}, ${multiple(`hour`, this.hours)}, ${multiple(`minute`, this.minutes)} and ${multiple(`second`, this.seconds)}`;
                },
                get diffStrMs() {
                    return `${this.diffStr.replace(` and`, `, `)} and ${multiple(`millisecond`, this.milliSeconds)}`;
                },
            };
        }

        function untilXMas(date) {
            const nextChristmas = new Date(date);
            const report = document.querySelector(`#nextXMas`);

            const diff = () => {
                const diffs = difference2Parts(nextChristmas - new Date());
                report.innerHTML = `Awaiting next XMas 🙂 (${diffs.diffStrMs.replace(/(\d+)/g, a => `<b>${a}</b>`)})<br>
                <br>In other words, until next XMas lasts&hellip;<br>
                In minutes: <b>${diffs.minutesTotal}</b><br>In hours: <b>${diffs.hoursTotal}</b><br>In seconds: <b>${diffs.secondsTotal}</b>`;
                setTimeout(diff, 200);
            };
            return difference2Parts(nextChristmas - new Date());
        }

        function drawNotice(s) {
            //console.log(s);
            const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                "September", "Oktober", "November", "Desember"
            ];
            //drawNotice();
            $.ajax({
                type: "GET",
                url: "/getNoticeS",
                data: {
                    search: s
                },
                dataType: "JSON",
                success: function (response) {
                    //console.log(response[0])
                    $('#notice-list').empty();
                    $.each(response, function (i, data) {
                        data += data[i]
                        var dAwal = new Date(response[i].date_notice)
                        var bulan = months[dAwal.getMonth()];
                        var tanggal = dAwal.getDate();
                        var tahun = dAwal.getFullYear();
                        var minus = untilXMas(dAwal);
                        //console.log(minus)
                        //console.log(minus.minutesTotal);
                        var difference;
                        if (minus.minutesTotal <= 60) {
                            difference = minus.minutesTotal + ' menit lalu';
                        } else if (minus.hoursTotal <= 24) {
                            difference = minus.hoursTotal + ' jam lalu';
                        } else {
                            difference = minus.days + ' hari lalu';
                        }

                        //console.log(response[i].category)
                        var classCategory;
                        switch (response[i].category) {
                            case 'Exam': {
                                classCategory = 'bg-warning'
                            }
                                break;
                            case 'Pembayaran': {
                                classCategory = 'bg-success'
                            }
                                break;
                            case 'Event': {
                                classCategory = 'bg-danger'
                            }
                                break;
                            case 'Pengumuman_Sekolah': {
                                classCategory = 'bg-primary'
                            }
                                break;
                            default: {

                            }
                                break;
                        }
                        $('#notice-list').append(
                            '<div class="notice-list noticeBoardToModal" data-id="' +
                            response[i].id_notification +
                            '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                            classCategory + '">' +
                            tanggal + ' ' + bulan + ', ' + tahun +
                            '</div><h6 class="notice-title"><a href="#">' + response[i]
                                .title +
                            '</a></h6> <div class="entry-meta">  ' + response[i]
                                .posted_by +
                            ' / <span>' + difference + '</span></div></div>')
                    });
                },
                complete: function () { }
            });
        };
        drawNotice();

        // $('#searchTitleNoticeBoard').keyup(function (e) {
        //     var search = $('#searchTitleNoticeBoard').val();
        //     drawNotice(search)
        //     //console.log(search);
        // });

        // $('#searchDateNoticeBoard').change(function (e) {
        //     var search = $('#searchDateNoticeBoard').val();
        //     drawNotice(search)
        //     //console.log(search);
        // });

        $('#noticeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                "September", "Oktober", "November", "Desember"
            ];
            // console.log(recipient);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            $.ajax({
                type: "GET",
                url: "/getNoticeDetailsS",
                data: {
                    id: recipient
                },
                dataType: "JSON",
                success: function (response) {
                    //console.log(response)
                    var dAwal = new Date(response[0].date_notice)
                    var bulan = months[dAwal.getMonth()];
                    var tanggal = dAwal.getDate();
                    var tahun = dAwal.getFullYear();
                    var minus = untilXMas(dAwal);
                    //console.log(minus)
                    //console.log(minus.minutesTotal);
                    var difference;
                    if (minus.minutesTotal <= 60) {
                        difference = minus.minutesTotal + ' menit lalu';
                    } else if (minus.hoursTotal <= 24) {
                        difference = minus.hoursTotal + ' jam lalu';
                    } else {
                        difference = minus.days + ' hari lalu';
                    }

                    //console.log(response[i].category)
                    var classCategory;
                    switch (response[0].category) {
                        case 'Exam': {
                            classCategory = 'bg-warning'
                        }
                            break;
                        case 'Pembayaran': {
                            classCategory = 'bg-success'
                        }
                            break;
                        case 'Event': {
                            classCategory = 'bg-danger'
                        }
                            break;
                        case 'Pengumuman_Sekolah': {
                            classCategory = 'bg-primary'
                        }
                            break;
                        default: {

                        }
                            break;
                    }
                    var modal = $(this)
                    $('#noticeDetailModal').empty()
                    console.log($('#noticeDetailModal').html())
                    $('#noticeDetailModal').append('<div class="notice-list noticeBoardToModal" data-id="' +
                        response[0].id_notification +
                        '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                        classCategory + '">' +
                        tanggal + ' ' + bulan + ', ' + tahun +
                        '</div><h6 class="notice-title"><a href="#">' + response[0]
                            .title +
                        '</a></h6> <p>' + response[0].details + '</p> <div class="entry-meta">  ' + response[0]
                            .posted_by +
                        ' / <span>' + difference + '</span></div></div>');
                }
            });
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        })
        $('#resetFormNoticeBoard').click(function (e) {
            e.preventDefault();
            $('#categoryNoticeBoard').val('').change();
            $('#titleNoticeBoard').val('');
            $('#detailsNoticeBoard').val('');

        });
    })

    </script>
    
  

{% endblock ajaxparent %}