{% extends "/layout/master.html" %}
{% set title = 'Orang Tua' %}
{% set typeFrontEnd = "Dashboard Orang Tua" %}
{% set section_type = "Dashboard Orang Tua" %}
{% block content %}
    <!-- Dashboard summery Start Here -->
    <div class="row">
        <div class="col-3-xxxl col-sm-6 col-12">
            <div class="dashboard-summery-one">
                <div class="row">
                    <div class="col-6">
                        <div class="item-icon bg-light-red">
                            <i class="flaticon-money text-red"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Biaya jatuh tempo</div>
                            <div class="item-number"><span >{{totaltagihan}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3-xxxl col-sm-6 col-12">
            <div class="dashboard-summery-one">
                <div class="row">
                    <div class="col-6">
                        <div class="item-icon bg-light-magenta">
                            <i class="flaticon-shopping-list text-magenta"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Notifikasi</div>
                            <div class="item-number"><span class="counter" data-num="{{totalnotif}}"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3-xxxl col-sm-6 col-12">
            <div class="dashboard-summery-one">
                <div class="row">
                    <div class="col-6">
                        <div class="item-icon bg-light-yellow">
                            <i class="flaticon-mortarboard text-orange"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Hasil Ujian</div>
                            <div class="item-number"><span class="counter" data-num="{{totalexam}}">16</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3-xxxl col-sm-6 col-12">
            <div class="dashboard-summery-one">
                <div class="row">
                    <div class="col-6">
                        <div class="item-icon bg-light-blue">
                            <i class="flaticon-money text-blue"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item-content">
                            <div class="item-title">Pembayaran</div>
                            <div class="item-number"><span>{{totalpembayaran}} </span>
                                {# <span class="counter" data-num="{{totalpembayaran}}"></span> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard summery End Here -->
    <!-- Dashboard Content Start Here -->
    <div class="row">
        <!-- <div class="col-5-xxxl col-12">
            <div class="card dashboard-card-twelve">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Anaku</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="kids-details-wrap">
                        <div class="row">
                            {% for data in data %}
                            <div class="col-12-xxxl col-xl-6 col-12">
                                <div class="kids-details-box mb-5">
                                    <div class="item-img">
                                        <img src="uploads/Profile/{{ data.photo_user }}" alt="kids">
                                    </div>
                                    <div class="item-content table-responsive">
                                        <table class="table text-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>Nama:</td>
                                                    <td>{{data.first_name}} {{data.last_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Jenis Kelamin:</td>
                                                    <td>{{data.gender}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Kelas:</td>
                                                    <td>{{data.class}}</td>
                                                </tr>
                                                <tr>
                                                    <td>NISN:</td>
                                                    <td>{{data.NISN}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Id Masuk:</td>
                                                    <td>{{data.id_admission}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tanggal Masuk:</td>
                                                    <td>{{data.admission_date |date("j F Y") }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-6-xxxl col-12">
            <div class="card dashboard-card-eleven">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Pembayaran</h3>
                        </div>
                        <!-- <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="table-box-wrap">
                        
                        <div class="table-responsive expenses-table-box">
                            <input type="text" class="form-control " id="id" data-id="{{id_parent}}" value="{{id_parent}}"  hidden>

                            <table class="table  text-nowrap" id="data_v2">

                                <thead class="text-center">
                                    <tr>     
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Jenis Pembayaran</th>
                                        <th>Jumlah</th>
                                        <th>Status</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody id="show_data">
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6-xxxl col-12">
            <div class="card dashboard-card-eleven">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Hasil Ujian</h3>
                        </div>
                        <!-- <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="table-box-wrap">
                        
                        <div class="table-responsive result-table-box">
                            <input type="text" class="form-control " id="idd" data-result="{{id_parent}}" value="{{id_parent}}"  hidden>

                            <table class="table text-nowrap" id="Result">
                                <thead class="text-center">
                                    <tr>
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Nama Ujian</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Kelas</th>
                                        <th>Nilai</th>
                                        <th>Grade</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-7-xxxl col-12">
            <div class="card dashboard-card-twelve">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Anakku</h3>
                        </div>
                        <!-- <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="kids-details-wrap">
                        <div class="row">
                            {% for data in data %}
                            <div class="col-12-xxxl col-xl-6 col-12">
                                <div class="kids-details-box mb-5">
                                    <div class="item-img">
                                        <img src="uploads/Profile/{{ data.photo_user }}" alt="kids">
                                    </div>
                                    <div class="item-content table-responsive">
                                        <table class="table text-nowrap">
                                            <tbody>
                                                <tr>
                                                    <td>Nama:</td>
                                                    <td>{{data.first_name}} {{data.last_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Jenis Kelamin:</td>
                                                    <td>{{data.gender}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Kelas:</td>
                                                    <td>{{data.class}}</td>
                                                </tr>
                                                <tr>
                                                    <td>NISN:</td>
                                                    <td>{{data.NISN}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Id Masuk:</td>
                                                    <td>{{data.id_admission}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Tanggal Masuk:</td>
                                                    <td>{{data.admission_date |date("j F Y") }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-5-xxxl col-12">
            <div class="card dashboard-card-six">
                <div class="card-body">
                    <div class="heading-layout1 mg-b-17">
                        <div class="item-title">
                            <h3>Notifikasi</h3>
                        </div>
                        <!-- <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="notice-box-wrap m-height-660"  id="notice-list">
                    
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-xl-7 col-12">
            <div class="card dashboard-card-eleven">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Hasil Ujian</h3>
                        </div>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                aria-expanded="false">...</a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-times text-orange-red"></i>Close</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                <a class="dropdown-item" href="#"><i
                                        class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-box-wrap">
                        
                        <div class="table-responsive result-table-box">
                            <input type="text" class="form-control " id="idd" data-result="{{id_parent}}" value="{{id_parent}}"  hidden>

                            <table class="table text-nowrap" id="Result">
                                <thead class="text-center">
                                    <tr>
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Nama Ujian</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Kelas</th>
                                        <th>Nilai</th>
                                        <th>Grade</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

     <!-- Modal Area Start Here -->
     <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notice-board-wrap" id="notice-list">
                    <div class="modal-body" id="noticeDetailModal">

                    </div>
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End Here -->

    {% include "dashboard/ajaxparent.html" %}
{% block ajax %}

{% endblock ajax %}

{% endblock content %}