{% extends "/layout/master.html" %}
{% set title = "Student" %}
{% set typeFrontEnd = "Dashboard Student" %}
{% set section_type = "Dachboard Student" %}
{% block content %}
<div class="row">
    <!-- Student Info Area Start Here -->
    <div class="col-4-xxxl col-12">
        <div class="card dashboard-card-ten">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Tentang Saya</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                {% for student in data_student %}
                <div class="student-info">
                    <div class="media media-none--xs">
                        <div class="item-img">
                            <img src="uploads/Profile/{{data_parentS.photo}}" alt="student" />
                        </div>
                        <div class="media-body">
                            <h3 class="item-title">{{student.first_name}} {{student.last_name}}</h3>
                            <p>{{student.short_bio}}</p>
                        </div>
                    </div>
                    <div class="table-responsive info-table">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td>Nama :</td>
                                    <td class="font-medium text-dark-medium">{{student.first_name}}
                                        {{student.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>Jenis Kelamin :</td>
                                    <td class="font-medium text-dark-medium">{{student.gender}}</td>
                                </tr>
                                <tr>
                                    <td>Nama Orang Tua :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.ortu}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Nama Ibu :</td>
                                    <td class="font-medium text-dark-medium">Nama Ibu Murid(belum)</td>
                                </tr> -->
                                <tr>
                                    <td>Tanggal Lahir :</td>
                                    <td class="font-medium text-dark-medium">{{student.date_of_birth|date("d M Y")}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Agama :</td>
                                    <td class="font-medium text-dark-medium">{{student.religion}}</td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan Ayah :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.occupation}}</td>
                                </tr>
                                <tr>
                                    <td>E-mail :</td>
                                    <td class="font-medium text-dark-medium">{{student.email}}</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Penerimaan :</td>
                                    <td class="font-medium text-dark-medium">{{student.admission_date|date("d M Y")}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kelas :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.kelas}}</td>
                                </tr>
                                <tr>
                                    <td>Section :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.bagian}}</td>
                                </tr>
                                <tr>
                                    <td>NISN :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.NISN}}</td>
                                </tr>
                                <tr>
                                    <td>Alamat :</td>
                                    <td class="font-medium text-dark-medium">{{student.address_user}}</td>
                                </tr>
                                <tr>
                                    <td>Telepon :</td>
                                    <td class="font-medium text-dark-medium">{{student.phone_user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Student Info Area End Here -->
    <div class="col-8-xxxl col-12">
        <div class="row">
            <!-- Summery Area Start Here -->
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-magenta">
                                <i class="flaticon-shopping-list text-magenta"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Pemberitahuan</div>
                                <div class="item-number"><span class="counter" data-num="{{data_notice}}">12</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-blue">
                                <i class="flaticon-calendar text-blue"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Acara</div>
                                <div class="item-number"><span class="counter" data-num="{{event_notice}}">06</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-yellow">
                                <i class="flaticon-percentage-discount text-orange"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Kehadiran</div>
                                <div class="item-number"><span class="counter"
                                        data-num="{{presentaseKehadiran2}}"></span><span>%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Summery Area End Here -->
            <!-- Exam Result Area Start Here -->
            <div class="col-lg-12">
                <div class="card dashboard-card-eleven">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Semua Hasil Ujian</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>

                        <div class="table-box-wrap">
                            <table id="examResult" class="display">
                                <thead>
                                    <tr>
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Nama Ujian</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Kelas</th>
                                        <th>Nilai</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Exam Result Area End Here -->
        </div>
    </div>
</div>
<!-- ADMISSION -->
<div class="row">
    <div class="col-4-xxxl col-xl-6 col-12">
        <div class="card dashboard-card-three">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Kehadiran
                        </h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="doughnut-chart-wrap">
                    <canvas id="absent-student-doughnut-chart" width="100" height="270"></canvas>
                </div>
                <div class="student-report">
                    <div class="student-count pseudo-bg-blue">
                        <h4 class="item-title">Tidak Hadir</h4>
                        <div class="item-number">{{presentaseAbsen1}}%</div>
                    </div>
                    <div class="student-count pseudo-bg-yellow">
                        <h4 class="item-title">Hadir</h4>
                        <div class="item-number">{{presentaseKehadiran3}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALENDER -->
    <div class="col-4-xxxl col-xl-6 col-12">
        <div class="card dashboard-card-thirteen">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Kalender acara</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="calender-wrap">
                    <div id="fc-calender" class="fc-calender"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTIFICATION -->
    <!-- <div class="col-4-xxxl col-12">
        <div class="card dashboard-card-six">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Notifications</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="notice-board-wrap">

                    {% for view_notification in view_noticeEx %}
                    <div class="notice-list">
                        <div class="post-date bg-warning">{{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title"><a data-toggle="modal"
                                href="#noticeModalEx">{{view_notification.title}}</a></h6>
                        <div class="entry-meta"> {{view_notification.posted_by}} /
                            <span>{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}

                    {% for view_notification in view_noticeEv %}
                    <div class="notice-list" id="view_noticeEv">
                        <div class="post-date bg-danger">{{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title"><a class="viewnoticeEv" data-toggle="modal" href="#noticeModalEv"
                                id="{{view_notification.id_notification}}">{{view_notification.title}}
                                {{view_notification.id_notification}}</a></h6>
                        <div class="entry-meta"> {{view_notification.posted_by}} /
                            <span>{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}

                    {% for view_notification in view_noticeP %}
                    <div class="notice-list">
                        <div class="post-date bg-primary">{{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title"><a data-toggle="modal"
                                href="#noticeModalP">{{view_notification.title}}</a></h6>
                        <div class="entry-meta"> {{view_notification.posted_by}} /
                            <span>{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> -->

    <div class="col-4-xxxl col-12">
        <div class="card dashboard-card-six">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Notifications</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="notice-board-wrap" id="notice-list">
                    {# Notice List start here #}

                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area Start Here -->
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notice-board-wrap" id="notice-list">
                    <div class="modal-body" id="noticeDetailModal">

                    </div>
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End Here -->

    <!-- Modal Area Start Here -->
    <!-- <div class="modal fade" id="noticeModalEx" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for view_notification in view_student_notification %}
                    <div class="notice-list">
                        <div class="post-date bg-warning text-white p-2 mb-3 mt-3">
                            {{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title font-weight-bold">{{view_notification.title}}</h6>
                        <p>"{{view_notification.details}}"</p>
                        <div class="entry-meta font-weight-light"> {{view_notification.posted_by}} /
                            <span class="font-italic">{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="noticeModalEv" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for view_notification in view_noticeEv %}
                    <input type="hidden" name="kode" id="textkode" value="" hidden>
                    <div class="notice-list">
                        <div class="post-date bg-danger text-white p-2 mb-3 mt-3">
                            {{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title font-weight-bold">{{view_notification.title}}</h6>
                        <p>"{{view_notification.details}}"</p>
                        <div class="entry-meta font-weight-light"> {{view_notification.posted_by}} /
                            <span class="font-italic">{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="noticeModalP" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for view_notification in view_noticeP %}
                    <div class="notice-list">
                        <div class="post-date bg-primary text-white p-2 mb-3 mt-3">
                            {{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title font-weight-bold">{{view_notification.title}}</h6>
                        <p>"{{view_notification.details}}"</p>
                        <div class="entry-meta font-weight-light"> {{view_notification.posted_by}} /
                            <span class="font-italic">{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div> -->
    <!-- Modal Area End Here -->

</div>

<script>

    initTable = function () {
        var id = $(this).attr('data');
        table = $("#examResult").on('preXhr.dt', function (e, settings, data) {

            console.log('loading ....');

        }).on('draw.dt', function () {
            console.log('dapat data ....');

        }).DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "columnDefs": [
                { "targets": 0, className: "text-center", "orderable": false },
                { "targets": 1, className: "text-start", "orderable": false },
                { "targets": 2, className: "text-start", "orderable": false },
                { "targets": 3, className: "text-start", "orderable": false },
                { "targets": 4, className: "text-start", "orderable": false },
                { "targets": 5, className: "text-start", "orderable": false },
                { "targets": 6, className: "text-start", "orderable": false },


            ],
            'pageLength': 10,
            'processing': true,
            'serverSide': true,
            'select': true,
            'responsive': true,
            'ajax': {
                url: "/api/" + id + "/examResult",
                type: 'GET',
            },
            'columns': [
                { 'data': 'nisn' },
                { 'data': 'nama' },
                { 'data': 'ujian' },
                { 'data': 'mapel' },
                { 'data': 'kelas' },
                { 'data': 'nilai' },
                { 'data': 'tanggal' }
            ],
        });

    }

    initTable();

    $(document).ready(function () {
        var data = [];

        function difference2Parts(milliseconds) {
            const secs = Math.floor(Math.abs(milliseconds) / 1000);
            const mins = Math.floor(secs / 60);
            const hours = Math.floor(mins / 60);
            const days = Math.floor(hours / 24);
            const millisecs = Math.floor(Math.abs(milliseconds)) % 1000;
            const multiple = (term, n) => n !== 1 ? `${n} ${term}s` : `1 ${term}`;

            return {
                days: days,
                hours: hours % 24,
                hoursTotal: hours,
                minutesTotal: mins,
                minutes: mins % 60,
                seconds: secs % 60,
                secondsTotal: secs,
                milliSeconds: millisecs,
                get diffStr() {
                    return `${multiple(`day`, this.days)}, ${multiple(`hour`, this.hours)}, ${multiple(`minute`, this.minutes)} and ${multiple(`second`, this.seconds)}`;
                },
                get diffStrMs() {
                    return `${this.diffStr.replace(` and`, `, `)} and ${multiple(`millisecond`, this.milliSeconds)}`;
                },
            };
        }

        function untilXMas(date) {
            const nextChristmas = new Date(date);
            const report = document.querySelector(`#nextXMas`);

            const diff = () => {
                const diffs = difference2Parts(nextChristmas - new Date());
                report.innerHTML = `Awaiting next XMas 🙂 (${diffs.diffStrMs.replace(/(\d+)/g, a => `<b>${a}</b>`)})<br>
                <br>In other words, until next XMas lasts&hellip;<br>
                In minutes: <b>${diffs.minutesTotal}</b><br>In hours: <b>${diffs.hoursTotal}</b><br>In seconds: <b>${diffs.secondsTotal}</b>`;
                setTimeout(diff, 200);
            };
            return difference2Parts(nextChristmas - new Date());
        }

        function drawNotice(s) {
            //console.log(s);
            const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                "September", "Oktober", "November", "Desember"
            ];
            //drawNotice();
            $.ajax({
                type: "GET",
                url: "/getNotice",
                dataType: "JSON",
                success: function (response) {
                    //console.log(response[0])
                    $('#notice-list').empty();
                    $.each(response, function (i, data) {
                        data += data[i]
                        var dAwal = new Date(response[i].date_notice)
                        var bulan = months[dAwal.getMonth()];
                        var tanggal = dAwal.getDate();
                        var tahun = dAwal.getFullYear();
                        var minus = untilXMas(dAwal);
                        //console.log(minus)
                        //console.log(minus.minutesTotal);
                        var difference;
                        if (minus.minutesTotal <= 60) {
                            difference = minus.minutesTotal + ' menit lalu';
                        } else if (minus.hoursTotal <= 24) {
                            difference = minus.hoursTotal + ' jam lalu';
                        } else {
                            difference = minus.days + ' hari lalu';
                        }

                        //console.log(response[i].category)
                        var classCategory;
                        switch (response[i].category) {
                            case 'Exam': {
                                classCategory = 'bg-warning'
                            }
                                break;
                            case 'Pembayaran': {
                                classCategory = 'bg-success'
                            }
                                break;
                            case 'Event': {
                                classCategory = 'bg-danger'
                            }
                                break;
                            case 'Pengumuman_Sekolah': {
                                classCategory = 'bg-primary'
                            }
                                break;
                            default: {

                            }
                                break;
                        }
                        $('#notice-list').append(
                            '<div class="notice-list noticeBoardToModal" data-id="' +
                            response[i].id_notification +
                            '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                            classCategory + '">' +
                            tanggal + ' ' + bulan + ', ' + tahun +
                            '</div><h6 class="notice-title"><a href="#">' + response[i]
                                .title +
                            '</a></h6> <div class="entry-meta">  ' + response[i]
                                .posted_by +
                            ' / <span>' + difference + '</span></div></div>')
                    });
                },
                complete: function () { }
            });
        };
        drawNotice();

        // $('#searchTitleNoticeBoard').keyup(function (e) {
        //     var search = $('#searchTitleNoticeBoard').val();
        //     drawNotice(search)
        //     //console.log(search);
        // });

        // $('#searchDateNoticeBoard').change(function (e) {
        //     var search = $('#searchDateNoticeBoard').val();
        //     drawNotice(search)
        //     //console.log(search);
        // });

        $('#noticeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                "September", "Oktober", "November", "Desember"
            ];
            // console.log(recipient);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            $.ajax({
                type: "GET",
                url: "/getNoticeDetails",
                data: {
                    id: recipient
                },
                dataType: "JSON",
                success: function (response) {
                    //console.log(response)
                    var dAwal = new Date(response[0].date_notice)
                    var bulan = months[dAwal.getMonth()];
                    var tanggal = dAwal.getDate();
                    var tahun = dAwal.getFullYear();
                    var minus = untilXMas(dAwal);
                    //console.log(minus)
                    //console.log(minus.minutesTotal);
                    var difference;
                    if (minus.minutesTotal <= 60) {
                        difference = minus.minutesTotal + ' menit lalu';
                    } else if (minus.hoursTotal <= 24) {
                        difference = minus.hoursTotal + ' jam lalu';
                    } else {
                        difference = minus.days + ' hari lalu';
                    }

                    //console.log(response[i].category)
                    var classCategory;
                    switch (response[0].category) {
                        case 'Exam': {
                            classCategory = 'bg-warning'
                        }
                            break;
                        case 'Pembayaran': {
                            classCategory = 'bg-success'
                        }
                            break;
                        case 'Event': {
                            classCategory = 'bg-danger'
                        }
                            break;
                        case 'Pengumuman_Sekolah': {
                            classCategory = 'bg-primary'
                        }
                            break;
                        default: {

                        }
                            break;
                    }
                    var modal = $(this)
                    $('#noticeDetailModal').empty()
                    console.log($('#noticeDetailModal').html())
                    $('#noticeDetailModal').append('<div class="notice-list noticeBoardToModal" data-id="' +
                        response[0].id_notification +
                        '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                        classCategory + '">' +
                        tanggal + ' ' + bulan + ', ' + tahun +
                        '</div><h6 class="notice-title"><a href="#">' + response[0]
                            .title +
                        '</a></h6> <p>' + response[0].details + '</p> <div class="entry-meta">  ' + response[0]
                            .posted_by +
                        ' / <span>' + difference + '</span></div></div>');
                }
            });
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

        })
        $('#resetFormNoticeBoard').click(function (e) {
            e.preventDefault();
            $('#categoryNoticeBoard').val('').change();
            $('#titleNoticeBoard').val('');
            $('#detailsNoticeBoard').val('');

        });
    })


</script>


<script type="text/javascript">

    if ($("#absent-student-doughnut-chart").length) {
        var absen;
        var kehadiran;
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/student/apidata",
                dataType: "JSON",
                data: { id_user: '{{id_user}}' },
                success: function (total) {
                    let a = total;
                    // console.log(a['totalSiswaFemale'])
                    absen = a['presentaseAbsenM']
                    kehadiran = a['presentaseKehadiranM']

                    // console.log(absen);
                    var doughnutChartData = {
                        labels: ["Tidak Hadir", "Hadir"],
                        datasets: [{
                            backgroundColor: ["#304ffe", "#ffa601"],
                            data: [absen, kehadiran],
                            label: "Total Absensi"
                        },]
                    };
                    var doughnutChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        cutoutPercentage: 65,
                        rotation: -9.4,
                        animation: {
                            duration: 2000
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: true
                        },
                    };
                    var studentCanvas = $("#absent-student-doughnut-chart").get(0).getContext("2d");
                    var studentChart = new Chart(studentCanvas, {
                        type: 'doughnut',
                        data: doughnutChartData,
                        options: doughnutChartOptions
                    });
                }
            });
        });
    }

</script>
{% endblock content %}