{% extends "/layout/master.html" %}
{% set title = "Student" %}
{% set typeFrontEnd = "Dashboard Student" %}
{% block content %}
<div class="row">
    <!-- Student Info Area Start Here -->
    <div class="col-4-xxxl col-12">
        <div class="card dashboard-card-ten">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Tentang Saya</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                {% for student in data_student %}
                <div class="student-info">
                    <div class="media media-none--xs">
                        <div class="item-img">
                            <img src="img/figure/student.png" class="media-img-auto" alt="student">
                        </div>
                        <div class="media-body">
                            <h3 class="item-title">{{student.first_name}} {{student.last_name}}</h3>
                            <p>{{student.short_bio}}</p>
                        </div>
                    </div>
                    <div class="table-responsive info-table">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td>Nama :</td>
                                    <td class="font-medium text-dark-medium">{{student.first_name}}
                                        {{student.last_name}}</td>
                                </tr>
                                <tr>
                                    <td>Jenis Kelamin :</td>
                                    <td class="font-medium text-dark-medium">{{student.gender}}</td>
                                </tr>
                                <tr>
                                    <td>Nama Orang Tua :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.ortu}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Nama Ibu :</td>
                                    <td class="font-medium text-dark-medium">Nama Ibu Murid(belum)</td>
                                </tr> -->
                                <tr>
                                    <td>Tanggal Lahir :</td>
                                    <td class="font-medium text-dark-medium">{{student.date_of_birth|date("d M Y")}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Agama :</td>
                                    <td class="font-medium text-dark-medium">{{student.religion}}</td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan Ayah :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.occupation}}</td>
                                </tr>
                                <tr>
                                    <td>E-mail :</td>
                                    <td class="font-medium text-dark-medium">{{student.email}}</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Penerimaan :</td>
                                    <td class="font-medium text-dark-medium">{{student.admission_date|date("d M Y")}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Kelas :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.kelas}}</td>
                                </tr>
                                <tr>
                                    <td>Section :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.bagian}}</td>
                                </tr>
                                <tr>
                                    <td>NISN :</td>
                                    <td class="font-medium text-dark-medium">{{data_parentS.NISN}}</td>
                                </tr>
                                <tr>
                                    <td>Alamat :</td>
                                    <td class="font-medium text-dark-medium">{{student.address_user}}</td>
                                </tr>
                                <tr>
                                    <td>Telepon :</td>
                                    <td class="font-medium text-dark-medium">{{student.phone_user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Student Info Area End Here -->
    <div class="col-8-xxxl col-12">
        <div class="row">
            <!-- Summery Area Start Here -->
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-magenta">
                                <i class="flaticon-shopping-list text-magenta"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Pemberitahuan</div>
                                <div class="item-number"><span class="counter"
                                        data-num="{{data_student_notification}}">12</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-blue">
                                <i class="flaticon-calendar text-blue"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Acara</div>
                                <div class="item-number"><span class="counter" data-num="">06</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="dashboard-summery-one">
                    <div class="row">
                        <div class="col-6">
                            <div class="item-icon bg-light-yellow">
                                <i class="flaticon-percentage-discount text-orange"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="item-content">
                                <div class="item-title">Kehadiran</div>
                                <div class="item-number"><span class="counter"
                                        data-num="{{presentaseKehadiran1}}"></span><span>%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Summery Area End Here -->
            <!-- Exam Result Area Start Here -->
            <div class="col-lg-12">
                <div class="card dashboard-card-eleven">
                    <div class="card-body">
                        <div class="heading-layout1">
                            <div class="item-title">
                                <h3>Semua Hasil Ujian</h3>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-expanded="false">...</a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-times text-orange-red"></i>Close</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i
                                            class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                </div>
                            </div>
                        </div>

                        <div class="table-box-wrap">
                            <table id="examResult" class="display">
                                <thead>
                                    <tr>
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Nama Ujian</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Kelas</th>
                                        <th>Nilai</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                        <!-- <div class="table-box-wrap">
                            <form class="search-form-box">
                                <div class="row gutters-8">
                                    <div class="col-lg-4 col-12 form-group">
                                        <input type="text" placeholder="Search by Exam ..." class="form-control">
                                    </div>
                                    <div class="col-lg-3 col-12 form-group">
                                        <input type="text" placeholder="Search by Subject ..." class="form-control">
                                    </div>
                                    <div class="col-lg-3 col-12 form-group">
                                        <input type="text" placeholder="dd MM YYYY" class="form-control">
                                    </div>
                                    <div class="col-lg-2 col-12 form-group">
                                        <button type="submit" class="fw-btn-fill btn-gradient-yellow">CARI</button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive result-table-box">
                                <input type="text" class="form-control " id="id" data-result="{{id_user}}"
                                    value="{{id_user}}" hidden>
                                <table class="table text-nowrap" id="x"></table>
                                <thead>
                                    <tr>
                                        <th>NISN</th>
                                        <th>Nama</th>
                                        <th>Nama Ujian</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Kelas</th>
                                        <th>Nilai</th>
                                        <th>Tanggal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data_student_exam in data_student_exam %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#{{id_user}}</label>
                                                </div>
                                            </td>
                                            <td>{{data_student_exam.exam_name}}</td>
                                            <td>{{data_student_exam.id_subject}}</td>
                                            <td>
                                                {% if data_student_exam.score >= 90 %}
                                                A
                                                {% elseif data_student_exam.score >= 80 %}
                                                B
                                                {% elseif data_student_exam.score >= 60 %}
                                                C
                                                {% else %}
                                                D
                                                {% endif %}
                                            </td>
                                            <td>{{data_student_exam.score}}.00 > 100</td>
                                            <td>{{data_student_exam.exam_date|date("d M Y")}}</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0021</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>English</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0022</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>English</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0023</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>Chemistry</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0024</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>English</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0025</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>Chemistry</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0025</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>Chemistry</td>
                                            <td>D</td>
                                            <td>70.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0025</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>English</td>
                                            <td>C</td>
                                            <td>80.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0025</label>
                                                </div>
                                            </td>
                                            <td>Class Test</td>
                                            <td>English</td>
                                            <td>B</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input">
                                                    <label class="form-check-label">#0025</label>
                                                </div>
                                            </td>
                                            <td>First Semister</td>
                                            <td>English</td>
                                            <td>A</td>
                                            <td>99.00 > 100</td>
                                            <td>22/02/2019</td>
                                            <td>
                                                <div class="dropdown">
                                                    <a href="#" class="dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                        <span
                                                            class="flaticon-more-button-of-three-dots"></span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-times text-orange-red"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                                        <a class="dropdown-item" href="#"><i
                                                                class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                </tbody>
                                </table>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Exam Result Area End Here -->
        </div>
    </div>
</div>
<!-- ADMISSION -->
<div class="row">
    <div class="col-4-xxxl col-xl-6 col-12">
        <div class="card dashboard-card-three">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Kehadiran
                        </h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="doughnut-chart-wrap">
                    <canvas id="absent-student-doughnut-chart" width="100" height="270"></canvas>
                </div>
                <div class="student-report">
                    <div class="student-count pseudo-bg-blue">
                        <h4 class="item-title">Tidak Hadir</h4>
                        <div class="item-number">{{presentaseAbsen}}%</div>
                    </div>
                    <div class="student-count pseudo-bg-yellow">
                        <h4 class="item-title">Hadir</h4>
                        <div class="item-number">{{presentaseKehadiran}}%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALENDER -->
    <div class="col-4-xxxl col-xl-6 col-12">
        <div class="card dashboard-card-thirteen">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Kalender acara</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="calender-wrap">
                    <div id="fc-calender" class="fc-calender"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- NOTIFICATION -->
    <div class="col-4-xxxl col-12">
        <div class="card dashboard-card-six">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Notifications</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="notice-board-wrap" id="otice-list">
                    <!-- <h3>Notifications</h3> -->

                    {% for view_notification in view_student_notification %}
                    <div class="notice-list">
                        <div class="post-date bg-skyblue">{{view_notification.date_notice|date("d M Y")}}</div>
                        <h6 class="notice-title"><a href="#">{{view_notification.title}}</a></h6>
                        <div class="entry-meta"> {{view_notification.posted_by}} /
                            <span>{{view_notification.date_notice|date("g:ia")}}</span>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- <div class="notice-list">
                        <div class="post-date bg-skyblue">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag mene esom tus eleifend
                                lectus
                                sed maximus mi faucibusnting.</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                    <!-- <div class="notice-list">
                        <div class="post-date bg-yellow">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag printing.</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                    <!-- <div class="notice-list">
                        <div class="post-date bg-pink">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag Nulla rhoncus eleifensed
                                mim
                                us mi faucibus id. Mauris vestibulum non purus lobortismenearea</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                    <!-- <div class="notice-list">
                        <div class="post-date bg-skyblue">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag mene esom text of the
                                printing.</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                    <!-- <div class="notice-list">
                        <div class="post-date bg-yellow">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag printing.</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                    <!-- <div class="notice-list">
                        <div class="post-date bg-pink">16 June, 2019</div>
                        <h6 class="notice-title"><a href="#">Great School manag meneesom.</a></h6>
                        <div class="entry-meta"> Jennyfar Lopez / <span>5 min ago</span></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Area Start Here -->
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notice-board-wrap" id="notice-list">
                    <div class="modal-body" id="noticeDetailModal">

                    </div>
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End Here -->

</div>

<script>

    initTable = function () {
        var id = $(this).attr('data');
        table = $("#examResult").on('preXhr.dt', function (e, settings, data) {

            console.log('loading ....');

        }).on('draw.dt', function () {
            console.log('dapat data ....');

        }).DataTable({
            responsive: {
                details: {
                    type: 'column'
                }
            },
            "columnDefs": [
                { "targets": 0, className: "text-center", "orderable": false },
                { "targets": 1, className: "text-start", "orderable": false },
                { "targets": 2, className: "text-start", "orderable": false },
                { "targets": 3, className: "text-start", "orderable": false },
                { "targets": 4, className: "text-start", "orderable": false },
                { "targets": 5, className: "text-start", "orderable": false },
                { "targets": 6, className: "text-start", "orderable": false },


            ],
            'pageLength': 10,
            'processing': true,
            'serverSide': true,
            'select': true,
            'responsive': true,
            'ajax': {
                url: "/api/" + id + "/examResult",
                type: 'GET',
            },
            'columns': [
                { 'data': 'nisn' },
                { 'data': 'nama' },
                { 'data': 'ujian' },
                { 'data': 'mapel' },
                { 'data': 'kelas' },
                { 'data': 'nilai' },
                { 'data': 'tanggal' }
            ],
        });

    }

    initTable();


</script>


<script type="text/javascript">

    // $(document).ready(function () {

    //     initTable = function () {

    //         table = $("#examResult").on('preXhr.dt', function (e, settings, data) {

    //         }).on('draw.dt', function () {

    //         }).DataTable({
    //             responsive: {
    //                 details: {
    //                     type: 'column'
    //                 }
    //             },
    //             "columnDefs": [
    //                 { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
    //                 { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
    //                 { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
    //                 { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
    //                 { "width": "10%", "targets": 4, className: "text-center", "orderable": false },
    //                 { "width": "10%", "targets": 5, className: "text-end", "orderable": false },
    //                 { "width": "10%", "targets": 6, className: "text-end", "orderable": false },

    //             ],
    //             'pageLength': 10,
    //             'responsive': true,
    //             'processing': true,
    //             'serverSide': true,
    //             'serverMethod': 'get',
    //             'ajax': {
    //                 'url': "/api/" + "{{id_user}}" + "/examResult",
    //                 'dataType:': 'json',
    //                 'type': 'get',

    //             },
    //             'columns': [
    //                 { 'data': 'nisn' },
    //                 { 'data': 'nama' },
    //                 { 'data': 'ujian' },
    //                 { 'data': 'mapel' },
    //                 { 'data': 'kelas' },
    //                 { 'data': 'nilai' },
    //                 { 'data': 'tanggal' }
    //             ]


    //         });

    //         initTable();
    //     }

    // });


    if ($("#absent-student-doughnut-chart").length) {
        var absen;
        var kehadiran;
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/student/apidata",
                dataType: "JSON",
                data: { id_user: '{{id_user}}' },
                success: function (total) {
                    let a = total;
                    // console.log(a['totalSiswaFemale'])
                    absen = a['presentaseAbsenM']
                    kehadiran = a['presentaseKehadiranM']

                    // console.log(absen);
                    var doughnutChartData = {
                        labels: ["Tidak Hadir", "Hadir"],
                        datasets: [{
                            backgroundColor: ["#304ffe", "#ffa601"],
                            data: [absen, kehadiran],
                            label: "Total Absensi"
                        },]
                    };
                    var doughnutChartOptions = {
                        responsive: true,
                        maintainAspectRatio: false,
                        cutoutPercentage: 65,
                        rotation: -9.4,
                        animation: {
                            duration: 2000
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: true
                        },
                    };
                    var studentCanvas = $("#absent-student-doughnut-chart").get(0).getContext("2d");
                    var studentChart = new Chart(studentCanvas, {
                        type: 'doughnut',
                        data: doughnutChartData,
                        options: doughnutChartOptions
                    });
                }
            });
        });
    }

</script>
{% endblock content %}