{% extends "/layout/master.html" %}
{% set title = "Teacher" %}
{% set typeFrontEnd = "Dashboard Teacher" %}
{% block content %}

<div class="row">
    <!-- Dashboard summery Start Here -->
    <div class="col-12 col-4-xxxl">
        <div class="row">
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                <div class="dashboard-summery-two">
                    <div class="item-icon bg-light-magenta">
                        <i class="flaticon-classmates text-magenta"></i>
                    </div>
                    <div class="item-content">  
                        <div class="item-number"><span class="counter" data-num="{{Totalsiswa}}">100000</span></div>
                        <div class="item-title">Total Siswa</div>
                    </div>
                </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                <div class="dashboard-summery-two">
                    <div class="item-icon bg-light-blue">
                        <i class="flaticon-shopping-list text-blue"></i>
                    </div>
                    <div class="item-content">
                        <div class="item-number"><span class="counter" data-num="{{ujianTotal}}">19,050</span></div>
                        <div class="item-title">Total Ujian</div>
                    </div>
                </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                <div class="dashboard-summery-two">
                    <div class="item-icon bg-light-yellow">
                        <i class="flaticon-mortarboard text-orange"></i>
                    </div>
                    <div class="item-content">
                        <div class="item-number"><span class="counter" data-num="{{siswaLulus}}">23,890</span></div>
                        <div class="item-title">Murid Lulus</div>
                    </div>
                </div>
            </div>
            <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                <div class="dashboard-summery-two">
                    <div class="item-icon bg-light-red">
                        <i class="flaticon-money text-red"></i>
                    </div>
                    <div class="item-content">
                        <div class="item-number">{{pendapatanTotal}}</div>
                        <div class="item-title">Total Pendapatan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard summery End Here -->
    <!-- Students Chart End Here -->
    <div class="col-lg-6 col-4-xxxl col-xl-6">
        <div class="card dashboard-card-three">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Murid</h3>
                    </div>
                   <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" 
                        data-toggle="dropdown" aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Tutup</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Ubah</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="doughnut-chart-wrap">
                    <canvas id="student-doughnut-chart" width="100" height="270"></canvas>
                </div>
                <div class="student-report">
                    <div class="student-count pseudo-bg-blue">
                        <h4 class="item-title">Siwa Perempuan</h4>
                        <div class="item-number">{{siswaPerempuan}}</div>
                    </div>
                    <div class="student-count pseudo-bg-yellow">
                        <h4 class="item-title">Siswa Laki-Laki</h4>
                        <div class="item-number">{{siswaLakiLaki}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Students Chart End Here -->
    <!-- Notice Board Start Here -->
    <div class="col-lg-6 col-4-xxxl col-xl-6">
        <div class="card dashboard-card-six">
            <div class="card-body">
                <div class="heading-layout1 mg-b-17">
                    <div class="item-title">
                        <h3>Notifikasi</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="notice-box-wrap m-height-660"  id="notice-list">
                    

                </div>
            </div>
        </div>
    </div>
    <!-- Notice Board End Here -->
</div>
<!-- Student Table Area Start Here -->
<div class="row">
    <div class="col-lg-12">
        <div class="card dashboard-card-eleven">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Siswa</h3>
                    </div>
                   <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" 
                        data-toggle="dropdown" aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Tutup</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Ubah</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <div class="table-box-wrap">
                    
                    <div class="table-responsive student-table-box">
                        <table class="table display  text-nowrap" id="student1">
                            <thead class="text-center">
                                <tr>
                                    <th>No</th>
                                    <th>NISN</th>
                                    <th>Foto</th>
                                    <th>Nama</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Kelas</th>
                                    <th>Bagian</th>
                                    <th>Orang Tua</th>
                                    <th>Alamat</th>
                                    <th>Tanggal Lahir</th>
                                    <th>No. Telfon</th>
                                    <th>E-mail</th>
                                    </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Table Area End Here -->

<!-- Modal Area Start Here -->
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Notifications Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="notice-board-wrap" id="notice-list">
                <div class="modal-body" id="noticeDetailModal">

                </div>
            </div>
            <div class="modal-footer">
                {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                <button type="button" class="footer-btn bg-linkedin">Save
                    Changes</button> #}
            </div>
        </div>
    </div>
</div>
<!-- Modal Area End Here -->

<script>
    function formatIndonesia(val, dec, fancy) {
            if (typeof fancy === typeof undefined) {
                fancy = false;
            }

            val = parseFloat(val);
            if (!fancy) {
                if (typeof dec === typeof undefined) {
                    dec = 0;
                }
                // return val.toFixed(dec);
                return val.toFixed(dec).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            }
            else {
                var check = [
                    {
                        symbol: 'jt',
                        max: 1000000
                    },
                    {
                        symbol: 'k',
                        max: 1000
                    },
                ];

                for (var i = 0; i < check.length; i++) {
                    if (val > check[i].max) {
                        return (val / check[i].max).toFixed(1) + check[i].symbol;
                    }
                }
                return val.toFixed(0);
            }
        }


        $(document).ready(function () {
            student = function () {
    
                table = $("#student1").on('preXhr.dt', function (e, settings, data) {
    
                    console.log('loading ....');
    
                }).on('draw.dt', function () {
                    console.log('dapat data ....');
    
                }).DataTable({
                    responsive: {
                        details: {
                            type: 'column'
                        }
                    },
                    "columnDefs": [
                        {  "targets": 0, className: "text-center", "orderable": false },
                        {  "targets": 1, className: "text-start", "orderable": false },
                        {  "targets": 2, className: "text-start", "orderable": false },
                        {  "targets": 3, className: "text-start", "orderable": false },
                        {  "targets": 4, className: "text-start", "orderable": false },
                        {  "targets": 5, className: "text-start", "orderable": false },
                        {  "targets": 6, className: "text-start", "orderable": false },
                        {  "targets": 7, className: "text-start", "orderable": false },
                        {  "targets": 8, className: "text-end", "orderable": false },
                        {  "targets": 9, className: "text-end", "orderable": false },
                        {  "targets": 10, className: "text-end", "orderable": false },
                        {  "targets": 11, className: "text-end", "orderable": false },
    
                    ],
                    'pageLength': 10,
                    'responsive': true,
                    'processing': true,
                    'serverSide': true,
                    'ajax': {
                        'url': "/api/dashboard-teacher",
                        'dataType:': 'json',
                        'type': 'get',
    
                    },
                    'columns': [
                        { 'data': 'no' },
                        { 'data': 'nisn' },
                        { 'data': 'foto' },
                        { 'data': 'nama' },
                        { 'data': 'gender' },
                        { 'data': 'class' },
                        { 'data': 'section' },
                        { 'data': 'parent' },
                        { 'data': 'alamat' },
                        { 'data': 'tanggal_lahir' },
                        { 'data': 'telepon' },
                        { 'data': 'email' },
    
                    ]
    
    
                });
    
            }
            student();
        });

        $(document).ready(function () {
            var data = [];
    
            function difference2Parts(milliseconds) {
                const secs = Math.floor(Math.abs(milliseconds) / 1000);
                const mins = Math.floor(secs / 60);
                const hours = Math.floor(mins / 60);
                const days = Math.floor(hours / 24);
                const millisecs = Math.floor(Math.abs(milliseconds)) % 1000;
                const multiple = (term, n) => n !== 1 ? `${n} ${term}s` : `1 ${term}`;
    
                return {
                    days: days,
                    hours: hours % 24,
                    hoursTotal: hours,
                    minutesTotal: mins,
                    minutes: mins % 60,
                    seconds: secs % 60,
                    secondsTotal: secs,
                    milliSeconds: millisecs,
                    get diffStr() {
                        return `${multiple(`day`, this.days)}, ${multiple(`hour`, this.hours)}, ${multiple(`minute`, this.minutes)} and ${multiple(`second`, this.seconds)}`;
                    },
                    get diffStrMs() {
                        return `${this.diffStr.replace(` and`, `, `)} and ${multiple(`millisecond`, this.milliSeconds)}`;
                    },
                };
            }
    
            function untilXMas(date) {
                const nextChristmas = new Date(date);
                const report = document.querySelector(`#nextXMas`);
    
                const diff = () => {
                    const diffs = difference2Parts(nextChristmas - new Date());
                    report.innerHTML = `Awaiting next XMas 🙂 (${diffs.diffStrMs.replace(/(\d+)/g, a => `<b>${a}</b>`)})<br>
                    <br>In other words, until next XMas lasts&hellip;<br>
                    In minutes: <b>${diffs.minutesTotal}</b><br>In hours: <b>${diffs.hoursTotal}</b><br>In seconds: <b>${diffs.secondsTotal}</b>`;
                    setTimeout(diff, 200);
                };
                return difference2Parts(nextChristmas - new Date());
            }
    
            function drawNotice(s) {
                //console.log(s);
                const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                    "September", "Oktober", "November", "Desember"
                ];
                //drawNotice();
                $.ajax({
                    type: "GET",
                    url: "/getNoticeS",
                    data: {
                        search: s
                    },
                    dataType: "JSON",
                    success: function (response) {
                        //console.log(response[0])
                        $('#notice-list').empty();
                        $.each(response, function (i, data) {
                            data += data[i]
                            var dAwal = new Date(response[i].date_notice)
                            var bulan = months[dAwal.getMonth()];
                            var tanggal = dAwal.getDate();
                            var tahun = dAwal.getFullYear();
                            var minus = untilXMas(dAwal);
                            //console.log(minus)
                            //console.log(minus.minutesTotal);
                            var difference;
                            if (minus.minutesTotal <= 60) {
                                difference = minus.minutesTotal + ' menit lalu';
                            } else if (minus.hoursTotal <= 24) {
                                difference = minus.hoursTotal + ' jam lalu';
                            } else {
                                difference = minus.days + ' hari lalu';
                            }
    
                            //console.log(response[i].category)
                            var classCategory;
                            switch (response[i].category) {
                                case 'Exam': {
                                    classCategory = 'bg-warning'
                                }
                                    break;
                                case 'Pembayaran': {
                                    classCategory = 'bg-success'
                                }
                                    break;
                                case 'Event': {
                                    classCategory = 'bg-danger'
                                }
                                    break;
                                case 'Pengumuman_Sekolah': {
                                    classCategory = 'bg-primary'
                                }
                                    break;
                                default: {
    
                                }
                                    break;
                            }
                            $('#notice-list').append(
                                '<div class="notice-list noticeBoardToModal" data-id="' +
                                response[i].id_notification +
                                '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                                classCategory + '">' +
                                tanggal + ' ' + bulan + ', ' + tahun +
                                '</div><h6 class="notice-title"><a href="#">' + response[i]
                                    .title +
                                '</a></h6> <div class="entry-meta">  ' + response[i]
                                    .posted_by +
                                ' / <span>' + difference + '</span></div></div>')
                        });
                    },
                    complete: function () { }
                });
            };
            drawNotice();
    
            // $('#searchTitleNoticeBoard').keyup(function (e) {
            //     var search = $('#searchTitleNoticeBoard').val();
            //     drawNotice(search)
            //     //console.log(search);
            // });
    
            // $('#searchDateNoticeBoard').change(function (e) {
            //     var search = $('#searchDateNoticeBoard').val();
            //     drawNotice(search)
            //     //console.log(search);
            // });
    
            $('#noticeModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('id') // Extract info from data-* attributes
                const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                    "September", "Oktober", "November", "Desember"
                ];
                // console.log(recipient);
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                $.ajax({
                    type: "GET",
                    url: "/getNoticeDetailsS",
                    data: {
                        id: recipient
                    },
                    dataType: "JSON",
                    success: function (response) {
                        //console.log(response)
                        var dAwal = new Date(response[0].date_notice)
                        var bulan = months[dAwal.getMonth()];
                        var tanggal = dAwal.getDate();
                        var tahun = dAwal.getFullYear();
                        var minus = untilXMas(dAwal);
                        //console.log(minus)
                        //console.log(minus.minutesTotal);
                        var difference;
                        if (minus.minutesTotal <= 60) {
                            difference = minus.minutesTotal + ' menit lalu';
                        } else if (minus.hoursTotal <= 24) {
                            difference = minus.hoursTotal + ' jam lalu';
                        } else {
                            difference = minus.days + ' hari lalu';
                        }
    
                        //console.log(response[i].category)
                        var classCategory;
                        switch (response[0].category) {
                            case 'Exam': {
                                classCategory = 'bg-warning'
                            }
                                break;
                            case 'Pembayaran': {
                                classCategory = 'bg-success'
                            }
                                break;
                            case 'Event': {
                                classCategory = 'bg-danger'
                            }
                                break;
                            case 'Pengumuman_Sekolah': {
                                classCategory = 'bg-primary'
                            }
                                break;
                            default: {
    
                            }
                                break;
                        }
                        var modal = $(this)
                        $('#noticeDetailModal').empty()
                        console.log($('#noticeDetailModal').html())
                        $('#noticeDetailModal').append('<div class="notice-list noticeBoardToModal" data-id="' +
                            response[0].id_notification +
                            '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                            classCategory + '">' +
                            tanggal + ' ' + bulan + ', ' + tahun +
                            '</div><h6 class="notice-title"><a href="#">' + response[0]
                                .title +
                            '</a></h6> <p>' + response[0].details + '</p> <div class="entry-meta">  ' + response[0]
                                .posted_by +
                            ' / <span>' + difference + '</span></div></div>');
                    }
                });
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    
            })
            $('#resetFormNoticeBoard').click(function (e) {
                e.preventDefault();
                $('#categoryNoticeBoard').val('').change();
                $('#titleNoticeBoard').val('');
                $('#detailsNoticeBoard').val('');
    
            });
        })


</script>
{% endblock content %}