{% extends "/layout/master.html" %}
{% set title = "All Subject" %}
{% block content %}

<!-- All Subjects Area Start Here -->
<div class="row">
    <div class="col-4-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Add New Subject</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="new-added-form">
                    <div class="row">
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Subject Name *</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Subject Type *</label>
                            <select class="select2">
                                <option value="">Please Select</option>
                                {% for result in result %}
                                <option value="{{result.subject_type}}">{{result.subject_type}}</option>
                                <!-- <option value="2">English</option>
                                <option value="3">Mathematics</option>
                                <option value="3">Economics</option>
                                <option value="3">Chemistry</option> -->
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Select Class *</label>
                            <select class="select2">
                                <option value="0">Please Select</option>
                                {% for result in result %}
                                <option value="{{result.class}}">{{result.class}}</option>
                                <!-- <option value="2">Nursery</option>
                                <option value="3">One</option>
                                <option value="3">Two</option>
                                <option value="3">Three</option> -->
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Select Code</label>
                            <select class="select2">
                                <option value="0">Please Select</option>
                                <option value="1">00524</option>
                                <option value="2">00525</option>
                                <option value="3">00526</option>
                                <option value="3">00527</option>
                                <option value="3">00528</option>
                            </select>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>All Subjects</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <!-- <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-lg-4 col-12 form-group">
                            <input type="text" placeholder="Search by Exam ..." class="form-control">
                        </div>
                        <div class="col-lg-3 col-12 form-group">
                            <input type="text" placeholder="Search by Subject ..." class="form-control">
                        </div>
                        <div class="col-lg-3 col-12 form-group">
                            <input type="text" placeholder="dd/mm/yyyy" class="form-control">
                        </div>
                        <div class="col-lg-2 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </form> -->
                <div class="table-box-wrap">
                    <table class="table text-nowrap" id="subject">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject Name</th>
                                <th>Subject Type</th>
                                <th>Class</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in result %}
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#{{result.id_subject}}</label>
                                    </div>
                                </td>
                                <td>{{result.subject_name}}</td>
                                <td>{{result.subject_type}}</td>
                                <td>{{result.class}}</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0022</label>
                                    </div>
                                </td>
                                <td>Bangla</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0023</label>
                                    </div>
                                </td>
                                <td>English</td>
                                <td>Theory</td>
                                <td>7</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0024</label>
                                    </div>
                                </td>
                                <td>Arts</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0025</label>
                                    </div>
                                </td>
                                <td>Finanace</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0026</label>
                                    </div>
                                </td>
                                <td>Economics</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0027</label>
                                    </div>
                                </td>
                                <td>English</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                            <!-- <tr>
                                <td>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input">
                                        <label class="form-check-label">#0028</label>
                                    </div>
                                </td>
                                <td>Bangla</td>
                                <td>Theory</td>
                                <td>6</td>
                                <td>02/05/2001</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            aria-expanded="false">
                                            <span class="flaticon-more-button-of-three-dots"></span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-times text-orange-red"></i>Close</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                                        </div>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- All Subjects Area End Here -->

<script src="text/javascript">


    $(document).ready(function () {
        Tabel1Show = function () {

            table = $("#subject").on('preXhr.dt', function (e, settings, data) {

                console.log('loading ....');

            }).on('draw.dt', function () {
                console.log('dapat data ....');

            }).DataTable({
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 2, className: "text-start", "orderable": false },
                    { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
                    // { "width": "10%", "targets": 4, className: "text-start", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/api"+"/allsubject",
                    'dataType:': 'json',
                    'type': 'get',

                },
                'columns': [
                    { 'data': 'id_subject' },
                    { 'data': 'subject_name' },
                    { 'data': 'subject_type' },
                    { 'data': 'class' },
                    // { 'data': 'pekerjaan' },
                    // { 'data': 'alamat' },

                ]


            });

        }
        Tabel1Show();


    });

    //GET Details
    // function dateFormat(inputDate, format) {
    //     //parse the input date
    //     const date = new Date(inputDate);

    //     //extract the parts of the date
    //     const day = date.getDate();
    //     const month = date.getMonth() + 1;
    //     const year = date.getFullYear();

    //     //replace the month
    //     format = format.replace("MM", month.toString().padStart(2, "0"));

    //     //replace the year
    //     if (format.indexOf("yyyy") > -1) {
    //         format = format.replace("yyyy", year.toString());
    //     } else if (format.indexOf("yy") > -1) {
    //         format = format.replace("yy", year.toString().substr(2, 2));
    //     }

    //     //replace the day
    //     format = format.replace("dd", day.toString().padStart(2, "0"));

    //     return format;
    // }

    // $('#show_data').on('click', '.item_detail', function () {
    //     var id = $(this).attr('data');
    //     $.ajax({
    //         type: "GET",
    //         url: "/" + "api" + "/" + id + "/detail",
    //         dataType: "JSON",
    //         data: { id: id },
    //         success: function (data) {
    //             $.each(data, function (id_user, first_name, email, last_name, short_bio, gender, date_of_birth,
    //                 religion) {
    //                 $('#large-modal').modal('show');
    //                 $('[name="bio"]').html(data[0].short_bio);
    //                 $('[name="first_name"]').html(data[0].first_name + ' ' + data[0].last_name);
    //                 $('[name="email"]').html(data[0].email);
    //                 $('[name="gender"]').html(data[0].gender);
    //                 $('[name="date_of_birth"]').html(dateFormat(data[0].date_of_birth, 'dd-MM-yyyy'));
    //                 $('[name="religion"]').html(data[0].religion);
    //                 $('[name="username"]').html(data[0].username);
    //                 $('[name="blood_group"]').html(data[0].blood_group);
    //                 $('[name="occupation"]').html(data[0].occupation);
    //                 $('[name="address_user"]').html(data[0].address_user);
    //                 $('[name="phone_user"]').html(data[0].phone_user);
    //                 $('[name="ebio"]').val(data[0].short_bio);
    //                 $('[name="efirst_name"]').val(data[0].first_name);
    //                 $('[name="elast_name"]').val(data[0].last_name);
    //                 $('[name="eemail"]').val(data[0].email);
    //                 $('[name="egender"]').val(data[0].gender);
    //                 $('[name="edate_of_birth"]').val(data[0].date_of_birth);
    //                 $('[name="ereligion"]').val(data[0].religion);
    //                 $('[name="eusername"]').val(data[0].username);
    //                 $('[name="eblood_group"]').val(data[0].blood_group);
    //                 $('[name="eoccupation"]').val(data[0].occupation);
    //                 $('[name="eaddress_user"]').val(data[0].address_user);
    //                 $('[name="ephone_user"]').val(data[0].phone_user);
    //             });
    //         }
    //     });
    //     return false;
    // });





</script>

{% endblock content %}