{% extends "/layout/master.html" %} {% set title = "Class Routine" %} {% block
content %}

<!-- Class Routine Area Start Here -->
<div class="row">
  {# if admin start here #}
  {# {% if type == "Admin" %} #}

  <div class="col-4-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Add Class Routine</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <form class="new-added-form">
          <div class="row">
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Subject Name *</label>
              <select class="select2" id="subject_name">
                <option value="0">Please Select</option>
                {% for d in subject %}
                <option value="{{d.id_subject}}">{{d.subject_name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Subject Type *</label>
              <select class="select2" id="subject_type" disabled>
                <option value="0">Please Select</option>
                {% for d in subject %}
                <option value="{{d.id_subject}}">{{d.subject_type}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Select Class *</label>
              <select class="select2" id="id_class">
                <option value="0">Please Select</option>
                {% for d in class %}
                <option value="{{d.id_class}}">{{d.class}} - {{d.id_section}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>NIP</label>
              <select class="select2" id="id_user">
                <option value="0">Please Select</option>
                {% for d in teacher %}
                <option value="{{d.id_user}}">{{d.NISN}} - {{d.first_name}} {{d.last_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Waktu Mulai *</label>
              <input type="time" placeholder="" class="form-control" id="start_time" />
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Waktu Selesai *</label>
              <input type="time" placeholder="" class="form-control" id="end_time" />
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Hari *</label>
              <select class="select2" id="school_day">
                <option value="">Mohon Dipilih</option>
                <option value="Senin">Senin</option>
                <option value="Selasa">Selasa</option>
                <option value="Rabu">Rabu</option>
                <option value="Kamis">Kamis</option>
                <option value="Jumat">Jumat</option>
              </select>
            </div>
            <div class="col-12 form-group mg-t-8">
              <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" id="add_class_routine">
                Save
              </button>
              <button type="reset" id="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">
                Reset
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {# {% endif %} #}
  {# End if Admin only #}
  <div class="col-8-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Class Routine</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <!-- <form class="mg-b-20">
          <div class="row gutters-8">
            <div class="col-lg-4 col-12 form-group">
              <input type="text" placeholder="Search by Day ..." class="form-control" />
            </div>
            <div class="col-lg-3 col-12 form-group">
              <input type="text" placeholder="Search by Class ..." class="form-control" />
            </div>
            <div class="col-lg-3 col-12 form-group">
              <input type="text" placeholder="Search by Section ..." class="form-control" />
            </div>
            <div class="col-lg-2 col-12 form-group">
              <button type="submit" class="fw-btn-fill btn-gradient-yellow">
                SEARCH
              </button>
            </div>
          </div>
        </form> -->
        <div class="table-box-nowrap">
          <table class="display" id="class_routine">
            <thead>
              <tr>
                <th><label class="form-check-label">Day</label></th>
                <th>Class</th>
                <th>Subject</th>
                <th>Section</th>
                <th>Teacher</th>
                <th>Time</th>
                <!-- <th>Date</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Sunday</label>
                  </div>
                </td>
                <td>4</td>
                <td>Accounting</td>
                <td>A</td>
                <td>Mike John</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Monday</label>
                  </div>
                </td>
                <td>4</td>
                <td>English</td>
                <td>A</td>
                <td>Adam John</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Tuesday</label>
                  </div>
                </td>
                <td>4</td>
                <td>Economics</td>
                <td>A</td>
                <td>Johanthon Ray</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Wednesday</label>
                  </div>
                </td>
                <td>4</td>
                <td>Drawing</td>
                <td>A</td>
                <td>Mike Jonas</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Thursday</label>
                  </div>
                </td>
                <td>4</td>
                <td>English</td>
                <td>A</td>
                <td>Kate Well</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Friday</label>
                  </div>
                </td>
                <td>4</td>
                <td>Chemistry</td>
                <td>A</td>
                <td>Mike John</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
              <!-- <tr>
                <td>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label">Saturday</label>
                  </div>
                </td>
                <td>4</td>
                <td>English</td>
                <td>A</td>
                <td>Mike John</td>
                <td>10.00 am-11.00 am</td>
                <td>20/06/2019</td>
                <td>
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="flaticon-more-button-of-three-dots"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                      <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- MODAL DELETE -->
  <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog success-modal-content" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="success-message">
            <input type="hidden" name="kode" id="textkode" value="" hidden>
            <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="footer-btn bg-linkedin" id="btn_remove_class_routine">Ok</button>
          <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Class Routine Area End Here -->

<script>

  // AUTO INPUT
  subject_name = $("#subject_name");
  subject_type = $("#subject_type");

  $("#subject_name").change(function () {
    if (subject_name.val() != subject_type.val()) {
      $("#subject_type").val(subject_name.val()).change();
      // $("#jenisKelamin").val(subject_name.val()).change();
      // $("#nip").val(subject_name.val()).change();
      // $("#nohp").val(subject_name.val()).change();
      // $("#email").val(subject_name.val()).change();
    }
  });

  // DATA TABLE
  initTable = function () {

    table = $("#class_routine").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data ....');

    }).DataTable({
      responsive: {
        details: {
          type: 'column'
        }
      },
      "columnDefs": [
        { "width": "5%", "targets": 0, className: "text-center", "orderable": false },
        { "width": "15%", "targets": 1, className: "text-start", "orderable": false },
        { "width": "15%", "targets": 2, className: "text-start", "orderable": false },
        { "width": "15%", "targets": 3, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 4, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 5, className: "text-start", "orderable": false },
        { "width": "10%", "targets": 6, className: "text-start", "orderable": false },



      ],
      'pageLength': 10,
      'processing': true,
      'serverSide': true,
      'select': true,
      'responsive': true,
      'ajax': {
        url: "/api" + "/allclassroutine",
        type: 'GET',
      },
      'columns': [
        { 'data': 'school_day' },
        { 'data': 'class' },
        { 'data': 'subject_name' },
        { 'data': 'section' },
        { 'data': 'teacher_name' },
        { 'data': 'time' },
        { 'data': '' },
        // { 'data': '' },
      ],
    });

  }

  initTable();

  // ADD CLASS ROUTINE
  $('#add_class_routine').on('click', function () {
    var subject_name = $('#subject_name').val();
    var subject_type = $('#subject_type').val();
    var id_class = $('#id_class').val();
    var id_user = $('#id_user').val();
    var start_time = $('#start_time').val();
    var end_time = $('#end_time').val();
    var school_day = $('#school_day').val();
    $.ajax({
      type: "POST",
      url: "/api" + "/addclassroutine",
      dataType: "JSON",
      data: { subject_name: subject_name, subject_type: subject_type, id_class: id_class, id_user: id_user, start_time: start_time, end_time: end_time, school_day },
      success: function (data) {
        if (data) {
          let timerInterval
          Swal.fire({
            title: 'Memuat Data...',
            html: 'Tunggu  <b></b>  Detik.',
            timer: 300,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            // $('#subject_type').val('').change();
            // $('#subject_name').val('');
            $('#subject_name').val('').change();
            $('#subject_type').val('').change();
            $('#id_class').val('').change();
            $('#id_user').val('').change();
            $('#start_time').val('');
            $('#end_time').val('');
            $('#school_day').val('').change();
            Swal.fire(
              {
                icon: 'success',
                title: 'Berhasil',
                text: 'Data telah ditambahkan.',
                //footer: '<a href="">Why do I have this issue?</a>'
              }

            )
            $('#addModal').modal('hide');
          });

          table.draw(false)

        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Ada yang eror!'
          })
        }
      }
    });
  });

  // RESET BUTTON
  $('#reset').click(function (e) {
    e.preventDefault();
    $('#subject_name').val('').change();
    $('#subject_type').val('').change();
    $('#id_class').val('').change();
    $('#id_user').val('').change();
    $('#start_time').val('');
    $('#end_time').val('');
    $('#school_day').val('').change();
  });

  // DELETE CLASS ROUTINE
    // GET
    $('#show_class_routine').on('click', '.classroutine_remove', function () {
        var id = $(this).attr('data');
        $('#confirmation-modal').modal('show');
        $('[name="kode"]').val(id);
        // console.log(id);
    });

</script>

{% endblock content %}