{% extends "/layout/master.html" %} 
{% set title = "Class Routine" %} 
{% set section_type = "Class Routine" %}
{% block content %}

<!-- Class Routine Area Start Here -->
<div class="row">
  {# if admin start here #}



  {% if session.type == 3  %}

  <div class="col-4-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Tambahkan Rutinitas Kelas</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <form class="new-added-form">
          <div class="row">
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Nama Mata Pelajaran *</label>
              <select class="select2" id="subject_name" autofocus required>
                <option value="">Silahkan pilih</option>
                {% for d in subject %}
                <option value="{{d.id_subject}}">{{d.subject_name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Mata Pelajaran Tipe *</label>
              <select class="select2" id="subject_type" disabled>
                <option value="">Silahkan pilih</option>
                {% for d in subject %}
                <option value="{{d.id_subject}}">{{d.subject_type}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Pilih Kelas *</label>
              <select class="select2" id="id_class" required>
                <option value="">Silahkan pilih</option>
                {% for d in class %}
                <option value="{{d.id_class}}">{{d.class}} - {{d.section}}</option>
                {% endfor %}
              </select>
            </div>
            <!-- <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Select Section *</label>
              <select class="select2" id="id_section">
                <option value="0">Silahkan pilih</option>
                {% for d in section %}
                <option value="{{d.id_section}}">{{d.section}}</option>
                {% endfor %}
              </select>
            </div> -->
            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>NIP</label>
              <select class="select2" id="id_user" required>
                <option value="">Silahkan pilih</option>
                {% for d in teacher %}
                <option value="{{d.id_user}}">{{d.NISN}} - {{d.first_name}} {{d.last_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Waktu Mulai *</label>
              <input type="time" placeholder="" class="form-control" id="start_time" required />
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Waktu Selesai *</label>
              <input type="time" placeholder="" class="form-control" id="end_time" required />
            </div>

            <div class="col-12-xxxl col-lg-6 col-12 form-group">
              <label>Hari *</label>
              <select class="select2" id="school_day" required>
                <option value="">Mohon Dipilih</option>
                <option value="Senin">Senin</option>
                <option value="Selasa">Selasa</option>
                <option value="Rabu">Rabu</option>
                <option value="Kamis">Kamis</option>
                <option value="Jumat">Jumat</option>
              </select>
            </div>
            <div class="col-12 form-group mg-t-8">
              <button type="button" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" id="add_class_routine">
                Simpan
              </button>
              <!-- <input type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark" id="add_class_routine" value="Save"> -->
              <button type="reset" id="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">
                Mengatur ulang
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% endif %}
  {# End if Admin only #}

  {% if session.type == 3 %}
  <div class="col-8-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Rutinitas Kelas</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <div class="table-box-nowrap">
          <table class="display" id="class_routine">
            <thead>
              <tr>
                <th><label class="form-check-label">Hari</label></th>
                <th>Kelas</th>
                <th>Mata Pelajaran</th>
                <th>Bagian</th>
                <th>Guru</th>
                <th>Waktu</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="show_class_routine">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if session.type == 1 %}
  <div class="col-8-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Rutinitas Kelas</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <div class="table-box-nowrap">
          <table class="display" id="class_routine1">
            <thead>
              <tr>
                <th><label class="form-check-label">Hari</label></th>
                <th>Kelas</th>
                <th>Mata Pelajaran</th>
                <th>Bagian</th>
                <th>Guru</th>
                <th>Waktu</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="show_class_routine1">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if session.type == 2 %}
  <div class="col-8-xxxl col-12">
    <div class="card height-auto">
      <div class="card-body">
        <div class="heading-layout1">
          <div class="item-title">
            <h3>Jadwal Guru</h3>
          </div>
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
              <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
            </div>
          </div>
        </div>
        <div class="table-box-nowrap">
          <table class="display" id="class_routine_guru">
            <thead>
              <tr>
                <th>Hari</label></th>
                <th>Kelas</th>
                <th>Mata Pelajaran</th>
                <th>Bagian</th>
                <th>Guru</th>
                <th>Waktu</th>
              </tr>
            </thead>
            <tbody id="show_class_routine_guru">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


  <!-- MODAL DELETE -->
  <div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog success-modal-content" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="success-message">
            <input type="hidden" name="kode" id="textkode" value="" hidden>
            <h3 class="item-title">Apa kamu ingin menghapus data ini ?</h3>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="footer-btn bg-linkedin" id="btn_remove_class_routine">Ok, Hapus Data</button>
          <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL UPDATE -->
  <div class="modal fade" id="detail_class_routine" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detail Class Routine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card ui-tab-card">
          <div class="card-body">
            <div class="single-info-details">
              <div class="item-content">
                <div class="header-inline item-header">
                </div>
                <div class="info-table table-responsive">
                  <table class="table text-nowrap">
                    <tbody>
                      <input type="text" name="id_class_routine" id="id_class_routine" value="" hidden>
                      <tr class="form-group">
                        <label>Subject Name </label>
                        <select class="select2" name="subjectname" id="subject_nameU">
                          <option value="0">Please Select</option>
                          {% for d in subject %}
                          <option value="{{d.id_subject}}">{{d.subject_name}}</option>
                          {% endfor %}
                        </select>
                      </tr>

                      <tr class="form-group">
                        <label>Subject Type</label>
                        <select class="select2" name="subjecttype" id="subject_typeU" disabled>
                          <option value="0">Please Select</option>
                          {% for d in subject %}
                          <option value="{{d.id_subject}}">{{d.subject_type}}</option>
                          {% endfor %}
                        </select>
                      </tr>

                      <tr class="form-group">
                        <label>Select Class</label>
                        <select class="select2" name="idclass" id="id_classU">
                          <option value="0">Please Select</option>
                          {% for d in class %}
                          <option value="{{d.id_class}}">{{d.class}} - {{d.section}}</option>
                          {% endfor %}
                        </select>
                      </tr>

                      <!-- <tr class="form-group">
                        <label>Select Section *</label>
                        <select class="select2" name="idsection" id="id_sectionU">
                          <option value="0">Please Select</option>
                          {% for d in section %}
                          <option value="{{d.id_section}}">{{d.section}}</option>
                          {% endfor %}
                        </select>
                      </tr> -->

                      <tr class="form-group">
                        <label>NIP</label>
                        <select class="select2" name="iduser" id="id_userU">
                          <option value="0">Please Select</option>
                          {% for d in teacher %}
                          <option value="{{d.id_user}}">{{d.NISN}} - {{d.first_name}} {{d.last_name}}</option>
                          {% endfor %}
                        </select>
                      </tr>

                      <tr class="form-group">
                        <label>Waktu Mulai *</label>
                        <input type="time" placeholder="" class="form-control form-control-lg" name="starttime"
                          id="start_timeU" />
                      </tr>

                      <tr class="from-group">
                        <label>Waktu Selesai *</label>
                        <input type="time" placeholder="" class="form-control form-control-lg" name="endtime"
                          id="end_timeU" />
                      </tr>

                      <tr class="form-group">
                        <label>Hari *</label>
                        <select class="select2" name="schoolday" id="school_dayU">
                          <option value="">Mohon Dipilih</option>
                          <option value="Senin">Senin</option>
                          <option value="Selasa">Selasa</option>
                          <option value="Rabu">Rabu</option>
                          <option value="Kamis">Kamis</option>
                          <option value="Jumat">Jumat</option>
                        </select>
                      </tr>

                    </tbody>
                  </table>
                  <button class="btn btn-lg btn-warning" id="btn_update_class_routine">Simpan</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- Class Routine Area End Here -->

<script>

  // AUTO INPUT
  subject_name = $("#subject_name");
  subject_type = $("#subject_type");

  $("#subject_name").change(function () {
    if (subject_name.val() != subject_type.val()) {
      $("#subject_type").val(subject_name.val()).change();
    }
  });

  // AUTO INPUT
  subject_nameU = $("#subject_nameU");
  subject_typeU = $("#subject_typeU");

  $("#subject_nameU").change(function () {
    if (subject_nameU.val() != subject_typeU.val()) {
      $("#subject_typeU").val(subject_nameU.val()).change();
    }
  });

  // DATA TABLE akses ADMIN, TEACHER
  initTable = function () {

    table = $("#class_routine").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data ....');

    }).DataTable({
      responsive: {
        details: {
          type: 'column'
        }
      },
      "columnDefs": [
        { "width": "5%", "targets": 0, className: "text-center", "orderable": false },
        { "width": "15%", "targets": 1, className: "text-start", "orderable": false },
        { "width": "25%", "targets": 2, className: "text-start", "orderable": false },
        { "width": "5%", "targets": 3, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 4, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 5, className: "text-start", "orderable": false },
        { "width": "10%", "targets": 6, className: "text-start", "orderable": false },


      ],
      'pageLength': 10,
      'processing': true,
      'serverSide': true,
      'select': true,
      'responsive': true,
      'ajax': {
        url: "/api" + "/allclassroutine",
        type: 'GET',
      },
      'columns': [
        { 'data': 'school_day' },
        { 'data': 'class' },
        { 'data': 'subject_name' },
        { 'data': 'section' },
        { 'data': 'teacher_name' },
        { 'data': 'time' },
        { 'data': '' },
      ],
    });

  }

  initTable();

  // DATA TABLE akses STUDENT
  initTable = function () {

    table1 = $("#class_routine1").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data ....');

    }).DataTable({
      responsive: {
        details: {
          type: 'column'
        }
      },
      "columnDefs": [
        { "width": "10%", "targets": 0, className: "text-center", "orderable": false },
        { "width": "20%", "targets": 1, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 2, className: "text-start", "orderable": false },
        { "width": "10%", "targets": 3, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 4, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 5, className: "text-start", "orderable": false },



      ],
      'pageLength': 10,
      'processing': true,
      'serverSide': true,
      'select': true,
      'responsive': true,
      'ajax': {
        url: "/api" + "/allclassroutine1",
        type: 'GET',
      },
      'columns': [
        { 'data': 'school_day' },
        { 'data': 'class' },
        { 'data': 'subject_name' },
        { 'data': 'section' },
        { 'data': 'teacher_name' },
        { 'data': 'time' },
      ],
    });

  }

  initTable();

  // ADD CLASS ROUTINE
  $('#add_class_routine').on('click', function () {
    var subject_name = $('#subject_name').val();
    var subject_type = $('#subject_type').val();
    var id_class = $('#id_class').val();
    var id_section = $('#id_section').val();
    var id_user = $('#id_user').val();
    var start_time = $('#start_time').val();
    var end_time = $('#end_time').val();
    var school_day = $('#school_day').val();
    if (subject_name == ""
      || subject_type == ""
      || id_class == ""
      || id_section == ""
      || id_user == ""
      || start_time == ""
      || end_time == ""
      || school_day == ""
    ) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: 'Data harus diisi semua!'
      })
    } else {
      $.ajax({
        type: "POST",
        url: "/api" + "/addclassroutine",
        dataType: "JSON",
        data: { subject_name: subject_name, subject_type: subject_type, id_class: id_class, id_section: id_section, id_user: id_user, start_time: start_time, end_time: end_time, school_day: school_day },
        success: function (data) {
          if (data) {
            let timerInterval
            Swal.fire({
              title: 'Memuat Data...',
              html: 'Tunggu  <b></b>  Detik.',
              timer: 300,
              timerProgressBar: true,
              didOpen: () => {
                Swal.showLoading()
                const b = Swal.getHtmlContainer().querySelector('b')
                timerInterval = setInterval(() => {
                  b.textContent = Swal.getTimerLeft()
                }, 100)
              },
              willClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              // $('#subject_type').val('').change();
              // $('#subject_name').val('');
              $('#subject_name').val('').change();
              $('#subject_type').val('').change();
              $('#id_class').val('').change();
              $('#id_section').val('').change();
              $('#id_user').val('').change();
              $('#start_time').val('');
              $('#end_time').val('');
              $('#school_day').val('').change();
              Swal.fire(
                {
                  icon: 'success',
                  title: 'Berhasil',
                  text: 'Data telah ditambahkan.',
                }

              )
              $('#addModal').modal('hide');
            })
            table.draw(false);
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Ada yang eror!'
            })
          }
        }
      });
    }
  });

  // RESET BUTTON
  $('#reset').click(function (e) {
    e.preventDefault();
    $('#subject_name').val('').change();
    $('#subject_type').val('').change();
    $('#id_class').val('').change();
    $('#id_user').val('').change();
    $('#start_time').val('');
    $('#end_time').val('');
    $('#school_day').val('').change();
  });

  // DELETE CLASS ROUTINE
  // GET
  $('#show_class_routine').on('click', '.class_routine_remove', function () {
    var id = $(this).attr('data');
    $('#confirmation-modal').modal('show');
    $('[name="kode"]').val(id);
    // console.log(id);
  });

  // DELETE
  $('#btn_remove_class_routine').on('click', function () {
    var kode = $('#textkode').val();
    $.ajax({
      type: "POST",
      url: "/api" + "/deleteclassroutine",
      dataType: "JSON",
      data: { kode: kode },
      success: function (data) {
        if (data) {
          $('#confirmation-modal').modal('hide');
          let timerInterval
          Swal.fire({
            title: 'Memuat Data...',
            html: 'Tunggu  <b></b>  Detik.',
            timer: 300,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            Swal.fire(
              {
                icon: 'success',
                title: 'Berhasil',
                text: 'Data telah dihapus.',
              }
            )
          })
          table.draw(false);
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Ada yang eror!',
          })
        }
      }
    });
    return false;
  });

  // UPDATE CLASS ROUTINE
  $('#show_class_routine').on('click', '.class_routine_detail', function () {
    var id = $(this).attr('data');
    // $('#detail_class_routine').modal('show');
    $.ajax({
      type: "GET",
      url: "/api" + "/class-routine/" + id + "/class-routine-detail",
      dataType: "JSON",
      data: { id_class_routine: id },
      success: function (data) {
        $('#detail_class_routine').modal('show');
        $('[name="id_class_routine"]').val(data.id_class_routine);
        $('[name="starttime"]').val(data.start_time);
        $('[name="endtime"]').val(data.end_time);
        $('[name="schoolday"]').val(data.school_day).change();
        $('[name="idclass"]').val(data.id_class).change();
        $('[name="subjectname"]').val(data.id_subject).change();
        $('[name="subjecttype"]').val(data.id_subject).change();
        $('[name="iduser"]').val(data.id_user).change();
      }
    });
    // console.log(id);
    return false;
  });

  $('#btn_update_class_routine').click(function (e) {
    var id_class_routine = $('#id_class_routine').val();
    var subject_name = $('#subject_nameU').val();
    var subject_type = $('#subject_typeU').val();
    var id_class = $('#id_classU').val();
    var id_user = $('#id_userU').val();
    var start_time = $('#start_timeU').val();
    var end_time = $('#end_timeU').val();
    var school_day = $('#school_dayU').val();
    $.ajax({
      type: "POST",
      url: "/api" + "/updateclassroutine",
      dataType: "JSON",
      data: {
        id_class_routine: id_class_routine, subject_name: subject_name, subject_type: subject_type, id_class: id_class,
        id_user: id_user, start_time: start_time, end_time: end_time, school_day: school_day
      },
      success: function (data) {
        if (data) {
          $('#detail_class_routine').modal('hide');
          let timerInterval
          Swal.fire({
            title: 'Memuat Data...',
            html: 'Tunggu  <b></b>  Detik.',
            timer: 300,
            timerProgressBar: true,
            didOpen: () => {
              Swal.showLoading()
              const b = Swal.getHtmlContainer().querySelector('b')
              timerInterval = setInterval(() => {
                b.textContent = Swal.getTimerLeft()
              }, 100)
            },
            willClose: () => {
              clearInterval(timerInterval)
            }
          }).then((result) => {
            Swal.fire(
              {
                icon: 'success',
                title: 'Berhasil',
                text: 'Data telah diubah.',
                //footer: '<a href="">Why do I have this issue?</a>'
              }
            )
          })
          table.draw(false);
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Ada yang eror!',
          })
        }
      }
    });
    return false;
  });

  Guru = function () {

    guru = $("#class_routine_guru").on('preXhr.dt', function (e, settings, data) {

      console.log('loading ....');

    }).on('draw.dt', function () {
      console.log('dapat data ....');

    }).DataTable({
      responsive: {
        details: {
          type: 'column'
        }
      },
      "columnDefs": [
        { "width": "5%", "targets": 0, className: "text-center", "orderable": false },
        { "width": "15%", "targets": 1, className: "text-start", "orderable": false },
        { "width": "25%", "targets": 2, className: "text-start", "orderable": false },
        { "width": "5%", "targets": 3, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 4, className: "text-start", "orderable": false },
        { "width": "20%", "targets": 5, className: "text-start", "orderable": false },


      ],
      'pageLength': 10,
      'processing': true,
      'serverSide': true,
      'select': true,
      'responsive': true,
      'ajax': {
        url: "/api" + "/allclassroutineguru",
        type: 'GET',
      },
      'columns': [
        { 'data': 'school_day' },
        { 'data': 'class' },
        { 'data': 'subject_name' },
        { 'data': 'section' },
        { 'data': 'teacher_name' },
        { 'data': 'time' },
      ],
    });

  }

  Guru();

</script>

{% endblock content %}