{% extends "/layout/master.html" %}
{% set title = "Notice" %}
{% block content %}

<div class="row">
    <!-- Add Notice Area Start Here -->
    <div class="col-4-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Create A Notice</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="new-added-form" id="formNoticeAdd">
                    <div class="row">
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Title</label>
                            <input type="text" placeholder="" name="Title" id="titleNoticeBoard" class="form-control"
                                required>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Details</label>
                            <input type="text" placeholder="" name="details" id="detailsNoticeBoard" class="form-control" required>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Category</label>
                            {# <input type="text" placeholder="" name="category" class="form-control"> #}
                            <select name="category" class="select2" id="categoryNoticeBoard" required>
                                <option value="">Select Category</option>
                                <option value="Pengumuman_Sekolah">Pengumuman Sekolah</option>
                                <option value="Event">Event</option>
                                <option value="Pembayaran">Pembayaran</option>
                                <option value="Exam">Exam</option>
                            </select>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Posted By</label>
                            {# <input type="text" placeholder="" name="category" class="form-control"> #}
                            <select name="userType" class="select2" id="userTypeNoticeBoard">
                                <option value="{{session.user}}">{{session.user}}</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow" id="resetFormNoticeBoard">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Notice Area End Here -->
    <!-- All Notice Area Start Here -->
    <div class="col-8-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Notice Board</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-lg-5 col-12 form-group">
                            <input type="text" placeholder="Search by Date ..." class="form-control">
                        </div>
                        <div class="col-lg-5 col-12 form-group">
                            <input type="text" placeholder="Search by Title ..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-12 form-group">
                            <button type="submit" class="fw-btn-fill btn-gradient-yellow">SEARCH</button>
                        </div>
                    </div>
                </form>
                <div class="notice-board-wrap" id="notice-list">
                    {# Notice List start here #}

                </div>
            </div>
        </div>
    </div>
    <!-- All Notice Area End Here -->
</div>
<!-- Some jquery here -->
<script>
    $(document).ready(function () {
        var data = [];
        function drawNotice() {
            $.ajax({
                type: "GET",
                url: "/getNotice",
                dataType: "JSON",
                success: function (response) {
                    console.log(response[0])
                    $.each(response, function (i, data) { 
                        data+=data[i]
                        console.log(response[i]);
                        $('#notice-list').append('<div class="notice-list"><div class="post-date bg-skyblue">' +
                        response[i].date_notice + '</div><h6 class="notice-title"><a href="#">' + response[i].title +
                        '</a></h6><div class="entry-meta">  ' + response[i].posted_by +
                        ' / <span>5 min ago</span></div></div>')
                    });
                }
            });
        };
        drawNotice();
        $('#resetFormNoticeBoard').click(function (e) { 
            e.preventDefault();
            $('#categoryNoticeBoard').val('').change();
            $('#titleNoticeBoard').val('');
            $('#detailsNoticeBoard').val('');

        });
        //$('#noticeList').html('<div class="notice-list"><div class="post-date bg-skyblue">AAAAAA</div><h6 class="notice-title"><a href="#">Gat School Great School manag mene esom text of the printing Great School manag mene esom  text of the printing manag mene esom  text of the printing.</a></h6><div class="entry-meta">  Jennyfar Lopez / <span>5 min ago</span></div></div>')
        $('#formNoticeAdd').submit(function (e) {
            e.preventDefault();
            // get all the inputs into an array.
            var $inputs = $('#formNoticeAdd :input');

            // not sure if you wanted this, but I thought I'd add it.
            // get an associative array of just the values.
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            console.log(values)
            $.ajax({
                type: "POST",
                url: "/sendNotice",
                data: {
                    title: values.Title,
                    details: values.details,
                    category: values.category,
                    UserType: values.userType
                },
                success: function (response) {
                    console.log(response);
                    $('#titlesendNotice').focus();
                    $('#notice-list').empty();
                    drawNotice();
                    Swal.fire({
                            icon: 'success',
                            title: 'Your work has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        .then((result) => {
                            if (true) {


                                //$('html, body').animate({ scrollTop: $('#titleMessageForm').offset().top }, 'fast');
                            }
                        })
                }
            });
        });
    });
</script>
{% endblock content %}