{% extends "/layout/master.html" %}
{% set title = "Notice" %}
{% set typeFrontEnd = "Notice" %}
{% set section_type = "Notice" %}
{% block content %}

<div class="row">
    <!-- Add Notice Area Start Here -->
    <div class="col-4-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Create A Notice</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="new-added-form" id="formNoticeAdd">
                    <div class="row">
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Title</label>
                            <input type="text" placeholder="" name="Title" id="titleNoticeBoard" class="form-control"
                                required>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Details</label>
                            <input type="text" placeholder="" name="details" id="detailsNoticeBoard"
                                class="form-control" required>
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group" id="categoryDivWantToBeChangedInJquery">
                            <label>Category</label>
                            {# <input type="text" placeholder="" name="category" class="form-control"> #}
                            <select name="category" class="select2" id="categoryNoticeBoard" required>
                                <option value="">Select Category</option>
                                <option value="Pengumuman_Sekolah">Pengumuman Sekolah</option>
                                <option value="Event">Event</option>
                                <option value="Pembayaran_Gaji">Pembayaran Gaji</option>
                                <option value="Pembayaran_SPP">Pembayaran SPP</option>
                                <option value="Exam">Exam</option>
                            </select>
                        </div>
                        <div class="col-12-xxxl col-lg-3 col-12 form-group" id="datetimeEventDiv">
                            <label>Date And Time Event</label>
                            <input type="datetime-local" class="form-control" id="datetimeEventNoticeBoard" name="datetimeEvent">
                        </div>
                        <div class="col-12-xxxl col-lg-6 col-12 form-group">
                            <label>Posted By</label>
                            {# <input type="text" placeholder="" name="category" class="form-control"> #}
                            <select name="userType" class="select2" id="userTypeNoticeBoard">
                                <option value="{{session.user}}">{{session.user}}</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                            <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow"
                                id="resetFormNoticeBoard">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add Notice Area End Here -->
    <!-- All Notice Area Start Here -->
    <div class="col-8-xxxl col-12">
        <div class="card height-auto">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Notice Board</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="mg-b-20">
                    <div class="row gutters-8">
                        <div class="col-lg-6 col-12 form-group">
                            <input type="date" placeholder="Search by Date ..." id="searchDateNoticeBoard"
                                class="form-control">
                        </div>
                        <div class="col-lg-6 col-12 form-group">
                            <input type="text" placeholder="Search by Title ..." id="searchTitleNoticeBoard"
                                class="form-control">
                        </div>
                    </div>
                </form>
                <div class="notice-board-wrap" id="notice-list">
                    {# Notice List start here #}

                </div>
            </div>
        </div>
    </div>
    <!-- All Notice Area End Here -->
    <!-- Modal Area Start Here -->
    <div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notice-board-wrap" id="notice-list">
                    <div class="modal-body" id="noticeDetailModal">
                        
                    </div>
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Area End Here -->
    <!-- Modal Edit Area Start Here -->
    <div class="modal fade" id="noticeModalEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Edit Notifications Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notice-board" id="editNotice">
                    <div class="modal-body" id="noticeEditDetailModal">
                        <form class="new-added-form" id="formNoticeEdit">
                            <div class="row">
                                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                    <label>Title</label>
                                    <input type="text" placeholder="" name="Title" id="titleNoticeEditBoard" class="form-control"
                                        required>
                                </div>
                                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                    <label>Details</label>
                                    <input type="text" placeholder="" name="details" id="detailsNoticeEditBoard"
                                        class="form-control" required>
                                </div>
                                <div class="col-12-xxxl col-lg-6 col-12 form-group" id="categoryDivWantToBeChangedInJqueryEdit">
                                    <label>Category</label>
                                    {# <input type="text" placeholder="" name="category" class="form-control"> #}
                                    <select name="category" class="select2" id="categoryNoticeEditBoard" required>
                                        <option value="">Select Category</option>
                                        <option value="Pengumuman_Sekolah">Pengumuman Sekolah</option>
                                        <option value="Event">Event</option>
                                        <option value="Pembayaran_Gaji">Pembayaran Gaji</option>
                                        <option value="Pembayaran_SPP">Pembayaran SPP</option>
                                        <option value="Exam">Exam</option>
                                    </select>
                                </div>
                                <div class="col-12-xxxl col-lg-3 col-12 form-group" id="datetimeEditEventDiv">
                                    <label>Date And Time Event</label>
                                    <input type="datetime-local" class="form-control" id="datetimeEventNoticeEditBoard" name="datetimeEvent">
                                </div>
                                <div class="col-12-xxxl col-lg-6 col-12 form-group">
                                    <label>Posted By</label>
                                    {# <input type="text" placeholder="" name="category" class="form-control"> #}
                                    <select name="userType" class="select2" id="userTypeNoticeEditBoard">
                                        <option value="{{session.user}}">{{session.user}}</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                                <div class="col-12 form-group mg-t-8">
                                    <button type="submit"
                                        class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</button>
                                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow"
                                        id="resetFormNoticeEditBoard">Reset</button>
                                </div>
                            </div>
                        </form>          
                    </div>
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
                    <button type="button" class="footer-btn bg-linkedin">Save
                        Changes</button> #}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Edit Area End Here -->
</div>
<!-- Some jquery here -->
<script>
    $(document).ready(function () {
        var data = [];
        $('#datetimeEventDiv').hide();
        $('#categoryNoticeBoard').change(function(e){
            var typeCategory = $('#categoryNoticeBoard').val();
            switch(typeCategory){
                case 'Event': case 'Pembayaran_Gaji':case 'Pembayaran_SPP':case 'Exam':{
                    $('#categoryDivWantToBeChangedInJquery').removeClass('col-lg-6').addClass('col-lg-3');
                    $('#datetimeEventDiv').show();
                }break;
                default:{
                    $('#categoryDivWantToBeChangedInJquery').removeClass('col-lg-3').addClass('col-lg-6');
                    $('#datetimeEventDiv').hide();
                }break;
                
            }
        })
        drawNotice();

        $('#searchTitleNoticeBoard').keyup(function (e) {
            var search = $('#searchTitleNoticeBoard').val();
            drawNotice(search)
            //console.log(search);
        });

        $('#searchDateNoticeBoard').change(function (e) {
            var search = $('#searchDateNoticeBoard').val();
            drawNotice(search)
            //console.log(search);
        });
        
        $('#resetFormNoticeBoard').click(function (e) {
            e.preventDefault();
            $('#categoryNoticeBoard').val('').change();
            $('#titleNoticeBoard').val('');
            $('#detailsNoticeBoard').val('');

        });
        //$('#noticeList').html('<div class="notice-list"><div class="post-date bg-skyblue">AAAAAA</div><h6 class="notice-title"><a href="#">Gat School Great School manag mene esom text of the printing Great School manag mene esom  text of the printing manag mene esom  text of the printing.</a></h6><div class="entry-meta">  Jennyfar Lopez / <span>5 min ago</span></div></div>')
        
        $('#formNoticeEdit').submit(function (e) {
            e.preventDefault();
            // get all the inputs into an array.
            var $inputs = $('#formNoticeEdit :input');

            // not sure if you wanted this, but I thought I'd add it.
            // get an associative array of just the values.
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            //return console.log(values)
            $.ajax({
                type: "POST",
                url: "/editNotice",
                data: {
                    id: values.id_notification,
                    title: values.Title,
                    details: values.details,
                    category: values.category,
                    UserType: values.userType,
                    date_event: values.datetimeEvent,
                },
                success: function (response) {
                    console.log(response);
                    $('#titlesendNotice').focus();
                    $('#notice-list').empty();
                    drawNotice();
                    Swal.fire({
                            icon: 'success',
                            title: 'Your work has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        .then((result) => {
                            if (true) {


                                //$('html, body').animate({ scrollTop: $('#titleMessageForm').offset().top }, 'fast');
                            }
                        })
                }
            });
        });
        $('#noticeModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
                "September", "Oktober", "November", "Desember"
            ];
            // console.log(recipient);
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            $.ajax({
                type: "GET",
                url: "/getNoticeDetails",
                data: {
                    id: recipient
                },
                dataType: "JSON",
                success: function (response) {
                    //console.log(response)
                    var dAwal = new Date(response[0].date_notice)
                        var bulan = months[dAwal.getMonth()];
                        var tanggal = dAwal.getDate();
                        var tahun = dAwal.getFullYear();
                        var minus = untilXMas(dAwal);
                        //console.log(minus)
                        //console.log(minus.minutesTotal);
                        var difference;
                        if (minus.minutesTotal <= 60) {
                            difference = minus.minutesTotal + ' menit lalu';
                        } else if (minus.hoursTotal <= 24) {
                            difference = minus.hoursTotal + ' jam lalu';
                        } else {
                            difference = minus.days + ' hari lalu';
                        }

                        //console.log(response[i].category)
                        var classCategory;
                        switch (response[0].category) {
                            case 'Exam': {
                                classCategory = 'bg-warning'
                            }
                            break;
                        case 'Pembayaran_Gaji': case 'Pembayaran_SPP': {
                            classCategory = 'bg-success'
                        }
                        break;
                        case 'Event': {
                            classCategory = 'bg-danger'
                        }
                        break;
                        case 'Pengumuman_Sekolah': {
                            classCategory = 'bg-primary'
                        }
                        break;
                        default: {

                        }
                        break;
                        }
                    var modal = $(this)
                    $('#noticeDetailModal').empty()
                    console.log($('#noticeDetailModal').html())
                    $('#noticeDetailModal').append('<div class="notice-list noticeBoardToModal"><div class="post-date ' +
                    classCategory + '">' +
                    tanggal + ' ' + bulan + ', ' + tahun +
                    '</div><h6 class="notice-title"><a href="#">' + response[0]
                    .title +
                    '</a></h6> <p>'+response[0].details+'</p> <div class="entry-meta">  ' + response[0]
                    .posted_by +
                    ' / <span>' + difference + '</span><button id="DeleteNoticeBoardDetails" class="btn-lg btn-danger rounded px-3 float-right mx-3" onclick="deleteNoticeBoard('+response[0].id_notification+')">Delete</button><button id="EditNoticeBoardDetails" class="btn-lg btn-warning rounded px-3 float-right" onclick="showModalEdit('+response[0].id_notification+')">Edit</button></div></div>');
                }
            });
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    
          })
        $('#resetFormNoticeBoard').click(function (e) {
            e.preventDefault();
            $('#categoryNoticeBoard').val('').change();
            $('#titleNoticeBoard').val('');
            $('#detailsNoticeBoard').val('');

        });
        //$('#noticeList').html('<div class="notice-list"><div class="post-date bg-skyblue">AAAAAA</div><h6 class="notice-title"><a href="#">Gat School Great School manag mene esom text of the printing Great School manag mene esom  text of the printing manag mene esom  text of the printing.</a></h6><div class="entry-meta">  Jennyfar Lopez / <span>5 min ago</span></div></div>')
        $('#formNoticeAdd').submit(function (e) {
            e.preventDefault();
            // get all the inputs into an array.
            var $inputs = $('#formNoticeAdd :input');

            // not sure if you wanted this, but I thought I'd add it.
            // get an associative array of just the values.
            var values = {};
            $inputs.each(function () {
                values[this.name] = $(this).val();
            });
            console.log(values)
            $.ajax({
                type: "POST",
                url: "/sendNotice",
                data: {
                    title: values.Title,
                    details: values.details,
                    category: values.category,
                    UserType: values.userType,
                    date_event: values.datetimeEvent,
                },
                success: function (response) {
                    console.log(response);
                    $('#titlesendNotice').focus();
                    $('#notice-list').empty();
                    drawNotice();
                    Swal.fire({
                            icon: 'success',
                            title: 'Your work has been saved',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        .then((result) => {
                            if (true) {


                                //$('html, body').animate({ scrollTop: $('#titleMessageForm').offset().top }, 'fast');
                            }
                        })
                }
            });
        });
    });
    function showModalEdit(id_notification){
        $('#noticeModal').modal('hide');
        $('#noticeModalEdit').modal('show');
        $.ajax({
            type: "GET",
            url: "/getNoticeDetails",
            data: {
                id: id_notification
            },
            dataType: "JSON",
            success: function (response) {
                console.log(response)
                $('#formNoticeEdit').append('<input type="text" name="id_notification" value="'+response[0].id_notification+'" hidden></input>')
                $('#titleNoticeEditBoard').val(response[0].title)
                $('#detailsNoticeEditBoard').val(response[0].details)
                $('#categoryNoticeEditBoard').val(response[0].category).change();
                switch(response[0].category){
                    case 'Event': case 'Pembayaran':case 'Exam':{
                        const pad = (i) => i < 10 ? `0${i}` : i;
                        const time = new Date(response[0].date_notice); // ensure date object
                        const timeString = `${time.getFullYear()}-${pad(time.getMonth() + 1)}-${pad(time.getDate())}T${pad(time.getHours())}:${pad(time.getMinutes())}`;
                        console.log(timeString);
                        $('#datetimeEventNoticeEditBoard').val(timeString); 

                        //$('#datetimeEventNoticeEditBoard').val(date_notic.toISOString().split('.')[0])
                        $('#datetimeEditEventDiv').removeClass('col-lg-3').addClass('col-lg-6')
                    }break;
                    default:{
                        $('#datetimeEditEventDiv').hide();
                    }break;
                }
                $('#userTypeNoticeEditBoard').val(response[0].posted_by).change();
            }
        });
    }
    function deleteNoticeBoard(id){
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-success',
              cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
          })
          
          swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
          }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/deleteNotice",
                    data: {
                        id_notification:id
                    },
                    dataType: "JSON",
                    success: function (response) {
                        
                        $('#titlesendNotice').focus();
                        $('#notice-list').empty();
                        swalWithBootstrapButtons.fire(
                          'Deleted!',
                          'Your file has been deleted.',
                          'success'
                        )
                        drawNotice();
                    }
                });
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelled',
                'Your imaginary file is safe :)',
                'error'
              )
            }
          })
    }
    function difference2Parts(milliseconds) {
        const secs = Math.floor(Math.abs(milliseconds) / 1000);
        const mins = Math.floor(secs / 60);
        const hours = Math.floor(mins / 60);
        const days = Math.floor(hours / 24);
        const millisecs = Math.floor(Math.abs(milliseconds)) % 1000;
        const multiple = (term, n) => n !== 1 ? `${n} ${term}s` : `1 ${term}`;

        return {
            days: days,
            hours: hours % 24,
            hoursTotal: hours,
            minutesTotal: mins,
            minutes: mins % 60,
            seconds: secs % 60,
            secondsTotal: secs,
            milliSeconds: millisecs,
            get diffStr() {
                return `${multiple(`day`, this.days)}, ${
              multiple(`hour`, this.hours)}, ${
              multiple(`minute`, this.minutes)} and ${
              multiple(`second`, this.seconds)}`;
            },
            get diffStrMs() {
                return `${this.diffStr.replace(` and`, `, `)} and ${
              multiple(`millisecond`, this.milliSeconds)}`;
            },
        };
    }

    function untilXMas(date) {
        const nextChristmas = new Date(date);
        const report = document.querySelector(`#nextXMas`);

        const diff = () => {
            const diffs = difference2Parts(nextChristmas - new Date());
            report.innerHTML = `Awaiting next XMas 🙂 (${
            diffs.diffStrMs.replace(/(\d+)/g, a => `<b>${a}</b>`)})<br>
            <br>In other words, until next XMas lasts&hellip;<br>
            In minutes: <b>${diffs.minutesTotal}</b><br>In hours: <b>${
            diffs.hoursTotal}</b><br>In seconds: <b>${diffs.secondsTotal}</b>`;
            setTimeout(diff, 200);
        };
        return difference2Parts(nextChristmas - new Date());
    }

    function drawNotice(s) {
        //console.log(s);
        const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
            "September", "Oktober", "November", "Desember"
        ];
        //drawNotice();
        $.ajax({
            type: "GET",
            url: "/getNotice",
            data: {
                search: s
            },
            dataType: "JSON",
            success: function (response) {
                //console.log(response[0])
                $('#notice-list').empty();
                $.each(response, function (i, data) {
                    data += data[i]
                    var dAwal = new Date(response[i].date_notice)
                    var bulan = months[dAwal.getMonth()];
                    var tanggal = dAwal.getDate();
                    var tahun = dAwal.getFullYear();
                    var minus = untilXMas(dAwal);
                    //console.log(minus)
                    //console.log(minus.minutesTotal);
                    var difference;
                    if (minus.minutesTotal <= 60) {
                        difference = minus.minutesTotal + ' menit lalu';
                    } else if (minus.hoursTotal <= 24) {
                        difference = minus.hoursTotal + ' jam lalu';
                    } else {
                        difference = minus.days + ' hari lalu';
                    }

                    //console.log(response[i].category)
                    var classCategory;
                    switch (response[i].category) {
                        case 'Exam': {
                            classCategory = 'bg-warning'
                        }
                        break;
                    case 'Pembayaran_Gaji': case 'Pembayaran_SPP': {
                        classCategory = 'bg-success'
                    }
                    break;
                    case 'Event': {
                        classCategory = 'bg-danger'
                    }
                    break;
                    case 'Pengumuman_Sekolah': {
                        classCategory = 'bg-primary'
                    }
                    break;
                    default: {

                    }
                    break;
                    }
                    $('#notice-list').append(
                        '<div class="notice-list noticeBoardToModal" data-id="' +
                        response[i].id_notification +
                        '" data-toggle="modal" data-target="#noticeModal"><div class="post-date ' +
                        classCategory + '">' +
                        tanggal + ' ' + bulan + ', ' + tahun +
                        '</div><h6 class="notice-title"><a href="#">' + response[i]
                        .title +
                        '</a></h6> <div class="entry-meta">  ' + response[i]
                        .posted_by +
                        ' / <span>' + difference + '</span></div></div>')
                });
            },
            complete: function () {}
        });
    };
    
</script>
{% endblock content %}