{% extends "/layout/master.html" %}
{% set title = "My Profile" %}
{% set typeFrontEnd = "My Profile" %}
{% set section_type = "My Profile" %}
{% block content %}
{% if changeEmailSuccess == true %}
<script>
    Swal.fire(
        'Berhasil',
        'Silahkan cek email kamu untuk memproses',
        'success'
    )
</script>
{% elseif emailChangeSuccess == true %}
<script>
    Swal.fire(
        'Berhasil',
        'Email kamu berhasil diganti',
        'success'
    )
</script>
{% endif %}
<!-- Profile Settings Area Start Here -->
<div class="card height-auto" id="showDataDetailAccountSetting">
    <div class="card-body">
        <div class="heading-layout1" id="dropdown-aksi">
            <div class="item-title">
                <h3>Profil Kamu</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Tutup</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-edit text-dark-pastel-green"></i>Ubah</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <div class="single-info-details" id="myProfilePrintableArea">
            <div class="item-img">
                <img src="uploads/Profile/{{data.photo_user}}" style="width: 280px;" alt="student" />
            </div>
            <div class="item-content">
                <div class="header-inline item-header">
                    <h3 class="text-dark-medium font-medium">{% if data.first_name == '' %}
                        {{ data.username }}
                        {% else %}
                        {{ data.first_name ~" "~ data.last_name }}
                        {% endif %}</h3>
                    <div class="header-elements" id="btn-profile">
                        <ul>
                            <li>
                                <a href="" id="editButton"><i class="far fa-edit"></i></a>
                            </li>
                            <li>
                                <a href="#" id="printPdfMyProfile"><i class="fas fa-print"></i></a>
                            </li>
                            <!-- <li>
                                <a href=""><i class="fas fa-download"></i></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <p> Bio : <br>
                    {{ data.short_bio }}
                    {# Aliquam erat volutpat. Curabiene natis massa sedde lacu stiquen sodale
                    word moun taiery.Aliquam erat volutpaturabiene natis massa sedde
                    sodale word moun taiery. #}
                </p>
                <div class="info-table table-responsive">
                    <table class="table text-nowrap">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td class="font-medium text-dark-medium">{{ data.first_name ~' '~ data.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td class="font-medium text-dark-medium">{{data.gender}}</td>
                            </tr>
                            {# <tr>
                                <td>Father Name:</td>
                                <td class="font-medium text-dark-medium">Steve Jones</td>
                            </tr>
                            <tr>
                                <td>Mother Name:</td>
                                <td class="font-medium text-dark-medium">Naomi Rose</td>
                            </tr> #}
                            <tr>
                                <td>Tanggal Lahir:</td>
                                <td class="font-medium text-dark-medium">{{tanggal_lahir}}</td>
                            </tr>
                            <tr>
                                <td>Religion:</td>
                                <td class="font-medium text-dark-medium">{{data.religion}}</td>
                            </tr>
                            <tr>
                                <td>Username:</td>
                                <td class="font-medium text-dark-medium">{{data.username}}</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td class="font-medium text-dark-medium">
                                    {{data.email}}
                                </td>
                            </tr>
                            <tr>
                                <td>Blood Group:</td>
                                <td class="font-medium text-dark-medium">{{ data.blood_group }}</td>
                            </tr>
                            <tr>
                                <td>Occupation:</td>
                                <td class="font-medium text-dark-medium">{{data.occupation}}</td>
                            </tr>
                            <tr>
                                <td>Address:</td>
                                <td class="font-medium text-dark-medium">
                                    {{data.address_user}}
                                </td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td class="font-medium text-dark-medium">{{data.phone_user}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Profile Settings Area End Here -->
<!-- Profile Settings Edit Area Start Here -->
<div class="card height-auto" id="editDataDetailAccountSetting">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Edit Profil Kamu</h3>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">...</a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Tutup</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-edit text-dark-pastel-green"></i>Ubah</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                </div>
            </div>
        </div>
        <div class="">
            <form action="/editDataProfile" method="post" class="new-added-form" enctype="multipart/form-data">
                <div class="item-img">
                    {# <img src="img/figure/student1.jpg" alt="student" /> #}
                    <input type="text" value="{{data.photo_user}}" name="imageDefault" hidden>
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' name="profileImage" id="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview"
                                style="background-image: url(uploads/Profile/{{data.photo_user|replace({' ' : '%20'})}});">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                                $('#imagePreview').hide();
                                $('#imagePreview').fadeIn(650);
                            }
                            reader.readAsDataURL(input.files[0]);

                        }
                    }
                    $("#imageUpload").change(function () {
                        readURL(this);
                    });
                </script>
        </div>
        <div class="item-content">
            <div class="header-inline item-header">
                <h3 class="text-dark-medium font-medium">{% if data.first_name == '' %}
                    {{ data.username }}
                    {% else %}
                    {{ data.first_name ~" "~ data.last_name }}
                    {% endif %}</h3>
                <div class="header-elements">
                    <!-- <ul>
                        <li>
                            <a href="" id="editButton"><i class="far fa-edit"></i></a>
                        </li>
                    </ul> -->
                </div>
            </div>
            <p>Bio : <br>
            <div class="form-group">
                <textarea name="data_short_bio" cols="200" rows="5"
                    class="form-control textarea">{{ data.short_bio }}</textarea>
            </div>
            {# Aliquam erat volutpat. Curabiene natis massa sedde lacu stiquen sodale
            word moun taiery.Aliquam erat volutpaturabiene natis massa sedde
            sodale word moun taiery. #}
            </p>
            <div class="row form-group">
                <input type="text" name="id_user" value="{{ data.id_user }}" hidden>
                <div class="col-6 my-3">
                    <label for="first_name">Nama Depan: </label>
                    <input type="text" placeholder="Masukan nama depan" name="first_name" class="form-control"
                        value="{{ data.first_name }}">
                </div>
                <div class="col-6 my-3">
                    <label for="last_name">Nama Belakang:</label>
                    <input type="text" placeholder="Masukan nama belakang" name="last_name" class="form-control"
                        value="{{ data.last_name }}">
                </div>
                <div class="col-6 my-3">
                    <label for="gender">Gender:</label>
                    <select name="gender" id="selectGenderEditProfile" class="form-control">
                        <option value="">Pilih gender</option>
                        <option value="Laki-laki">Laki-Laki</option>
                        <option value="Perempuan">Perempuan</option>
                    </select>
                </div>
                <div class="col-6 my-3">
                    <label>Tanggal Lahir:</label>
                    <input type="date" name="date_of_birth" class="form-control" value="{{data.date_of_birth}}">
                </div>
                <div class="col-6 my-3">
                    <label>Agama:</label>
                    <input type="text" placeholder="Masukan Agamamu" name="religion" class="form-control"
                        value="{{ data.religion }}">
                </div>
                <div class="col-6 my-3">
                    <label>Username:</label>
                    <input type="text" placeholder="username" name="username" class="form-control"
                        value="{{ data.username }}" readonly>
                </div>
                <div class="col-6 my-3">
                    <label>E-mail:</label>
                    <input type="email" name="email" class="form-control" value="{{ data.email }}" readonly>
                </div>
                <div class="col-6 my-3">
                    <label>Golongan Darah:</label>
                    <select id="selectBloodGroupEditProfile" name="blood_group" class="form-control">
                        <option value="">Pilih Golongan darah</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>
                </div>
                <div class="col-6 my-3">
                    <label>Pekerjaan:</label>
                    <input type="text" name="occupation" placeholder="Masukan Pekerjaan Kamu" class="form-control"
                        value="{{data.occupation}}">
                </div>

                <div class="col-6 my-3">
                    <label>No Telepon:</label>
                    <input type="text" name="phone_user" placeholder="Masukan No Telepon (62-888-8888-8888)"
                        class="form-control" value="{{ data.phone_user }}">
                </div>
                <div class="col-12 my-3">
                    <label>Alamat:</label>
                    <input type="text" name="address_user" placeholder="Masukan Alamat" class="form-control"
                        value="{{ data.address_user }}">
                </div>
            </div>
            <!-- <input type="submit" value="Simpan Profil" class="btn-lg btn-warning float-right">
                    <input id="viewAdditionalSetting" value="Additional Setting"
                        class="btn-lg btn-secondary mx-3 float-right"> -->

            <div class="col-12 form-group mg-t-8">
                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark m-2"
                    id="submitMessage">Simpan</button>
                <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow m-2"
                    id="viewAdditionalSetting">Additional Setting</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Profile Settings Edit Area End Here -->
<!-- Profile Additional Settings Edit Area Start Here -->

<div class="card height-auto" id="editDataAdditionalAccountSetting">
    <div class="card-body">
        <div class="single-info-details" style="display: block!important;">
            <form id="additionalSetting" class="new-added-form">
                <div class="item-content">
                    <h1>Additional Setting</h1>
                    <div class="row">
                        <!-- Username -->
                        <div class="col-12 col-xl-6 col-6-xxxl mb-5" id="username">
                            <div class="header-inline item-header">
                                <h3 class="text-dark-medium font-medium">Ubah Username</h3>
                            </div>
                            <div class="form-group row">
                                <input type="text" name="id_user" value="{{ data.id_user }}" hidden>
                                <div class="col-12 my-3">
                                    <label for="usernamex">Username</label>
                                    <input id="usernamex" type="text" placeholder="" name="username" class="form-control"
                                        value="{{ data.username }}">
                                </div>
                            </div>
                            <button id="usernameBtnx" type="submit" type="button" type="button"
                                class="btn-fill-lg font-normal radius-4 text-light btn-gradient-yellow">Ubah
                                Username</button>
                        </div>
                        <div class="col-12 col-xl-6 col-6-xxxl " id="email">
                            <div class="header-inline item-header">
                                <h3 class="text-dark-medium font-medium">Ubah Email</h3>
                            </div>
                            <!-- Email -->
                            <div class="row form-group">
                                <input type="text" name="id_user" value="{{ data.id_user }}" hidden>
                                <div class="col-12 my-3">
                                    <label for="emailx">Email:</label>
                                    <input id="emailx" type="email" placeholder="  " name="email" class="form-control"
                                        value="{{ data.email }}">
                                </div>
                            </div>
                            <button id="emailBtnx" type="submit" type="button" type="button"
                                class="btn-fill-lg font-normal radius-4 text-light btn-gradient-yellow">Ubah
                                Email</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="single-info-details" style="display: block!important;">
            <form id="additionalSetting" class="new-added-form">
                <div class="item-content" id="password">
                    <div class="header-inline item-header">
                        <h3 class="text-dark-medium font-medium">Ubah Password</h3>
                    </div>
                    <div class="row form-group">
                        {# <input type="text" name="current_password" value="{{data.password}}"> #}
                        <div class="col-6 my-3">
                            <label>Password:</label>
                            <input id="pass1" type="password" placeholder="New Password" name="password"
                                class="form-control">
                        </div>
                        <div class="col-6 my-3">
                            <label>Confirm Password:</label>
                            <input id="pass2" type="password" placeholder="Confirm Password" name="confirm-pass"
                                class="form-control">
                        </div>
                    </div>
                    <button id="passwordBtn" type="submit" type="button" type="button"
                        class="btn-fill-lg font-normal radius-4 text-light btn-gradient-yellow">Ubah Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- password -->
<!-- <div class="card height-auto" id="editDataAdditionalAccountSetting">
    <div class="card-body">
        <div class="single-info-details" style="display: block!important;">
            <form id="additionalSetting" class="new-added-form">
                <div class="item-content" id="password">
                    <div class="header-inline item-header">
                        <h3 class="text-dark-medium font-medium">Ubah Password</h3>
                    </div>
                    <div class="row form-group">
                        {# <input type="text" name="current_password" value="{{data.password}}"> #}
                        <div class="col-6 my-3">
                            <label>Password:</label>
                            <input id="pass1" type="password" placeholder="New Password" name="password"
                                class="form-control">
                        </div>
                        <div class="col-6 my-3">
                            <label>Confirm Password:</label>
                            <input id="pass2" type="password" placeholder="Confirm Password" name="confirm-pass"
                                class="form-control">
                        </div>
                    </div>
                    <button id="passwordBtn" type="submit" type="button" type="button"
                        class="btn-fill-lg font-normal radius-4 text-light btn-gradient-yellow">Ubah Password</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- Profile Additional Settings Edit Area End Here -->


<style>
    @media print {

        /* Hide everything in the body when printing... */
        body.printing * {
            display: none !important;
        }

        /* ...except our special div. */
        body.printing #print-me {
            display: block !important;
        }
    }

    @media screen {

        /* Hide the special layer from the screen. */
        #print-me {
            display: none;
        }
    }
</style>
<!-- Script for jquery Edit Form -->
<script>
    $(document).ready(function () {
        $('#editDataDetailAccountSetting').toggle();
        $('#editDataAdditionalAccountSetting').toggle();
        $('#editButton').click(function (e) {
            e.preventDefault();
            //console.log(data)
            $('#showDataDetailAccountSetting').toggle();
            $('#editDataDetailAccountSetting').toggle();
        });
        $('#viewButton').click(function (e) {
            e.preventDefault();
            //console.log(data)
            $('#showDataDetailAccountSetting').toggle();
            $('#editDataDetailAccountSetting').toggle();
        });
        $('#viewButtonAdditional').click(function (e) {
            e.preventDefault();
            //console.log(data)
            $('#editDataAdditionalAccountSetting').toggle();
            $('#showDataDetailAccountSetting').toggle();
        });
        $('#viewAdditionalSetting').click(function (e) {
            e.preventDefault();
            //console.log(data)
            $('#editDataDetailAccountSetting').toggle();
            $('#editDataAdditionalAccountSetting').toggle();
        });
        var gend = "{{ data.gender }}";
        var BlGroup = "{{ data.blood_group }}";

        $('#selectGenderEditProfile').val(gend).change();
        $('#selectBloodGroupEditProfile').val(BlGroup).change();
        $('#printPdfMyProfile').click(function (e) {

            $('#myProfilePrintableArea').clone("#print-me");

            // console.log($('#print-me').html())
            //Print the window.
            window.print();
            //Restore the styles.
            $("body").removeClass("printing");
            //Clear up the div.
            $("#print-me").empty();
            //  e.preventDefault();
            // w=window.open();
            //w.document.write($('#showDataDetailAccountSetting').html());
            //w.print();
            //w.close();
        });
    });

    // emailBtn
    // usernameBtn

    $("#emailBtnx").click(function (e) {
        // e.preventDefault();

        var username = '{{ data.username }}';
        var id_user = '{{ data.id_user }}';
        var email = $("#emailx").val();

        if (email.length == 0) {
            Swal.fire({
                type: 'warning',
                title: 'Oops...',
                text: 'Email Tidak Boleh Kosong'
            });

            return false;
        }
        else {

            $.ajax({
                url: "/ubah-email",
                type: "POST",
                dataType: "json",
                data: {
                    "username": username,
                    "email": email,
                    'id_user': id_user
                },
                success: function (response) {
                    // let status = response.status;
                    console.log(response);

                    // return false;

                    if (status != 'success') {
                        Swal.fire({
                            type: 'warning',
                            title: 'Oops...',
                            text: 'Email Terdaftar'
                        });
                    }
                    else {
                        Swal.fire(
                            'Verifikasi Email Telah terikirm',
                            'Silahkan cek email kamu untuk memproses',
                            'success'
                        ).then((result) => {
                            window.location.reload();
                        });

                    }
                },
            });
        }
    });

    $("#usernameBtnx").click(function (e) {
        e.preventDefault();

        var username = $("#usernamex").val();
        var email = '{{ data.email }}';

        if (username.length == 0) {
            Swal.fire({
                type: 'warning',
                title: 'Oops...',
                text: 'Username Tidak Boleh Kosong'
            });

            return false;
        }
        else {

            $.ajax({
                url: "/ubah-username",
                type: "POST",
                dataType: "json",
                data: {
                    "username": username,
                    "email": email,
                },
                success: function (response) {
                    let status = response.status;
                    console.log(status);

                    // return false;

                    if (status != 'success') {
                        Swal.fire({
                            type: 'warning',
                            title: 'Oops...',
                            text: 'Username Terdaftar'
                        });
                    }
                    else {
                        Swal.fire(
                            'Berhasil',
                            'Username Berhasil Diubah',
                            'success'
                        ).then((result) => {
                            window.location.reload();
                        });

                    }
                },
            });
        }
    });


    $("#passwordBtn").click(function (e) {
        // e.preventDefault();

        var pass1 = $("#pass1").val();
        var pass2 = $("#pass2").val();
        var username = '{{ data.username }}';

        if (pass1 != pass2) {
            Swal.fire({
                type: 'warning',
                title: 'Oops...',
                text: 'Password Tidak Sama!'
            });

            return false;


            // remove attr sesudah submit
            $(function () {
                $('.submitBtn').click(function () {
                    $(':input', '#additionalSetting')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected')
                        .removeAttr('input');
                });
            });
        }
        if (pass1.length == 0) {
            Swal.fire({
                type: 'warning',
                title: 'Oops...',
                text: 'Password Tidak Boleh Kosong'
            });

            return false;


            // remove attr sesudah submit
            $(function () {
                $('.submitBtn').click(function () {
                    $(':input', '#additionalSetting')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected')
                        .removeAttr('input');
                });
            });
        }
        else {

            $.ajax({
                url: "/ubah-password",
                type: "POST",
                dataType: "json",
                data: {
                    "username": username,
                    "password": pass1,
                },
                success: function (response) {
                    Swal.fire(
                        'Berhasil',
                        'Password Berhasil Diubah',
                        'success'
                    );
                },
            });
        }
    });

</script>
{% endblock content %}