{% extends "/layout/master.html" %}
{% set title = "Attend" %}
{% set typeFrontEnd = "Attend" %}
{% set section_type = "Attend" %}
{% block content %}
<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* th on hover */
    .checkAllAttend:hover {
        background-color: darkgrey;
        opacity: 75%;
    }
</style>
<div class="row">
    <!-- Student Attendence Search Area Start Here -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Kehadiran Siswa</h3>
                    </div>
                    <!-- <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div> -->
                </div>
                <form class="new-added-form" id="attendSheetCheckForm">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Kelas</label>
                            <select class="select2" id="classAttendType" required>
                                <option value="">Pilih Kelas</option>
                                {% for class in class %}
                                {% if class.id_class == 0 %}
                                {% else %}
                                <option value="{{class.id_class}}">{{class.class}} {{class.section}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Tahun Ajaran</label>
                            <select class="select2" id="sessionAttendType" required>
                                <option value="">Pilih Tahun Ajaran</option>
                                {% for sessionAttend in sessionAttend %}
                                <option value="{{sessionAttend}}">{{sessionAttend}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Pilih Mata Pelajaran</label>
                            <select class="select2" id="subjectAttendType" required>
                                <option value="">Pilih Mata Pelajaran</option>
                                {% for subject in subject %}
                                {% if subject.id_subject == 0 %}
                                {% else %}
                                <option value="{{subject.id_subject}}">{{subject.subject_name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-12 form-group">
                            <label>Tanggal</label>
                            <input type="date" name="dateAttendType" id="dateAttendType" class="form-control" required>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" id="viewAttendSheetButton"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">View</button>
                            <button type="reset" id="resetAttendSheetButton"
                                class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Student Attendence Search Area End Here -->
    <!-- Student Attendence Area Start Here -->
    <div class="col-12" id="attendSheetView">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3 id="titleAttendSheet">Attendence Sheet Of Class One: Section A, April 2019</h3>
                    </div>
                    <!-- <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div> -->
                </div>
                {# <input type="checkbox" name="" id=""> #}
                <div class="table-responsive">
                    <form method="post" id="attendSheetAbsence">
                        <table class="table bs-table table-striped table-bordered text-nowrap" id="attendSheet">
                            <thead>
                                <tr id="studentFormAttendViewSheet">
                                    <th>No</th>
                                    <th>NISN</th>
                                    <th>Nama</th>
                                    <th>Absen</th>
                                </tr>
                            </thead>
                            <tbody id="dateAttendViewSheet">

                            </tbody>
                        </table>
                        <button type="submit"
                            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark mx-2 my-4">Absence</button>
                        <button
                            class="btn-fill-lg bg-blue-dark btn-hover-yellow mx-2 my-4" id="checkAll">Check all</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Attendence Area End Here -->
<!-- Some Jquery Start Here -->
<script>
    $(document).ready(function () {
        const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
            "October", "November", "December"
        ];
        var dateMonthRaw;
        $('#attendSheetView').hide();
        
        attendance = function () {
            
            var classAttendType = $('#classAttendType').val(),
            sessionAttendType = $('#sessionAttendType').val(),
            subjectAttendType = $('#subjectAttendType').val(),
            dateAttendType = $('#dateAttendType').val();
            //console.log(classTaskType);
            
            AttendSheetTable  = $("#attendSheet").on('preXhr.dt', function (e, settings, data) {
                
                
            }).on('draw.dt', function () {
            }).DataTable({
                "searching": false,
                paging: false,
                info: false,
                responsive: {
                    details: {
                        type: 'column'
                    }
                },
                "columnDefs": [
                    { "width": "1%", "targets": 0, className: "text-center", "orderable": false },
                    { "width": "10%", "targets": 1, className: "text-center", "orderable": false },
                    { "targets": 2, className: "text-start", "orderable": false },
                    { "targets": 3, className: "text-center", "orderable": false },

                ],
                'pageLength': 10,
                'responsive': true,
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': "/viewAttendSheetDataTable",
                    'dataType:': 'json',
                    'type': 'GET',
                    'data': {
                        'class': classAttendType,
                        'subject': subjectAttendType,
                        'session': sessionAttendType,
                        'date' : dateAttendType
                    },                   
                },
                'columns': [
                    { 'data': 'no' },
                    { 'data': 'nisn' },
                    { 'data': 'nama' },
                    { 'data': 'absen' },
                ]


            });


        }

        $('#attendSheetCheckForm').submit(function (e) {
            e.preventDefault();
            $('#attendSheet').DataTable().clear().destroy(); 
            attendance();
            $('#attendSheetView').show();
        }); 
        $('#checkAll').click(function(e){
            e.preventDefault()
            var date = $('#dateAttendType').val();
            console.log(date);
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            console.log(today, date)
            if (date !== today) return
            console.log($('input[data-idCallDate="' + date + '"]'))
            var $checkAll = $('input[data-idCallDate="' + date + '"]')
            var values = [];
            $.each($checkAll, function (i, item) {
                if($(item).prop('checked')==true){
                    $(item).prop('checked', false)
                }else{
                    $(item).prop('checked', true)
                }
            });
        })
        $('#attendSheetAbsence').submit(function (e) {
            e.preventDefault();
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            var date_send = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                return $(el).attr('data-idcalldate');
            }).get();
            var id_user = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                return $(el).attr('data-idUser');
            }).get();
            var abs = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                if ($(el).is(":checked")) {
                    return 1
                } else {
                    return 0
                }
            }).get();
            var id_subject = $('#subjectAttendType').val();
            var id_class = $('#classAttendType').val();
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success mx-3',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Absence!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/sendAbsence",
                        data: {
                            date: date_send,
                            user: id_user,
                            subject: id_subject,
                            class: id_class,
                            absence: abs,
                        },
                        dataType: "JSON",
                        success: function (response) {
                            console.log(response)
                            swalWithBootstrapButtons.fire(
                                'Absence!',
                                'Absence was sended',
                                'success'
                            ).then((result) => {
                                //$('input[type="checkbox"]').attr('disabled',true)
                            })
                        }
                    });

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            })
        });
        $('#resetAttendSheetButton').click(function (e) {
            e.preventDefault();
            $('#classAttendType').val('').change();
            $('#subjectAttendType').val('').change();
            $('#sessionAttendType').val('').change();
            $('#viewAttendSheetButton').attr('disabled', false)
            $('#attendSheetView').hide();
            $('#studentFormAttendViewSheet').empty();
            $('#dateAttendViewSheet').empty();

        })
    })

    function selectAll(e) {
        

    }
</script>
<!-- Some Jquery End Here -->


{% endblock content %}