{% extends "/layout/master.html" %}
{% set title = "Attend" %}
{% set typeFrontEnd = "Attend" %}
{% set section_type = "Attend" %}
{% block content %}
<style>
    /* Customize the label (the container) */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked~.checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked~.checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* th on hover */
    .checkAllAttend:hover {
        background-color: darkgrey;
        opacity: 75%;
    }
</style>
<div class="row">
    <!-- Student Attendence Search Area Start Here -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3>Student Attendence</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                <form class="new-added-form" id="attendSheetCheckForm">
                    <div class="row">
                        <div class="col-xl-4 col-lg-12 col-12 form-group">
                            <label>Select Class</label>
                            <select class="select2" id="classAttendType">
                                <option value="">Select Class</option>
                                {% for class in class %}
                                {% if class.id_class == 0 %}
                                {% else %}
                                <option value="{{class.id_class}}">{{class.class}} {{class.section}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-12 form-group">
                            <label>Select Subject</label>
                            <select class="select2" id="subjectAttendType">
                                <option value="">Select Subject</option>
                                {% for subject in subject %}
                                    {% if subject.id_subject == 0 %}
                                    {% else %}
                                    <option value="{{subject.id_subject}}">{{subject.subject_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-4 col-lg-12 col-12 form-group">
                            <label>Select Session</label>
                            <select class="select2" id="sessionAttendType">
                                <option value="">Select Session</option>
                                {% for sessionAttend in sessionAttend %}
                                <option value="{{sessionAttend}}">{{sessionAttend}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 form-group mg-t-8">
                            <button type="submit" id="viewAttendSheetButton"
                                class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">View</button>
                            <button type="reset" id="resetAttendSheetButton" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Student Attendence Search Area End Here -->
    <!-- Student Attendence Area Start Here -->
    <div class="col-12" id="attendSheetView">
        <div class="card">
            <div class="card-body">
                <div class="heading-layout1">
                    <div class="item-title">
                        <h3 id="titleAttendSheet">Attendence Sheet Of Class One: Section A, April 2019</h3>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                            aria-expanded="false">...</a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                            <a class="dropdown-item" href="#"><i
                                    class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                        </div>
                    </div>
                </div>
                {# <input type="checkbox" name="" id=""> #}
                <div class="table-responsive">
                    <form method="post" id="attendSheetAbsence">
                        <table class="table bs-table table-striped table-bordered text-nowrap">
                            <thead>
                                <tr id="studentFormAttendViewSheet">
                                    
                                </tr>
                            </thead>
                            <tbody id="dateAttendViewSheet">
                            </tbody>
                        </table>
                        <button type="submit"
                            
                            class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Absence</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Student Attendence Area End Here -->
<!-- Some Jquery Start Here -->
<script>
    $(document).ready(function () {
        const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        var dateMonthRaw;
        $('#attendSheetView').hide();
        //setvaluedefault
        //$('#classAttendType').val();
        //$('#sessionAttendType').val();
        //$('#subjectAttendType').val();
        $('#attendSheetCheckForm').submit(function (e) {
            e.preventDefault();
            if ($('#viewAttendSheetButton').attr('disabled') == true) {
                return
            }
            var classAttendType = $('#classAttendType').val(),
                subjectAttendType = $('#subjectAttendType').val(),
                //monthAttendType = $('#monthAttendType').val(),
                sessionAttendType = $('#sessionAttendType').val();
            $.ajax({
                type: "GET",
                url: "/viewAttendSheet",
                data: {
                    class: classAttendType,
                    subject: subjectAttendType,
                    //month: monthAttendType,
                    session: sessionAttendType
                },
                dataType: "JSON",
                success: function (response) {
                    console.log(response)
                    viewStudent = response.dataStudentArrivedInAttend
                    $('#viewAttendSheetButton').attr('disabled', true)
                    $('#attendSheetView').show();
                    $('#studentFormAttendViewSheet').append('<input type="text" name="subject" value="'+subjectAttendType+'" hidden></input><input type="text" name="class" value="'+classAttendType+'" hidden></input>')
                    $('#titleAttendSheet').html('Attendence Sheet Of Class ' + viewStudent[0]
                        .class + ' ' + viewStudent[0].section + ': Subject '+response.subjectStudentAttend[0].subject_name);
//                     var date = new Date();
//                     var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);
//                     var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
//                     var loopUntilLastDay = lastDay.getDate();
//                     let resultTbl = '';
//                     for (let i = 0; i < response.length; i++) {
//                         resultTbl += '<tr data-idStudent="' + response[i].id_user +
//                             '"><td>' + response[i].first_name + ' ' + response[i]
//                             .last_name + '</td>'
//                         for (let j = 0; j < loopUntilLastDay; j++) {
//                             //save later, if teacher, cannot edit the attend except today
//                             resultTbl += '<td><input type="checkbox" class="attendCheckbox" data-idUserAttend="'+response[i].id_user+'" data-idDateCheckbox="2022/'+monthAttendType+'/'+(
//                                 j + 1) +
//                             '"><span class="checkmark"></span></td>';
//                         }
//                         resultTbl += '</tr>';
                        
//                     }
//                     //console.log(resultTbl)
//                     $('#studentFormAttendViewSheet').html(resultTbl);
//                     for (let i = 0; i < loopUntilLastDay; i++) {
//                         $('#dateAttendViewSheet').append(
//                             '<th class="checkAllAttend" onclick="selectAll(`2022/'+monthAttendType+'/'+(i + 1) +
//                             '`)">' + (i + 1) + '</th>');
//                     }
                    $('#studentFormAttendViewSheet').append('<th class="text-left select-all">Students</th>')
                    for(let i = 0; i < viewStudent.length;i++){    
                        $('#studentFormAttendViewSheet').append('<th data-idStudent="' + viewStudent[i].id_user+'">' + viewStudent[i].first_name + ' ' + viewStudent[i].last_name + '</th>')
                    }
                    let resultTbl = '';
                    let typeUser = response.typeUser;
                    for(let i = 0; i < response.dateStudentAttend.length; i++){
                        resultTbl += '<tr onclick="selectAll(event)"><th>'+response.dateStudentAttend[i]+'</th>';
                        for(let j = 0; j <  viewStudent.length;j++){
                            if(response.checkStudentDateIfExistChecklist[j].includes(response.dateStudentAttend[i])){
                                resultTbl += '<td><input type="checkbox" data-idCallDate="'+response.dateStudentAttend[i]+'" data-idUserAttend="'+viewStudent[j].id_user+'" class="attendCheckbox" checked></td>'    
                            }else{
                                resultTbl += '<td><input type="checkbox" data-idCallDate="'+response.dateStudentAttend[i]+'" data-idUserAttend="'+viewStudent[j].id_user+'" class="attendCheckbox"></td>'
                            }
                        }
                        resultTbl += '</tr>';
                    }
                    $('#dateAttendViewSheet').html(resultTbl);
                    var today = new Date();
                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();

                    today = yyyy + '-' + mm + '-' + dd;
                    console.log(today)
                    //if date != now && userType != admin, disabled
                    if(typeUser !== '3'){
                        $('input[type="checkbox"]').not($('input[data-idCallDate="'+today+'"]')).attr('disabled',true)
                        $('input[type="checkbox"]').not($('input[data-idCallDate="'+today+'"]')).addClass('bg-secondary')
                    }
                }
            });
        });
        
        $('#attendSheetAbsence').submit(function (e) { 
            e.preventDefault();
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;
            var date_send = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                return $(el).attr('data-idcalldate');
            }).get();
            var id_user = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                return $(el).attr('data-idUserAttend');
            }).get();
            var abs = $('input[type=checkbox]').map(function (_, el) {
                //if($(el).attr('data-idcalldate') != today) return
                if ($(el).is(":checked"))
                {
                    return 1
                }else{
                    return 0
                }
            }).get();
            var id_subject = $('input[type=text]').map(function (_, el) {
                return $(el).val();
            }).get();
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                  confirmButton: 'btn btn-success mx-3',
                  cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
              })
              
              swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Absence!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
              }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/sendAbsence",
                        data: {
                            date:date_send,
                            user:id_user,
                            subject:id_subject,
                            absence:abs,
                        },
                        dataType: "JSON",
                        success: function (response) {
                            console.log(response)
                            swalWithBootstrapButtons.fire(
                                'Absence!',
                                'Absence was sended',
                                'success'
                            ).then((result)=>{
                                //$('input[type="checkbox"]').attr('disabled',true)
                            })
                        }
                    });
                  
                } else if (
                  /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                  swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Your imaginary file is safe :)',
                    'error'
                  )
                }
              })
        });
        $('#resetAttendSheetButton').click(function(e){
            e.preventDefault();
            $('#classAttendType').val('').change();
            $('#subjectAttendType').val('').change();
            $('#sessionAttendType').val('').change();
            $('#viewAttendSheetButton').attr('disabled', false)
            $('#attendSheetView').hide();
            $('#studentFormAttendViewSheet').empty();
            $('#dateAttendViewSheet').empty();

        })
    })
    function selectAll(e){
        var row = $(e.target).text();
        console.log(row);
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        console.log(today, row)
        if(row !== today) return
        console.log($('input[data-idCallDate="'+ row +'"]'))
        var $checkAll = $('input[data-idCallDate="'+ row +'"]')
        var values=[];
        $.each($checkAll, function(i, item) {
            $(item).prop('checked',true)
        });
        
    }
</script>
<!-- Some Jquery End Here -->


{% endblock content %}