{% if (session.freshAccount == true) and (myProfile is not defined)  %}  
    <div class="alert alert-primary" role="alert">
        Ayo lengkapi data dirimu <a href="/profile-setting">Disini!</a>
  </div>
{% endif %}

<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area" id="nav-breadcrumbs">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        {# {{ section_type }} #}
        {% if section_type is not null %}
        <li>{{ section_type }}</li>
        {% endif %}
    </ul>
</div>
<!-- Breadcubs Area End Here -->