<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>AKKHOR | {{title}} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/css/all.min.css">
        <!-- jquery-->
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
        <!-- Favicon -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">

    
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/css/select2.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="/css/datepicker.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>
    <!-- Google translate -->
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

    
</head>
<body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <div id="wrapper" class="wrapper bg-ash">
        {% include "layout/nav.html" %}
        {% block nav %}
        
        {% endblock nav %}
        <!-- Page Area Start Here -->
        <div class="dashboard-page-one">
            {% include "/layout/sidebar.html" %}
            {% block sidebar %}
            
            {% endblock sidebar %}
            <div class="dashboard-content-one">
                {% include "/layout/Breadcubs.html" %}
                {% block Breadcubs %}
                
                {% endblock Breadcubs %}
                {% block content %}
                
                {% endblock content %}
                {% include "/layout/footer.html" %}
                {% block footer %}
                    
                {% endblock footer %}
            </div>
        </div>
        <!-- Page Area End Here -->
    </div>
     <!-- Plugins js -->
     <script src="/js/plugins.js"></script>
     <!-- Popper js -->
     <script src="/js/popper.min.js"></script>
     <!-- Bootstrap js -->
     <script src="/js/bootstrap.min.js"></script>
     <!-- Select 2 Js -->
    <script src="/js/select2.min.js"></script>
     <!-- Counterup Js -->
     <script src="/js/jquery.counterup.min.js"></script>
     <!-- Moment Js -->
     <script src="/js/moment.min.js"></script>
     <!-- Waypoints Js -->
     <script src="/js/jquery.waypoints.min.js"></script>
     <!-- Date Picker Js -->
     <script src="/js/datepicker.min.js"></script>
     <!-- Smoothscroll Js -->
     <script src="/js/jquery.smoothscroll.min.js"></script>
     <!-- Scroll Up Js -->
     <script src="/js/jquery.scrollUp.min.js"></script>
     <!-- Full Calender Js -->
     <script src="/js/fullcalendar.min.js"></script>
     <!-- Google Map js -->
     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtmXSwv4YmAKtcZyyad9W7D4AC08z0Rb4"></script>
     <!-- Map Init js -->
     <script src="js/google-marker-map.js"></script>
     <!-- Chart Js -->
     <script src="/js/Chart.min.js"></script>
     <!-- Custom Js -->
     <script src="/js/main.js"></script>
    </body>
    </html>