{% block nav %} {# starter div #}

<script>
  var countMessage;
  var notifCount;
</script>
<!-- Header Menu Area Start Here -->
<div class="navbar navbar-expand-md header-menu-one bg-light">
  <div class="nav-bar-header-one">
    <div class="header-logo">
      <a href="/">
        <img src="/img/logo.png" alt="logo" />
      </a>
    </div>
    <div class="toggle-button sidebar-toggle">
      <button type="button" class="item-link">
        <span class="btn-icon-wrap">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>
    </div>
  </div>
  <div class="d-md-none mobile-nav-bar">
    <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar"
      aria-expanded="false">
      <i class="far fa-arrow-alt-circle-down"></i>
    </button>
    <button type="button" class="navbar-toggler sidebar-toggle-mobile">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
    <ul class="navbar-nav">
      <li class="navbar-item header-search-bar">
        <!-- <div class="input-group stylish-input-group">
          <span class="input-group-addon">
            <button type="submit">
              <span class="flaticon-search" aria-hidden="true"></span>
            </button>
          </span>
          <input type="text" class="form-control" placeholder="Find Something . . ." />
        </div> -->
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="navbar-item dropdown header-admin">
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <div class="admin-title">
            <h5 class="item-title">
              {% if session.user == ' ' %} {{ session.username }} {% else %} {{ session.user }} {% endif %}
            </h5>
            <span>{{ session.type_user }}</span>
          </div>
          <div class="admin-img">
            <img src="/uploads/Profile/{{session.photo_user}}" style="" class="" alt="Admin" />
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="item-header">
            <h6 class="item-title">{% if session.user == ' ' %} {{ session.username }} {% else %} {{ session.user }} {%
              endif %}</h6>
          </div>
          <div class="item-content">
            <ul class="settings-list">
              <li>
                <a href="/profile-setting"><i class="flaticon-user"></i>My Profile</a>
              </li>
              {# <li>
                <a href="#"><i class="flaticon-list"></i>Task</a>
              </li> #}
              <li>
                <a href="/messaging"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a>
              </li>
              {# <li>
                <a href="/account-settings"><i class="flaticon-gear-loading"></i>Account Settings</a>
              </li> #}
              <li>
                <a href="/logout"><i class="flaticon-turn-off"></i>Log Out</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="navbar-item dropdown header-message">
        {% if (auth is empty) or (auth[0].totalMessage == 0) %}
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-envelope"></i>
          <div class="item-title d-md-none text-16 mg-l-10">Message</div>
        </a>
        {% else %}
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-envelope"></i>
          <div class="item-title d-md-none text-16 mg-l-10">Message </div>
          {# Jumlah total message #}
          <span id="iconCountMessage"></span>
        </a>
        {% endif %}


        <div class="dropdown-menu dropdown-menu-right">
          <div class="item-header">
            {# Jumlah total message #}
            {# {{auth|json_encode()}} #}
            <h6 class="item-title" id="countMessage">Message </h6>
          </div>
          <div class="item-content">
            {# message start here #}
            {% for message in auth %}
            {% set countMessag = message.totalMessage %}
            {% if message.readed == 1 %}
            <div class="media message_Class" style="opacity: 40%;" data-idMessage="{{message.id_message}}"
              data-toggle="modal" data-target="#messageViewModal">
              {% else %}
              <div class="media message_Class" data-idMessage="{{message.id_message}}" data-toggle="modal"
                data-target="#messageViewModal">
                {% endif %}
                <div class="item-img bg-skyblue">
                  <img src="/uploads/Profile/{{message.photo_sender}} "
                    style="width: 40px; height: 40px; object-fit: cover;" alt="img" />
                </div>
                <div class="media-body space-sm">
                  <div class="item-title">
                    <a href="#">
                      <span class="item-name">{{message.first_name_sender}} {{message.last_name_sender}}</span>
                      <span class="item-time">{{message.time_sended|date("m/d/Y")}}</span>

                    </a>
                  </div>
                  <p>{{message.title}}</p>
                  <p>{{message.time_sender}}</p>
                  {# <p>
                    {{message.message}}
                  </p> #}
                </div>
              </div>

              <script>
                countMessage = "{{countMessag}}";
                //console.log(countMessage);
              </script>
              {% endfor %}
              {# message end here #}
            </div>
          </div>
      </li>
      <li class="navbar-item dropdown header-notification">
        {% if notif is empty %}
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-bell"></i>
          <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
        </a>
        {% else %}
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-bell"></i>
          <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
          <span id="iconTotalNotification">{{notif[0].totalNotif}}</span>
        </a>
        {# {{notif|json_encode()|raw}} #}
        {% set notifCount = notif[0].totalNotif %}
        <script>
          notifCount = '{{notifCount}}';
          console.log(notifCount)
        </script>
        {% endif %}


        <div class="dropdown-menu dropdown-menu-right ">
          <div class="item-header">
            <h6 class="item-title" id="headerTotalNotification"> Notifications</h6>
          </div>
          <div class="item-content" id="notification-nav">

          </div>
        </div>
      </li>

      {#
      <li class="navbar-item dropdown header-language">
        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
          aria-expanded="false"><i class="fas fa-globe-americas"></i>EN</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">English</a>
          <a class="dropdown-item" href="#">Spanish</a>
          <a class="dropdown-item" href="#">Franchis</a>
          <a class="dropdown-item" href="#">Chiness</a>
        </div>
      </li>
      #}
      <i class="fas fa-globe-americas"></i>
      <div id="google_translate_element"></div>
    </ul>
  </div>
</div>
<!-- Header Menu Area End Here -->
<!-- Modal Area Start Here -->

<div class="modal fade" id="messageViewModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="idFromMessageModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body" id="messageModal">
        <div class="media message_class">
          <div class="item-img">
            <img src="" style="width: 60px; height: 60px; object-fit: cover;" class="rounded-circle" alt="img" id="profileMessageSenderModal" />
          </div>
          <div class="media-body space-sm">
            <div class="item-title">
              <p href="#" class="text-uppercase font-weight-bold text-primary ml-3">
                <span class="item-name" id="nameMessageSenderModal"></span>
                <br>
              </p>
            </div>
            <p id="titleMessageSenderModal" class="font-weight-bold ml-3">AAAAA</p>
          </div>
          <span class="item-time" style="text-align: right;" id="timeMessageSenderModal"></span>
        </div>
        <p id="detailsMessageSenderModal" class="mt-0">AAAA</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="footer-btn bg-dark-low" data-dismiss="modal">Close</button>
        <button class="footer-btn bg-primary" id="balasBtn"><i class="fa fa-paper-plane mr-3"
            aria-hidden="true"></i>Balas</button>
        <!-- <button type="button" class="footer-btn bg-linkedin">Save
          Changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal Area End Here -->
<script>
  $(document).ready(function () {
    console.log(countMessage)
    console.log(notifCount)
    if (countMessage == null || countMessage == 0) {
      $('#iconCountMessage').html(countMessage);
      $('#countMessage').html('0 New Message');
    } else {
      $('#iconCountMessage').html(countMessage);
      $('#countMessage').html('' + countMessage + ' New Message');
    }
    if (notifCount == null || countMessage == 0) {
      $('#iconTotalNotification').html(notifCount);
      $('#headerTotalNotifications').html('0 New Notifications');
    } else {
      $('#iconTotalNotification').html(notifCount);
      $('#headerTotalNotification').html('' + notifCount + ' New Notifications');
    }
    $('.message_Class').click(function (e) {
      e.preventDefault();
      var id = $(this).attr('data-idMessage');
      console.log(this)
      $.ajax({
        type: "POST",
        url: "/readedMessage",
        data: {
          id_message: id
        },
        dataType: "JSON",
        success: function (response) {
          console.log(response)
          $(e.currentTarget).attr('style', 'opacity: 50%;')
          console.log(e)
          countMessage = parseInt(countMessage);
          //countMessage -= 1;
          $('#iconCountMessage').html(countMessage);
          $('#countMessage').html('' + countMessage + ' New Message');
        }
      });
    });
    $('#messageViewModal').on('show.bs.modal', function (e) {
      var button = $(e.relatedTarget)
      var recipient = button.data('idmessage');
      console.log(recipient);
      $.ajax({
        type: "GET",
        url: "/getMessageDetails",
        data: {
          id_message: recipient
        },
        dataType: "JSON",
        success: function (response) {
          console.log(response)
          //$('#messageModal').html('');
          var day = new Date(response[0].time_sended)
          $('#profileMessageSenderModal').attr('src', '/uploads/Profile/' + response[0].photo_sender)
          $('#nameMessageSenderModal').text(response[0].first_name_sender + ' ' + response[0]
            .last_name_sender)
          $('#balasBtn').attr('data-idMessage',recipient)
          $('#balasBtn').attr('onclick','drawMessage('+recipient+')');
          $('#timeMessageSenderModal').text(day.toDateString())
          $('#titleMessageSenderModal').text(response[0].title)
          $('#detailsMessageSenderModal').text(response[0].message)
        }
      });
    })
    
    function difference2Parts(milliseconds) {
      const secs = Math.floor(Math.abs(milliseconds) / 1000);
      const mins = Math.floor(secs / 60);
      const hours = Math.floor(mins / 60);
      const days = Math.floor(hours / 24);
      const millisecs = Math.floor(Math.abs(milliseconds)) % 1000;
      const multiple = (term, n) => n !== 1 ? `${n} ${term}s` : `1 ${term}`;

      return {
        days: days,
        hours: hours % 24,
        hoursTotal: hours,
        minutesTotal: mins,
        minutes: mins % 60,
        seconds: secs % 60,
        secondsTotal: secs,
        milliSeconds: millisecs,
        get diffStr() {
          return `${multiple(`day`, this.days)}, ${multiple(`hour`, this.hours)}, ${multiple(`minute`, this.minutes)} and ${multiple(`second`, this.seconds)}`;
        },
        get diffStrMs() {
          return `${this.diffStr.replace(` and`, `, `)} and ${multiple(`millisecond`, this.milliSeconds)}`;
        },
      };
    }

    function untilXMas(date) {
      const nextChristmas = new Date(date);
      const report = document.querySelector(`#nextXMas`);

      const diff = () => {
        const diffs = difference2Parts(nextChristmas - new Date());
        report.innerHTML = `Awaiting next XMas 🙂 (${diffs.diffStrMs.replace(/(\d+)/g, a => `<b>${a}</b>`)})<br>
          <br>In other words, until next XMas lasts&hellip;<br>
          In minutes: <b>${diffs.minutesTotal}</b><br>In hours: <b>${diffs.hoursTotal}</b><br>In seconds: <b>${diffs.secondsTotal}</b>`;
        setTimeout(diff, 200);
      };
      return difference2Parts(nextChristmas - new Date());
    }

    function drawNotice(s) {
      //console.log(s);
      const months = ["Januari", "Febuari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus",
        "September", "Oktober", "November", "Desember"
      ];
      //drawNotice();
      $.ajax({
        type: "GET",
        url: "/getNoticeNavbar",
        data: {
          search: s
        },
        dataType: "JSON",
        success: function (response) {
          console.log(response)
          $('#notice-list').empty();
          $.each(response, function (i, data) {
            data += data[i]
            var dAwal = new Date(response[i].date_notice)
            var bulan = months[dAwal.getMonth()];
            var tanggal = dAwal.getDate();
            var tahun = dAwal.getFullYear();
            var minus = untilXMas(dAwal);
            //console.log(minus)
            //console.log(minus.minutesTotal);
            var difference;
            if (minus.minutesTotal <= 60) {
              difference = minus.minutesTotal + ' menit lalu';
            } else if (minus.hoursTotal <= 24) {
              difference = minus.hoursTotal + ' jam lalu';
            } else {
              difference = minus.days + ' hari lalu';
            }

            console.log(response[i].category)
            var classCategory;
            var iconCategory;
            switch (response[i].category) {
              case 'Exam': {
                classCategory = 'bg-warning'
                iconCategory = 'fas fa-book'
              }
                break;
              case 'Pembayaran_Gaji': case 'Pembayaran_SPP': {
                classCategory = 'bg-success'
                iconCategory = 'fas fa-money-bill'
              }
                break;
              case 'Event': {
                classCategory = 'bg-danger'
                iconCategory = 'fas fa-calendar-check'
              }
                break;
              case 'Pengumuman_Sekolah': {
                classCategory = 'bg-primary'
                iconCategory = 'fas fa-bell'
              }
                break;
              default: {

              }
                break;
            }

            $('#notification-nav').append('<div class="media"><div class="item-icon ' + classCategory + '"><i class="' + iconCategory + '"></i></div><div class="media-body space-sm"><div class="post-title">' + response[i].title + '</div><span id="timeNotificationNav">' + difference + '</span></div></div>')

          });
        },
        complete: function () { }
      });
    };
    drawNotice();
    
  });
  function drawMessage(id_user){
    console.log(id_user);
    $.ajax({
      type: "GET",
      url: "/getMessageReply",
      data: {
        id_message: id_user
      },
      dataType: "JSON",
      success: function (response) {
        console.log('AAAA')
        // window.location.href = '/messaging'
        window.location.replace("/messaging")
        //$('#messageModal').html('');
      }
    });
  }
</script>
{% endblock nav %}